___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

<img src=https://i.ibb.co/wJW61Y2/Used-cars.jpg width="700" height="200">

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">The Capstone Project of Data Analytics Module</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:150%; text-align:center; border-radius:10px 10px;">Car Price Prediction EDA</p>

## Introduction
Welcome to "***AutoScout Data Analysis Project***". This is the capstone project of ***Data Analysis*** Module. **Auto Scout** data which using for this project, scraped from the on-line car trading company in 2019, contains many features of 9 different car models. In this project, you will have the opportunity to apply many commonly used algorithms for Data Cleaning and Exploratory Data Analysis by using many Python libraries such as Numpy, Pandas, Matplotlib, Seaborn, Scipy you will analyze clean dataset.

### Some Reminders on Exploratory data analysis (EDA)

Exploratory data analysis (EDA) is an especially important activity in the routine of a data analyst or scientist. It enables an in depth understanding of the dataset, define or discard hypotheses and create predictive models on a solid basis. It uses data manipulation techniques and several statistical tools to describe and understand the relationship between variables and how these can impact business. By means of EDA, we can obtain meaningful insights that can impact analysis under the following questions (If a checklist is good enough for pilots to use every flight, it’s good enough for data scientists to use with every dataset).
1. What question are you trying to solve (or prove wrong)?
2. What kind of data do you have?
3. What’s missing from the data?
4. Where are the outliers?
5. How can you add, change or remove features to get more out of your data?

**``Exploratory data analysis (EDA)``** is often an **iterative brainstorming process** where you pose a question, review the data, and develop further questions to investigate before beginning model development work. The image below shows how the brainstorming phase is connected with that of understanding the variables and how this in turn is connected again with the brainstorming phase.<br>

<img src=https://i.ibb.co/k0MC950/EDA-Process.png width="300" height="100">

[Image Credit: Andrew D.](https://towardsdatascience.com/exploratory-data-analysis-in-python-a-step-by-step-process-d0dfa6bf94ee)

**``In this context, the project consists of 3 parts in general:``**
* **The first part** is related to 'Data Cleaning'. It deals with Incorrect Headers, Incorrect Format, Anomalies, and Dropping useless columns.
* **The second part** is related to 'Filling Data', in other words 'Imputation'. It deals with Missing Values. Categorical to numeric transformation is done as well.
* **The third part** is related to 'Handling Outliers of Data' via Visualization libraries. So, some insights will be extracted.

**``NOTE:``**  However, you are free to create your own style. You do NOT have to stick to the steps above. We, the DA & DV instructors, recommend you study each part separately to create a source notebook for each part title for your further studies.

# PART- 1 `( Data Cleaning )`

In [191]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import patches
import seaborn as sns

import warnings

# Statistics functions
from scipy.stats import norm
from scipy import stats
from scipy.stats import chi2_contingency
from scipy.stats import chi2

In [192]:
# Suppressing a warning 
warnings.filterwarnings("ignore") 

# It is a magic function that renders the figure in the notebook
%matplotlib inline 

# Changing the figure size of a seaborn axes 
sns.set(rc={"figure.figsize": (10, 6)})

# The style parameters control properties like the color of the background and whether a grid is enabled by default.
sns.set_style("whitegrid")

# To display maximum columns
pd.set_option('display.max_columns', None)

# To display maximum columns
# pd.set_option('display.max_rows', 16000)

In [193]:
df = pd.read_json("scout_car.json", lines=True)

## First Impression on Dataset

In [194]:
df.head()

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,hp,Type,Previous Owners,Next Inspection,Inspection new,Warranty,Full Service,Non-smoking Vehicle,null,Make,Model,Offer Number,First Registration,Body Color,Paint Type,Body Color Original,Upholstery,Body,Nr. of Doors,Nr. of Seats,Model Code,Gearing Type,Displacement,Cylinders,Weight,Drive chain,Fuel,Consumption,CO2 Emission,Emission Class,\nComfort & Convenience\n,\nEntertainment & Media\n,\nExtras\n,\nSafety & Security\n,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
0,https://www.autoscout24.com//offers/audi-a1-sportback-1-4-tdi-s-tronic-xenon-navi-klima-diesel-black-bdab349a-caa5-41b0-98eb-c1345b84445e,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,NaN,66 kW,"[, Used, , Diesel (Particulate Filter)]",\n2\n,"[\n06/2021\n, \n99 g CO2/km (comb)\n]","[\nYes\n, \nEuro 6\n]","[\n, \n, \n4 (Green)\n]","[\n, \n]","[\n, \n]",[],\nAudi\n,"[\n, A1, \n]",[\nLR-062483\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nMythosschwarz\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],[\n0588/BDF\n],"[\n, Automatic, \n]","[\n1,422 cc\n]",[\n3\n],"[\n1,220 kg\n]",[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)], [3.5 l/100 km (country)]]",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Hill Holder, Leather steering wheel, Light sensor, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sens...","[Bluetooth, Hands-free equipment, On-board computer, Radio]","[Alloy wheels, Catalytic Converter, Voice Control]","[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headl...","[\n, Sicherheit:, , Deaktivierung für Beifahrer-Airbag, , ESC mit elektronischer Quersperre, , Tagfahrlicht, , Reifendruck-Kontrollanzeige, , Kopfairbag-System mit Seiten-Airbags vorn, , Sicherheitslenksäule, Assistenzsysteme:, , Berganfah...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.autoscout24.com//offers/audi-a1-1-8-tfsi-sport-gasoline-red-b2547f8a-e83f-6237-e053-e250040a56df,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000 km",03/2017,None,NaN,141 kW,"[, Used, , Gasoline]",NaN,NaN,NaN,NaN,NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",NaN,"[\n, 2017, \n]","[\n, Red, \n]",NaN,NaN,"[\nCloth, Grey\n]","[\n, Sedans, \n]",[\n3\n],[\n4\n],[\n0588/BCY\n],"[\n, Automatic, \n]","[\n1,798 cc\n]",[\n4\n],"[\n1,255 kg\n]",[\nfront\n],"[\n, Gasoline, \n]","[[5.6 l/100 km (comb)], [7.1 l/100 km (city)], [4.7 l/100 km (country)]]",[\n129 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Automatic climate control, Hill Holder, Leather steering wheel, Lumbar support, Parking assist system sensors rear, Power windows, Start-stop system, Tinted windows]","[Bluetooth, Hands-free equipment, On-board computer, Radio, Sound system]","[Alloy wheels, Sport seats, Sport suspension, Voice Control]","[ABS, Central door lock, Central door lock with remote control, Daytime running lights, Driver-side airbag, Electronic stability control, Head airbag, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitori...","[\nLangstreckenfahrzeug daher die hohe Kilometerleistung. , Bremsen neu bei 62000 km. , Gut gepflegter A1\n]",[\n4 (Green)\n],[\n7\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.autoscout24.com//offers/audi-a1-sportback-1-6-tdi-s-tronic-einparkhilfe-plus-music-diesel-black-6183cb6a-8570-4b86-a132-9b54214bca88,Audi A1,Sportback 1.6 TDI S tronic Einparkhilfe plus+music,Sedans,14640,VAT deductible,"83,450 km",02/2016,1 previous owner,NaN,85 kW,"[, Used, , Diesel (Particulate Filter)]",\n1\n,NaN,NaN,"[\n, \n, \n99 g CO2/km (comb)\n]",NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",[\nAM-95365\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nmythosschwarz metallic\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n4\n],[\n4\n],NaN,"[\n, Automatic, \n]","[\n1,598 cc\n]",NaN,NaN,[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.4 l/100 km (city)], [3.4 l/100 km (country)]]",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Cruise control, Electrical side mirrors, Hill Holder, Leather steering wheel, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Pow...","[MP3, On-board computer]","[Alloy wheels, Voice Control]","[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]","[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 24.640 EUR, , Komfort, , Klimaanlage, , Elektrische Fensterheber, , Sitzheizung, , Tempomat, , Zentralverriegelung, , Leder-Lenkrad, , Elektrische Spiegel, , Wärmedämmendes Glas, , Anfahrassi...",[\n4 (Green)\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.autoscout24.com//offers/audi-a1-1-4-tdi-design-s-tronic-diesel-brown-35c86585-2727-d61e-e053-e250040ad640,Audi A1,1.4 TDi Design S tronic,Sedans,14500,None,"73,000 km",08/2016,1 previous owner,NaN,66 kW,"[, Used, , Diesel (Particulate Filter)]",\n1\n,NaN,NaN,NaN,"[\n, \n, \n99 g CO2/km (comb)\n]","[\n, \n, \nEuro 6\n]",[],\nAudi\n,"[\n, A1, \n]",NaN,"[\n, 2016, \n]","[\n, Brown, \n]",[\nMetallic\n],NaN,NaN,"[\n, Sedans, \n]",[\n3\n],[\n4\n],NaN,"[\n, Automatic, \n]","[\n1,422 cc\n]",[\n3\n],"[\n1,195 kg\n]",NaN,"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)], [3.5 l/100 km (country)]]",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air suspension, Armrest, Auxiliary heating, Electrical side mirrors, Heads-up display, Hill Holder, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Power windows, Rain sensor, Seat heating,...","[Bluetooth, CD player, Hands-free equipment, MP3, On-board computer, Radio, Sound system, USB]","[Alloy wheels, Sport seats, Voice Control]","[ABS, Alarm system, Central door lock with remote control, Driver drowsiness detection, Driver-side airbag, Electronic stability control, Emergency system, Head airbag, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire...","[\nAudi A1: , - 1e eigenaar , - Perfecte staat: schade/ongevalvrij , - Onderhoudsboekje Audi garage , - Full option!, - S-line opties, - Automaat, lederen bekleding, navi-pro, Xenon lampen, zetelverwarming, automatische airco,...\n]",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.autoscout24.com//offers/audi-a1-sportback-1-4-tdi-s-tronic-s-line-ext-admired-xe-diesel-black-b86b55d8-9c7c-4a58-b658-b97008a51efc,Audi A1,"Sportback 1.4 TDI S-Tronic S-Line Ext. admired, Xe",Sedans,16790,None,"16,200 km",05/2016,1 previous owner,NaN,66 kW,"[, Used, , Diesel (Particulate Filter)]",\n1\n,NaN,"[\nYes\n, \n109 g CO2/km (comb)\n]","[\n, \n, \nEuro 6\n]","[\n, \n, \n4 (Green)\n]","[\n, \n]",[],\nAudi\n,"[\n, A1, \n]",[\nC1626\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nMythosschwarz Metallic\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],[\n0588/BDF\n],"[\n, Automatic, \n]","[\n1,422 cc\n]",[\n3\n],NaN,[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[4.1 l/100 km (comb)], [4.6 l/100 km (city)], [3.8 l/100 km (country)]]",[\n109 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate control, Electrical side mirrors, Hill Holder, Leather steering wheel, Light sensor, Multi-function steering wheel, Park Distance Control, Parking assist system sensors rear, Power windows, Rain senso...","[Bluetooth, CD player, Hands-free equipment, MP3, On-board computer, Radio, USB]","[Alloy wheels, Sport package, Sport suspension, Voice Control]","[ABS, Central door lock, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights]","[\n, Technik & Sicherheit:, Xenon plus, Klimaautomatik, Einparkhilfe hinten, Scheinwerferreinigungsanlage, Nebelscheinwerfer, Zentralverriegelung mit Fernbedienung, Außenspiegel elek. einstellbar, Fensterheber elek, Start/Stop Anlage, 6 Airbag in...",NaN,NaN,[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN

In [195]:
df.sample(5)

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,hp,Type,Previous Owners,Next Inspection,Inspection new,Warranty,Full Service,Non-smoking Vehicle,null,Make,Model,Offer Number,First Registration,Body Color,Paint Type,Body Color Original,Upholstery,Body,Nr. of Doors,Nr. of Seats,Model Code,Gearing Type,Displacement,Cylinders,Weight,Drive chain,Fuel,Consumption,CO2 Emission,Emission Class,\nComfort & Convenience\n,\nEntertainment & Media\n,\nExtras\n,\nSafety & Security\n,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
7778,https://www.autoscout24.com//offers/opel-astra-sports-tourer-1-6-cdti-innovation-start-stop-autom-diesel-1f5fc1ce-389d-4ced-b846-08d279351dc4,Opel Astra,Sports Tourer 1.6 CDTI INNOVATION Start/Stop Autom,Station wagon,24565,VAT deductible,- km,-/-,None,NaN,100 kW,"[, New, , Diesel (Particulate Filter)]",NaN,NaN,"[\nYes\n, \n126 g CO2/km (comb)\n]",NaN,NaN,"[\n, \n, \nEuro 6d-TEMP\n]",[],\nOpel\n,"[\n, Astra, \n]",[\n68429\n],NaN,NaN,NaN,[\nwählbar - ggf. mit Aufpreis\n],"[\nCloth, Other\n]","[\n, Station wagon, \n]",[\n5\n],[\n5\n],NaN,"[\n, Automatic, \n]","[\n1,598 cc\n]",[\n4\n],"[\n1,456 kg\n]",[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[4.8 l/100 km (comb)], [6.1 l/100 km (city)], [4.1 l/100 km (country)]]",[\n126 g CO2/km (comb)\n],[\nEuro 6d-TEMP\n],"[Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Electric tailgate, Keyless central door lock, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, ...","[Bluetooth, On-board computer, Radio, USB]","[Alloy wheels, Catalytic Converter, Roof rack, Touch screen]","[Adaptive headlights, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Emergency brake assistant, Fog lights, Immobilizer, Isofix, Lane departure warning system, LED Daytime Running Lights, LED Headligh...","[\n, , Neues Fahrzeug inkl.19% MWST, Fahrzeuge mit Herstellergarantie, Zulassungsfertig mit Zulassungsbescheinigung Teil II oder COC Papier und Überführung Haslach!, , , Zusätzlich bieten wir Ihnen einen Kaufvertrag nach deutschem Recht (kein ...",[\n4 (Green)\n],[\n6\n],[\nNetherlands\n],NaN,NaN,NaN,\nin 90 days from ordering\n,NaN,NaN
11101,https://www.autoscout24.com//offers/opel-insignia-st-1-6cdti-ecof-s-diesel-white-c7932583-fd55-0c43-e053-e250040ad849,Opel Insignia,ST 1.6CDTI EcoF. S,Station wagon,12000,Price negotiable,"115,000 km",03/2016,None,NaN,100 kW,"[, Used, , Diesel]",NaN,NaN,NaN,NaN,NaN,NaN,[],\nOpel\n,"[\n, Insignia, \n]",NaN,"[\n, 2016, \n]","[\n, White, \n]",NaN,NaN,NaN,"[\n, Station wagon, \n]",[\n5\n],[\n5\n],NaN,"[\n, Manual, \n]","[\n1,598 cc\n]",[\n4\n],"[\n1,623 kg\n]",NaN,"[\n, Diesel, \n]","[[3.9 l/100 km (comb)], [4.6 l/100 km (city)], [3.6 l/100 km (country)]]",[\n104 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate control, Cruise control, Electrically adjustable seats, Electrical side mirrors, Leather steering wheel, Power windows, Split rear seats]","[On-board computer, Radio, USB]","[Alloy wheels, Roof rack]","[ABS, Electronic stability control, Head airbag, Isofix, LED Daytime Running Lights, Passenger-side airbag, Power steering, Rear airbag, Side airbag, Tire pressure monitoring system, Traction control]","[\nOpel insignia 1.6 cdti de 136cv en perfecto estado tanto exterior como interior,solo tiene un pequeño rayazo en la defenss trasera.todas las revisiones al dia.Mejor ver y provar o llevar a un taller de comfianza.\n]",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
3291,https://www.autoscout24.com//offers/audi-a3-sportback-1-6-tdi-navi-pdc-shz-gra-teilleder-lm-diesel-black-94d8b96f-0c67-469a-ad2b-909db1f394c8,Audi A3,"Sportback 1.6 TDI NAVI,PDC,SHZ,GRA,TEILLEDER,LM",Sedans,15980,VAT deductible,"78,190 km",04/2016,1 previous owner,NaN,81 kW,"[, Used, , Diesel (Particulate Filter)]",\n1\n,NaN,"[\nYes\n, \n105 g CO2/km (comb)\n]","[\n, \n, \nEuro 6\n]","[\n, \n, \n4 (Green)\n]","[\n, \n]",[],\nAudi\n,"[\n, A3, \n]",[\n06MZ155779\n],"[\n, 2016, \n]","[\n, Black, \n]",NaN,[\nBrillantschwarz\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n4\n],[\n5\n],[\n0588/AYB\n],"[\n, Manual, \n]","[\n1,598 cc\n]",[\n4\n],NaN,[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[4 l/100 km (comb)], [4.7 l/100 km (city)], [3.6 l/100 km (country)]]",[\n105 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Leather steering wheel, Light sensor, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors front, Pa...","[Bluetooth, Hands-free equipment, MP3, On-board computer, Radio, USB]",[Alloy wheels],"[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]","[\n, Technik & Sicherheit:, Außenspiegel, elektrisch einstell- und beheizbar, Einparkhilfe plus mit selektiver Anzeige, Komfortklimaautomatik, Servolenkung, Fensterheber, elektrisch, Wegfahrsperre, elektronisch, Zentralverriegelung mit Funkschlüs...",NaN,NaN,[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN
4509,https://www.autoscout24.com//offers/audi-a3-spb-1-6-tdi-116-cv-s-tronic-business-diesel-blue-26de0bca-c0c0-41c6-998e-f3140eb13c6f,Audi A3,SPB 1.6 TDI 116 cv. S-Tronic Business,Station wagon,23600,VAT deductible,10 km,12/2018,1 previous owner,NaN,85 kW,"[, Pre-registered, , Diesel (Particulate Filter)]",\n1\n,NaN,NaN,NaN,NaN,NaN,[],\nAudi\n,"[\n, A3, \n]",NaN,"[\n, 2018, \n]","[\n, Blue, \n]",[\nMetallic\n],NaN,"[\nCloth, Black\n]","[\n, Station wagon, \n]",[\n5\n],[\n5\n],NaN,"[\n, Automatic, \n]","[\n1,968 cc\n]",[\n4\n],"[\n1,390 kg\n]",[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[4.4 l/100 km (comb)], [5.2 l/100 km (city)], [3.9 l/100 km (country)]]",[\n117 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Hill Holder, Leather steering wheel, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system camera, Parking as...","[Bluetooth, CD player, Digital radio, Hands-free equipment, MP3, On-board computer, Radio, USB]","[Alloy wheels, Shift paddles]","[ABS, Alarm system, Central door lock, Central door lock with remote control, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Head airbag, Immobilizer, Isofix, LED Daytime Running Lights, Passenger-side airba...","[\nValutiamo e ritiriamo la vostra permuta. , Finanziamenti personalizzati in sede., Integrazione assicurazione "" Millemiglia Team"" con polizza Rca, , furto / incendio, atti vandalici, cristalli, eventi socio politici, grandine e valore a nuovo i...",NaN,[\n6\n],[\nItaly\n],NaN,NaN,NaN,NaN,NaN,NaN
4810,https://www.autoscout24.com//offers/audi-a3-limousine-1-6-tdi-sport-diesel-silver-4a7d0def-59e9-4d57-bb0d-6ef2707f927f,Audi A3,Limousine 1.6 TDI Sport,Sedans,21480,VAT deductible,"8,015 km",07/2018,1 previous owner,NaN,85 kW,"[, Used, , Diesel (Particulate Filter)]",\n1\n,"[\n07/2021\n, \n107 g CO2/km (comb)\n]",NaN,"[\n, \n, \nEuro 6\n]","[\n, \n, \n4 (Green)\n]",NaN,[],\nAudi\n,"[\n, A3, \n]",[\nAV91033\n],"[\n, 2018, \n]","[\n, Silver, \n]",[\nMetallic\n],[\nflorettsilber metallic\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],[\n0588/BLG\n],"[\n, Manual, \n]","[\n1,598 cc\n]",NaN,NaN,[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[4.1 l/100 km (comb)], [4.6 l/100 km (city)], [3.7 l/100 km (country)]]",[\n107 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Automatic climate control, Cruise control, Electrical side mirrors, Leather steering wheel, Light sensor, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors rear, Power window...","[Bluetooth, CD player, Hands-free equipment, MP3, On-board computer, Radio, Sound system]","[Alloy wheels, Sport package, Sport seats]","[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Traction control, Xenon headlights]","[\n, Fahrzeug-Nummer: AV91033, , Navigationssystem, , Bi-Xenon, , Alufelgen 17 Zoll, , Aus erster Hand, , Sportpaket, , Klimaautomatik, , Interieur Stoff, , Tempomat, , APS (Akustik-Park-System), , Sitzheizung, , CD-Player, Radio mit M...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [196]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   url                            15919 non-null  object
 1   make_model                     15919 non-null  object
 2   short_description              15873 non-null  object
 3   body_type                      15859 non-null  object
 4   price                          15919 non-null  int64
 5   vat                            11406 non-null  object
 6   km                             15919 non-null  object
 7   registration                   15919 non-null  object
 8   prev_owner                     9091 non-null   object
 9   kW                             0 non-null      float64
 10  hp                             15919 non-null  object
 11  Type                           15917 non-null  object
 12  Previous Owners                9279 non-null   object
 13  Next Inspection                3535 non-null   object
 14  Inspection new                 3932 non-null   object
 15  Warranty                       10499 non-null  object
 16  Full Service                   8215 non-null   object
 17  Non-smoking Vehicle            7177 non-null   object
 18  null                           15919 non-null  object
 19  Make                           15919 non-null  object
 20  Model                          15919 non-null  object
 21  Offer Number                   12744 non-null  object
 22  First Registration             14322 non-null  object
 23  Body Color                     15322 non-null  object
 24  Paint Type                     10147 non-null  object
 25  Body Color Original            12160 non-null  object
 26  Upholstery                     12199 non-null  object
 27  Body                           15859 non-null  object
 28  Nr. of Doors                   15707 non-null  object
 29  Nr. of Seats                   14942 non-null  object
 30  Model Code                     4978 non-null   object
 31  Gearing Type                   15919 non-null  object
 32  Displacement                   15423 non-null  object
 33  Cylinders                      10239 non-null  object
 34  Weight                         8945 non-null   object
 35  Drive chain                    9061 non-null   object
 36  Fuel                           15919 non-null  object
 37  Consumption                    14013 non-null  object
 38  CO2 Emission                   14111 non-null  object
 39  Emission Class                 12898 non-null  object
 40
Comfort & Convenience
        14999 non-null  object
 41
Entertainment & Media
        14545 non-null  object
 42
Extras
                       12957 non-null  object
 43
Safety & Security
            14937 non-null  object
 44  description                    15919 non-null  object
 45  Emission Label                 3985 non-null   object
 46  Gears                          11207 non-null  object
 47  Country version                7586 non-null   object
 48  Electricity consumption        137 non-null    object
 49  Last Service Date              566 non-null    object
 50  Other Fuel Types               880 non-null    object
 51  Availability                   635 non-null    object
 52  Last Timing Belt Service Date  16 non-null     object
 53  Available from                 272 non-null    object
dtypes: float64(1), int64(1), object(52)
memory usage: 6.6+ MB

In [197]:
# Changing column names
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'kW', 'hp', 'Type',
       'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty',
       'Full Service', 'Non-smoking Vehicle', 'null', 'Make', 'Model',
       'Offer Number', 'First Registration', 'Body Color', 'Paint Type',
       'Body Color Original', 'Upholstery', 'Body', 'Nr. of Doors',
       'Nr. of Seats', 'Model Code', 'Gearing Type', 'Displacement',
       'Cylinders', 'Weight', 'Drive chain', 'Fuel', 'Consumption',
       'CO2 Emission', 'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'description', 'Emission Label', 'Gears', 'Country version',
       'Electricity consumption', 'Last Service Date', 'Other Fuel Types',
       'Availability', 'Last Timing Belt Service Date', 'Available from'],
      dtype='object')

In [198]:
# !pip install skimpy
from skimpy import clean_columns

# columns = df.columns

# messy_df = pd.DataFrame(data = [], columns = columns, index = [0])
# print(messy_df)
# clean_df = clean_columns(messy_df)
# clean_df.columns.tolist()

In [199]:
df = clean_columns(df)  # cleaning column names using skimpy clean_columns method

42 column names have been cleaned

In [200]:
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'k_w', 'hp', 'type',
       'previous_owners', 'next_inspection', 'inspection_new', 'warranty',
       'full_service', 'non_smoking_vehicle', 'null', 'make', 'model',
       'offer_number', 'first_registration', 'body_color', 'paint_type',
       'body_color_original', 'upholstery', 'body', 'nr_of_doors',
       'nr_of_seats', 'model_code', 'gearing_type', 'displacement',
       'cylinders', 'weight', 'drive_chain', 'fuel', 'consumption',
       'co_2_emission', 'emission_class', 'comfort_&_convenience',
       'entertainment_&_media', 'extras', 'safety_&_security', 'description',
       'emission_label', 'gears', 'country_version', 'electricity_consumption',
       'last_service_date', 'other_fuel_types', 'availability',
       'last_timing_belt_service_date', 'available_from'],
      dtype='object')

In [201]:
df.rename(columns = {'k_w':'kW',
                     'co_2_emission':'co2_emission',
                     'comfort_&_convenience': 'comfort&convenience',
                    'entertainment_&_media':'entertainment&media',
                    'safety_&_security':'safety_&_security'}, inplace = True)

In [202]:
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'kW', 'hp', 'type',
       'previous_owners', 'next_inspection', 'inspection_new', 'warranty',
       'full_service', 'non_smoking_vehicle', 'null', 'make', 'model',
       'offer_number', 'first_registration', 'body_color', 'paint_type',
       'body_color_original', 'upholstery', 'body', 'nr_of_doors',
       'nr_of_seats', 'model_code', 'gearing_type', 'displacement',
       'cylinders', 'weight', 'drive_chain', 'fuel', 'consumption',
       'co2_emission', 'emission_class', 'comfort&convenience',
       'entertainment&media', 'extras', 'safety_&_security', 'description',
       'emission_label', 'gears', 'country_version', 'electricity_consumption',
       'last_service_date', 'other_fuel_types', 'availability',
       'last_timing_belt_service_date', 'available_from'],
      dtype='object')

In [203]:
df.isnull().sum()

url                                  0
make_model                           0
short_description                   46
body_type                           60
price                                0
vat                               4513
km                                   0
registration                         0
prev_owner                        6828
kW                               15919
hp                                   0
type                                 2
previous_owners                   6640
next_inspection                  12384
inspection_new                   11987
warranty                          5420
full_service                      7704
non_smoking_vehicle               8742
null                                 0
make                                 0
model                                0
offer_number                      3175
first_registration                1597
body_color                         597
paint_type                        5772
body_color_original               3759
upholstery                        3720
body                                60
nr_of_doors                        212
nr_of_seats                        977
model_code                       10941
gearing_type                         0
displacement                       496
cylinders                         5680
weight                            6974
drive_chain                       6858
fuel                                 0
consumption                       1906
co2_emission                      1808
emission_class                    3021
comfort&convenience                920
entertainment&media               1374
extras                            2962
safety_&_security                  982
description                          0
emission_label                   11934
gears                             4712
country_version                   8333
electricity_consumption          15782
last_service_date                15353
other_fuel_types                 15039
availability                     15284
last_timing_belt_service_date    15903
available_from                   15647
dtype: int64

In [204]:
df.isnull().sum()/len(df)*100 # percentages of null values in each column

url                                0.000000
make_model                         0.000000
short_description                  0.288963
body_type                          0.376908
price                              0.000000
vat                               28.349771
km                                 0.000000
registration                       0.000000
prev_owner                        42.892141
kW                               100.000000
hp                                 0.000000
type                               0.012564
previous_owners                   41.711163
next_inspection                   77.793831
inspection_new                    75.299956
warranty                          34.047365
full_service                      48.395000
non_smoking_vehicle               54.915510
null                               0.000000
make                               0.000000
model                              0.000000
offer_number                      19.944720
first_registration                10.032037
body_color                         3.750236
paint_type                        36.258559
body_color_original               23.613292
upholstery                        23.368302
body                               0.376908
nr_of_doors                        1.331742
nr_of_seats                        6.137320
model_code                        68.729192
gearing_type                       0.000000
displacement                       3.115774
cylinders                         35.680633
weight                            43.809285
drive_chain                       43.080596
fuel                               0.000000
consumption                       11.973114
co2_emission                      11.357497
emission_class                    18.977323
comfort&convenience                5.779257
entertainment&media                8.631195
extras                            18.606696
safety_&_security                  6.168729
description                        0.000000
emission_label                    74.967021
gears                             29.599849
country_version                   52.346253
electricity_consumption           99.139393
last_service_date                 96.444500
other_fuel_types                  94.472015
availability                      96.011056
last_timing_belt_service_date     99.899491
available_from                    98.291350
dtype: float64

In [205]:
(df.isna().sum()/df.shape[0]*100).sort_values(ascending=False)

kW                               100.000000
last_timing_belt_service_date     99.899491
electricity_consumption           99.139393
available_from                    98.291350
last_service_date                 96.444500
availability                      96.011056
other_fuel_types                  94.472015
next_inspection                   77.793831
inspection_new                    75.299956
emission_label                    74.967021
model_code                        68.729192
non_smoking_vehicle               54.915510
country_version                   52.346253
full_service                      48.395000
weight                            43.809285
drive_chain                       43.080596
prev_owner                        42.892141
previous_owners                   41.711163
paint_type                        36.258559
cylinders                         35.680633
warranty                          34.047365
gears                             29.599849
vat                               28.349771
body_color_original               23.613292
upholstery                        23.368302
offer_number                      19.944720
emission_class                    18.977323
extras                            18.606696
consumption                       11.973114
co2_emission                      11.357497
first_registration                10.032037
entertainment&media                8.631195
safety_&_security                  6.168729
nr_of_seats                        6.137320
comfort&convenience                5.779257
body_color                         3.750236
displacement                       3.115774
nr_of_doors                        1.331742
body                               0.376908
body_type                          0.376908
short_description                  0.288963
type                               0.012564
fuel                               0.000000
gearing_type                       0.000000
make_model                         0.000000
model                              0.000000
make                               0.000000
description                        0.000000
null                               0.000000
hp                                 0.000000
registration                       0.000000
km                                 0.000000
price                              0.000000
url                                0.000000
dtype: float64

In [206]:
# We wrote a function which named "check_df" to do very quick analyse at first w/ for loop.
# We also used this function for every column in cleaning process

In [207]:
def check_df(col):
    print('column name : ', col)
    print('--------------------------------')
    print('Per_of_Nulls   : ', '%', round(df[col].isnull().sum() / df.shape[0]*100, 2))
    print('Num_of_Nulls   : ', df[col].isnull().sum())
    print(df[col].value_counts(dropna = False))
    print("*"*30)
    print("\n\n")

In [208]:
for col in df.columns :
    check_df(col)

column name :  url
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
https://www.autoscout24.com//offers/audi-a1-sportback-1-4-tdi-s-tronic-xenon-navi-klima-diesel-black-bdab349a-caa5-41b0-98eb-c1345b84445e                  1
https://www.autoscout24.com//offers/opel-insignia-bus-inno-2-0-cdti-aut-navi-bi-xe-led-e6-diesel-black-8710b253-dd98-4ed0-9d46-cbad2d79532b                1
https://www.autoscout24.com//offers/opel-insignia-sport-tourer-opel-sport-tourer-1-6-cdti-136-ch-a-c-diesel-silver-10b7463b-9f56-4348-af35-df3432b2b585    1
https://www.autoscout24.com//offers/opel-insignia-2-0cdti-st-business-innovation-navi-bt-diesel-black-ba5a3368-dedc-4e51-9127-3976b26e93c2                 1
https://www.autoscout24.com//offers/opel-insignia-sport-tourer-opel-sport-tourer-1-6-cdti-136-ch-a-c-diesel-silver-7b52f054-78d3-4d5e-9370-8a7d081d7edd    1
                                                                                                                                                          ..
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-black-cf50f7b1-4d7b-466f-93a2-4e11ec0b4107                        1
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-grey-3f47eb34-15c4-4763-860d-78fcbbd2c9ff                         1
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-silver-f7a4bc95-b2ef-4bac-9497-6bcbcd05db0b                       1
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-silver-1c94c7a2-67b5-49ca-ae42-42a6800fb3f5                       1
https://www.autoscout24.com//offers/renault-espace-initiale-paris-tce-225-edc-gpf-navi-shz-aux-gasoline-grey-0bd690d9-7e93-4cab-bc5a-9d5b63402481          1
Name: url, Length: 15919, dtype: int64
******************************



column name :  make_model
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
Audi A3           3097
Audi A1           2614
Opel Insignia     2598
Opel Astra        2526
Opel Corsa        2219
Renault Clio      1839
Renault Espace     991
Renault Duster      34
Audi A2              1
Name: make_model, dtype: int64
******************************



column name :  short_description
--------------------------------
Per_of_Nulls   :  % 0.29
Num_of_Nulls   :  46
SPB 1.6 TDI 116 CV S tronic Sport                 64
NaN                                               46
1.4 66kW (90CV) Selective                         40
MOVE KLIMA CD USB ALLWETTER BLUETOOTH             38
SPB 30 TDI S tronic Business                      35
                                                  ..
K Sports Tourer Business **Navi*Voll**             1
1.0 Turbo ecoFLEX Automatic Elective Park Navi     1
1.6 CDTI Business *Navi*Automatik*Spurh.*          1
1.6 136 CV Automatica Navi E 6 Garanzia Full       1
TCe 225 EDC GPF LIM Deluxe Pano,RFK                1
Name: short_description, Length: 10002, dtype: int64
******************************



column name :  body_type
--------------------------------
Per_of_Nulls   :  % 0.38
Num_of_Nulls   :  60
Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64
******************************



column name :  price
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
14990    154
15990    151
10990    139
15900    106
17990    102
        ...
17559      1
17560      1
17570      1
17575      1
39875      1
Name: price, Length: 2956, dtype: int64
******************************



column name :  vat
--------------------------------
Per_of_Nulls   :  % 28.35
Num_of_Nulls   :  4513
VAT deductible      10980
NaN                  4513
Price negotiable      426
Name: vat, dtype: int64
******************************



column name :  km
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
10 km        1045
- km         1024
1 km          367
5 km          170
50 km         148
             ...
67,469 km       1
43,197 km       1
10,027 km       1
35,882 km       1
57 km           1
Name: km, Length: 6690, dtype: int64
******************************



column name :  registration
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
-/-        1597
03/2018     695
02/2019     585
05/2018     572
03/2019     543
01/2019     541
04/2018     541
02/2018     539
03/2016     536
04/2016     532
06/2018     532
01/2018     511
04/2019     506
02/2016     472
03/2017     471
05/2016     459
06/2016     452
05/2019     440
06/2017     409
05/2017     404
07/2018     396
04/2017     380
01/2016     376
02/2017     368
01/2017     306
08/2018     285
06/2019     224
07/2017     215
11/2017     180
07/2016     176
10/2016     160
10/2017     154
09/2017     149
11/2016     142
09/2018     141
09/2016     141
12/2016     134
12/2017     123
08/2017     114
11/2018     110
12/2018     103
10/2018      97
08/2016      94
07/2019       6
09/2019       5
08/2019       1
11/2019       1
12/2019       1
Name: registration, dtype: int64
******************************



column name :  prev_owner
--------------------------------
Per_of_Nulls   :  % 42.89
Num_of_Nulls   :  6828
1 previous owner     8294
NaN                  6828
2 previous owners     778
3 previous owners      17
4 previous owners       2
Name: prev_owner, dtype: int64
******************************



column name :  kW
--------------------------------
Per_of_Nulls   :  % 100.0
Num_of_Nulls   :  15919
NaN    15919
Name: kW, dtype: int64
******************************



column name :  hp
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
85 kW     2542
66 kW     2122
81 kW     1402
100 kW    1308
110 kW    1112
          ...
84 kW        1
195 kW       1
44 kW        1
239 kW       1
9 kW         1
Name: hp, Length: 81, dtype: int64
******************************



column name :  type
--------------------------------
Per_of_Nulls   :  % 0.01
Num_of_Nulls   :  2
[, Used, , Diesel (Particulate Filter)]                                                                                 3475
[, Used, , Diesel]                                                                                                      2516
[, Used, , Gasoline]                                                                                                    2367
[, Used, , Super 95]                                                                                                    1818
[, Pre-registered, , Super 95]                                                                                           500
                                                                                                                        ...
[, New, , Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95]       1
[, Used, , Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98 (Particulate Filter)]                               1
[, Demonstration, , Super Plus 98]                                                                                         1
[, New, , Super Plus E10 98]                                                                                               1
[, Demonstration, , Regular/Benzine E10 91]                                                                                1
Name: type, Length: 170, dtype: int64
******************************



column name :  previous_owners
--------------------------------
Per_of_Nulls   :  % 41.71
Num_of_Nulls   :  6640
\n1\n                                                                                        8101
NaN                                                                                          6640
\n2\n                                                                                         766
\n0\n                                                                                         163
\n3\n                                                                                          17
                                                                                             ...
[\n1\n, \n111 g CO2/km (comb)\n]                                                                1
[\n1\n, \nEuro 6\n]                                                                             1
[\n2\n, \n119 g CO2/km (comb)\n]                                                                1
[\n1\n, \n, 6.6 l/100 km (comb), \n, 8.1 l/100 km (city), \n, 5.7 l/100 km (country), \n]       1
[\n2\n, \n137 g CO2/km (comb)\n]                                                                1
Name: previous_owners, Length: 103, dtype: int64
******************************



column name :  next_inspection
--------------------------------
Per_of_Nulls   :  % 77.79
Num_of_Nulls   :  12384

NaN                                       12384
\n04/2022\n                                  62
\n03/2021\n                                  38
\n03/2022\n                                  36
\n06/2021\n                                  34
                                          ...
[\n12/2018\n, \n97 g CO2/km (comb)\n]         1
[\n03/2022\n, \n1 (No sticker)\n]             1
[\n05/2021\n, \n93 g CO2/km (comb)\n]         1
[\n06/2021\n, \n93 g CO2/km (comb)\n]         1
[\n01/2022\n, \n168 g CO2/km (comb)\n]        1
Name: next_inspection, Length: 1400, dtype: int64
******************************



column name :  inspection_new
--------------------------------
Per_of_Nulls   :  % 75.3
Num_of_Nulls   :  11987
NaN                                                                                            11987
[\nYes\n, \nEuro 6\n]                                                                            523
\nYes\n                                                                                          362
[\nYes\n, \n102 g CO2/km (comb)\n]                                                               174
[\nYes\n, \n4 (Green)\n]                                                                         166
                                                                                               ...
[\nYes\n, \n, 6 l/100 km (comb), \n, 8 l/100 km (city), \n, 4.9 l/100 km (country), \n]            1
[\nYes\n, \n, 6.8 l/100 km (comb), \n, 8.5 l/100 km (city), \n, 6.1 l/100 km (country), \n]        1
[\nYes\n, \n, 4.1 l/100 km (comb), \n, 7.5 l/100 km (city), \n, 5.2 l/100 km (country), \n]        1
[\nYes\n, \n, 5.2 l/100 km (comb), \n, 6.8 l/100 km (city), \n, 4.3 l/100 km (country), \n]        1
[\nYes\n, \n172 g CO2/km (comb)\n]                                                                 1
Name: inspection_new, Length: 203, dtype: int64
******************************



column name :  warranty
--------------------------------
Per_of_Nulls   :  % 34.05
Num_of_Nulls   :  5420
NaN                                                                                                5420
[\n, \n, \nEuro 6\n]                                                                               1868
\n12 months\n                                                                                      1177
\n                                                                                                  979
\n24 months\n                                                                                       566
                                                                                                   ...
[\n72 months\n, \n125 g CO2/km (comb)\n]                                                              1
[\n60 months\n, \n14 g CO2/km (comb)\n]                                                               1
[\n24 months\n, \n121 g CO2/km (comb)\n]                                                              1
[\n12 months\n, \nEuro 6d\n]                                                                          1
[\n36 months\n, \n, 7.4 l/100 km (comb), \n, 9.6 l/100 km (city), \n, 6 l/100 km (country), \n]       1
Name: warranty, Length: 516, dtype: int64
******************************



column name :  full_service
--------------------------------
Per_of_Nulls   :  % 48.39
Num_of_Nulls   :  7704
NaN                                                                                           7704
[\n, \n, \n4 (Green)\n]                                                                       2235
[\n, \n, \nEuro 6\n]                                                                          2097
[\n, \n]                                                                                      1702
[\n, \n, \nEuro 6d-TEMP\n]                                                                     399
                                                                                              ...
[\n, \n, \n80 g CO2/km (comb)\n]                                                                 1
[\n, \n, \n84 g CO2/km (comb)\n]                                                                 1
[\n, \n, \n, 6 l/100 km (comb), \n, 8 l/100 km (city), \n, 4.9 l/100 km (country), \n]           1
[\n, \n, \n, 4.9 l/100 km (comb), \n, 6.2 l/100 km (city), \n, 4.1 l/100 km (country), \n]       1
[\n, \n, \nEuro 4\n]                                                                             1
Name: full_service, Length: 123, dtype: int64
******************************



column name :  non_smoking_vehicle
--------------------------------
Per_of_Nulls   :  % 54.92
Num_of_Nulls   :  8742
NaN                                                                                           8742
[\n, \n]                                                                                      3647
[\n, \n, \n4 (Green)\n]                                                                       1240
[\n, \n, \nEuro 6\n]                                                                          1127
[\n, \n, \nEuro 6d-TEMP\n]                                                                     345
                                                                                              ...
[\n, \n, \n, 5.6 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 4.7 l/100 km (country), \n]       1
[\n, \n, \n122 g CO2/km (comb)\n]                                                                1
[\n, \n, \n158 g CO2/km (comb)\n]                                                                1
[\n, \n, \n150 g CO2/km (comb)\n]                                                                1
[\n, \n, \n175 g CO2/km (comb)\n]                                                                1
Name: non_smoking_vehicle, Length: 95, dtype: int64
******************************



column name :  null
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
[]    15919
Name: null, dtype: int64
******************************



column name :  make
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
\nOpel\n       7343
\nAudi\n       5712
\nRenault\n    2864
Name: make, dtype: int64
******************************



column name :  model
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
[\n, A3, \n]          3097
[\n, A1, \n]          2614
[\n, Insignia, \n]    2598
[\n, Astra, \n]       2526
[\n, Corsa, \n]       2219
[\n, Clio, \n]        1839
[\n, Espace, \n]       991
[\n, Duster, \n]        34
[\n, A2, \n]             1
Name: model, dtype: int64
******************************



column name :  offer_number
--------------------------------
Per_of_Nulls   :  % 19.94
Num_of_Nulls   :  3175
NaN                                               3175
[\nLT67679\n]                                       27
[\nUN89904\n]                                       27
[\nXJ38068\n]                                       27
[\nJV03654\n]                                       27
                                                  ...
[\n160_dcbb6c3e-a6da-43a3-8754-ccd994cec93b\n]       1
[\n6701576\n]                                        1
[\n6701569\n]                                        1
[\n158121\n]                                         1
[\nRe_30000008029\n]                                 1
Name: offer_number, Length: 11441, dtype: int64
******************************



column name :  first_registration
--------------------------------
Per_of_Nulls   :  % 10.03
Num_of_Nulls   :  1597
[\n, 2018, \n]    4522
[\n, 2016, \n]    3674
[\n, 2017, \n]    3273
[\n, 2019, \n]    2853
NaN               1597
Name: first_registration, dtype: int64
******************************



column name :  body_color
--------------------------------
Per_of_Nulls   :  % 3.75
Num_of_Nulls   :  597
[\n, Black, \n]     3745
[\n, Grey, \n]      3505
[\n, White, \n]     3406
[\n, Silver, \n]    1647
[\n, Blue, \n]      1431
[\n, Red, \n]        957
NaN                  597
[\n, Brown, \n]      289
[\n, Green, \n]      154
[\n, Beige, \n]      108
[\n, Yellow, \n]      51
[\n, Violet, \n]      18
[\n, Bronze, \n]       6
[\n, Orange, \n]       3
[\n, Gold, \n]         2
Name: body_color, dtype: int64
******************************



column name :  paint_type
--------------------------------
Per_of_Nulls   :  % 36.26
Num_of_Nulls   :  5772
[\nMetallic\n]       9794
NaN                  5772
[\nUni/basic\n]       347
[\nPerl effect\n]       6
Name: paint_type, dtype: int64
******************************



column name :  body_color_original
--------------------------------
Per_of_Nulls   :  % 23.61
Num_of_Nulls   :  3759

NaN                                    3759
[\nOnyx Schwarz\n]                      338
[\nBianco\n]                            282
[\nMythosschwarz Metallic\n]            238
[\nBrillantschwarz\n]                   216
                                       ...
[\nRouge-Braun (G0Y)\n]                   1
[\nVARI COLRI DISPONIBILI\n]              1
[\nKokosnussbraun Metallic\n]             1
[\nFarbe frei wählbar\n]                  1
[\nPerlmutt-Weiß Metallic (Weiß)\n]       1
Name: body_color_original, Length: 1928, dtype: int64
******************************



column name :  upholstery
--------------------------------
Per_of_Nulls   :  % 23.37
Num_of_Nulls   :  3720
[\nCloth, Black\n]           5821
NaN                          3720
[\nPart leather, Black\n]    1121
[\nCloth\n]                  1005
[\nCloth, Grey\n]             891
[\nCloth, Other\n]            639
[\nFull leather, Black\n]     575
[\nBlack\n]                   491
[\nGrey\n]                    273
[\nOther, Other\n]            182
[\nPart leather\n]            140
[\nFull leather\n]            139
[\nFull leather, Brown\n]     116
[\nPart leather, Grey\n]      116
[\nOther, Black\n]            110
[\nFull leather, Other\n]      72
[\nFull leather, Grey\n]       67
[\nPart leather, Other\n]      65
[\nOther\n]                    56
[\nPart leather, Brown\n]      50
[\nalcantara, Black\n]         47
[\nVelour, Black\n]            36
[\nFull leather, Beige\n]      36
[\nCloth, Brown\n]             28
[\nVelour\n]                   16
[\nOther, Grey\n]              15
[\nCloth, Beige\n]             13
[\nBrown\n]                    12
[\nCloth, Blue\n]              12
[\nVelour, Grey\n]              8
[\nCloth, White\n]              8
[\nalcantara, Grey\n]           6
[\nCloth, Red\n]                5
[\nOther, Yellow\n]             4
[\nPart leather, Red\n]         3
[\nBeige\n]                     3
[\nPart leather, White\n]       2
[\nFull leather, Blue\n]        2
[\nalcantara, Other\n]          2
[\nalcantara\n]                 2
[\nWhite\n]                     2
[\nPart leather, Beige\n]       2
[\nBlue\n]                      2
[\nCloth, Orange\n]             1
[\nFull leather, Red\n]         1
[\nOther, Brown\n]              1
[\nFull leather, White\n]       1
Name: upholstery, dtype: int64
******************************



column name :  body
--------------------------------
Per_of_Nulls   :  % 0.38
Num_of_Nulls   :  60
[\n, Sedans, \n]           7903
[\n, Station wagon, \n]    3553
[\n, Compact, \n]          3153
[\n, Van, \n]               783
[\n, Other, \n]             290
[\n, Transporter, \n]        88
NaN                          60
[\n, Off-Road, \n]           56
[\n, Coupe, \n]              25
[\n, Convertible, \n]         8
Name: body, dtype: int64
******************************



column name :  nr_of_doors
--------------------------------
Per_of_Nulls   :  % 1.33
Num_of_Nulls   :  212
[\n5\n]    11575
[\n4\n]     3079
[\n3\n]      832
[\n2\n]      219
NaN          212
[\n1\n]        1
[\n7\n]        1
Name: nr_of_doors, dtype: int64
******************************



column name :  nr_of_seats
--------------------------------
Per_of_Nulls   :  % 6.14
Num_of_Nulls   :  977
[\n5\n]    13336
[\n4\n]     1125
NaN          977
[\n7\n]      362
[\n2\n]      116
[\n6\n]        2
[\n3\n]        1
Name: nr_of_seats, dtype: int64
******************************



column name :  model_code
--------------------------------
Per_of_Nulls   :  % 68.73
Num_of_Nulls   :  10941
NaN               10941
[\n0035/BCB\n]      268
[\n0588/BNO\n]      245
[\n0588/BDB\n]      206
[\n0588/BHX\n]      188
                  ...
[\n0035/AVN\n]        1
[\n0035/BEM\n]        1
[\n0035/BAG\n]        1
[\n0035/BAA\n]        1
[\n3333/BKG\n]        1
Name: model_code, Length: 233, dtype: int64
******************************



column name :  gearing_type
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
[\n, Manual, \n]            8153
[\n, Automatic, \n]         7297
[\n, Semi-automatic, \n]     469
Name: gearing_type, dtype: int64
******************************



column name :  displacement
--------------------------------
Per_of_Nulls   :  % 3.12
Num_of_Nulls   :  496
[\n1,598 cc\n]    4761
[\n999 cc\n]      2438
[\n1,398 cc\n]    1314
[\n1,399 cc\n]     749
[\n1,229 cc\n]     677
                  ...
[\n122 cc\n]         1
[\n1,198 cc\n]       1
[\n1,195 cc\n]       1
[\n2,967 cc\n]       1
[\n1,800 cc\n]       1
Name: displacement, Length: 78, dtype: int64
******************************



column name :  cylinders
--------------------------------
Per_of_Nulls   :  % 35.68
Num_of_Nulls   :  5680
[\n4\n]    8105
NaN        5680
[\n3\n]    2104
[\n5\n]      22
[\n6\n]       3
[\n8\n]       2
[\n2\n]       2
[\n1\n]       1
Name: cylinders, dtype: int64
******************************



column name :  weight
--------------------------------
Per_of_Nulls   :  % 43.81
Num_of_Nulls   :  6974
NaN               6974
[\n1,163 kg\n]     574
[\n1,360 kg\n]     356
[\n1,165 kg\n]     301
[\n1,335 kg\n]     242
                  ...
[\n1,960 kg\n]       1
[\n1,258 kg\n]       1
[\n1,167 kg\n]       1
[\n1,331 kg\n]       1
[\n2,037 kg\n]       1
Name: weight, Length: 435, dtype: int64
******************************



column name :  drive_chain
--------------------------------
Per_of_Nulls   :  % 43.08
Num_of_Nulls   :  6858
[\nfront\n]    8886
NaN            6858
[\n4WD\n]       171
[\nrear\n]        4
Name: drive_chain, dtype: int64
******************************



column name :  fuel
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
[\n, Diesel (Particulate Filter), \n]                                                                                  4315
[\n, Super 95, \n]                                                                                                     3338
[\n, Gasoline, \n]                                                                                                     3175
[\n, Diesel, \n]                                                                                                       2984
[\n, Super 95 / Regular/Benzine 91, \n]                                                                                 424
                                                                                                                       ...
[\n, Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91, \n]                                                          1
[\n, Super Plus 98 / Super E10 95, \n]                                                                                    1
[\n, Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98, \n]       1
[\n, Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super 95 / Super E10 95 / Super Plus E10 98, \n]       1
[\n, Super Plus 98 / Super 95 / Super Plus E10 98, \n]                                                                    1
Name: fuel, Length: 77, dtype: int64
******************************



column name :  consumption
--------------------------------
Per_of_Nulls   :  % 11.97
Num_of_Nulls   :  1906
NaN                                                                                   1906
[[3.9 l/100 km (comb)], [4.1 l/100 km (city)], [3.7 l/100 km (country)]]               304
[[4.2 l/100 km (comb)], [5 l/100 km (city)], [3.7 l/100 km (country)]]                 276
[[5.4 l/100 km (comb)], [6.8 l/100 km (city)], [4.5 l/100 km (country)]]               257
[[3.8 l/100 km (comb)], [4.3 l/100 km (city)], [3.5 l/100 km (country)]]               253
                                                                                      ...
[[4.2 l/100 km (comb)], [5.3 l/100 km (city)], [3.6 l/100 km (country)]]                 1
[\n, 5.1 l/100 km (comb), \n, 6.4 l/100 km (city), \n, 4.3 l/100 km (country), \n]       1
[[4.6 l/100 km (comb)], [5.4 l/100 km (city)], [6.7 l/100 km (country)]]                 1
[\n, 6.3 l/100 km (comb), \n, \n, \n]                                                    1
[\n, 7.4 l/100 km (comb), \n, 9.6 l/100 km (city), \n, 6 l/100 km (country), \n]         1
Name: consumption, Length: 882, dtype: int64
******************************



column name :  co2_emission
--------------------------------
Per_of_Nulls   :  % 11.36
Num_of_Nulls   :  1808
NaN                            1808
[\n120 g CO2/km (comb)\n]       740
[[], [], []]                    628
[\n99 g CO2/km (comb)\n]        545
[\n97 g CO2/km (comb)\n]        537
                               ...
[\n14 g CO2/km (comb)\n]          1
[\n1,060 g CO2/km (comb)\n]       1
[\n51 g CO2/km (comb)\n]          1
[\n165 g CO2/km (comb)\n]         1
[\n193 g CO2/km (comb)\n]         1
Name: co2_emission, Length: 124, dtype: int64
******************************



column name :  emission_class
--------------------------------
Per_of_Nulls   :  % 18.98
Num_of_Nulls   :  3021
[\nEuro 6\n]          10139
NaN                    3021
[\nEuro 6d-TEMP\n]     1845
[[], [], []]            607
[\nEuro 6c\n]           127
[\nEuro 5\n]             78
[\nEuro 6d\n]            62
[\nEuro 4\n]             40
Name: emission_class, dtype: int64
******************************



column name :  comfort&convenience
--------------------------------
Per_of_Nulls   :  % 5.78
Num_of_Nulls   :  920

NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          920
[Air conditioning, Electrical side mirrors, Hill Holder, Power windows]                                                                                                                                                                                                                                                                                                                                                                                                                                                      216
[Air conditioning, Electrical side mirrors, Power windows]                                                                                                                                                                                                                                                                                                                                                                                                                                                                   134
[Air conditioning, Power windows]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            130
[Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system]                                                                                                                                                         105
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            ...
[Air conditioning, Cruise control, Electrical side mirrors, Hill Holder, Leather steering wheel, Light sensor, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors rear, Power windows, Rain sensor, Split rear seats, Start-stop system, Tinted windows]                                                                                                                                                                                                                   1
[Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Heated steering wheel, Hill Holder, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system camera, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Sunroof]                                                                                                   1
[Air conditioning, Armrest, Cruise control, Electrical side mirrors, Heated steering wheel, Hill Holder, Leather steering wheel, Light sensor, Multi-function steering wheel, Park Distance Control, Parking assist system camera, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Split rear seats, Start-stop system, Tinted windows]                                                                                                                     1
[Air conditioning, Automatic climate control, Cruise control, Electrical side mirrors, Leather steering wheel, Light sensor, Multi-function steering wheel, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating]                                                                                                                                                                                                                          1
[Air conditioning, Automatic climate control, Cruise control, Electrically heated windshield, Electrical side mirrors, Electric tailgate, Heads-up display, Heated steering wheel, Hill Holder, Keyless central door lock, Leather steering wheel, Light sensor, Lumbar support, Navigation system, Park Distance Control, Parking assist system camera, Parking assist system self-steering, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Sunroof]      1
Name: comfort&convenience, Length: 6199, dtype: int64
******************************



column name :  entertainment&media
--------------------------------
Per_of_Nulls   :  % 8.63
Num_of_Nulls   :  1374
NaN                                                                                                           1374
[Bluetooth, Hands-free equipment, On-board computer, Radio, USB]                                              1282
[Bluetooth, Hands-free equipment, MP3, On-board computer, Radio, USB]                                          982
[Bluetooth, CD player, Hands-free equipment, MP3, On-board computer, Radio, USB]                               783
[On-board computer, Radio]                                                                                     487
                                                                                                              ...
[Bluetooth, CD player, Digital radio, Hands-free equipment, Radio]                                               1
[CD player, Hands-free equipment, MP3, Radio, USB]                                                               1
[MP3, Radio, Sound system, USB]                                                                                  1
[Bluetooth, MP3, On-board computer, Radio, Television, USB]                                                      1
[Bluetooth, CD player, Hands-free equipment, MP3, On-board computer, Radio, Sound system, Television, USB]       1
Name: entertainment&media, Length: 347, dtype: int64
******************************



column name :  extras
--------------------------------
Per_of_Nulls   :  % 18.61
Num_of_Nulls   :  2962
[Alloy wheels]                                                                                                     3245
NaN                                                                                                                2962
[Alloy wheels, Touch screen]                                                                                        697
[Alloy wheels, Voice Control]                                                                                       577
[Alloy wheels, Touch screen, Voice Control]                                                                         541
                                                                                                                   ...
[Alloy wheels, Catalytic Converter, Shift paddles, Sport package, Sport seats, Sport suspension, Voice Control]       1
[Alloy wheels, Catalytic Converter, Roof rack, Sport package, Sport seats, Trailer hitch]                             1
[Alloy wheels, Catalytic Converter, Ski bag, Sport package, Voice Control]                                            1
[Catalytic Converter, Roof rack, Sport seats, Sport suspension]                                                       1
[Alloy wheels, Shift paddles, Ski bag, Sport seats, Sport suspension, Touch screen, Voice Control]                    1
Name: extras, Length: 660, dtype: int64
******************************



column name :  safety_&_security
--------------------------------
Per_of_Nulls   :  % 6.17
Num_of_Nulls   :  982

NaN                                                                                                                                                                                                                                                                                                                                                                                  982
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                                                                                                                           538
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                                                                                                                                       480
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights]                                                                                                                                     275
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                                                                                               272
                                                                                                                                                                                                                                                                                                                                                                                    ...
[ABS, Central door lock, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag]                                                                                                                                                                                                                                                        1
[ABS, Adaptive Cruise Control, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Emergency brake assistant, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                                                                                     1
[ABS, Adaptive Cruise Control, Alarm system, Central door lock, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Lane departure warning system, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights]                                                 1
[ABS, Adaptive Cruise Control, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Power steering, Tire pressure monitoring system, Traction control]                                                                                                                                                        1
[ABS, Adaptive Cruise Control, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Emergency brake assistant, Fog lights, Immobilizer, Isofix, Lane departure warning system, LED Daytime Running Lights, LED Headlights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traffic sign recognition]      1
Name: safety_&_security, Length: 4444, dtype: int64
******************************



column name :  description
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
[]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        636
[\n, \n]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   30
[\n, Fahrzeugbeschreibung,  Sichern Sie sich diesen Renault Clio 1.6 TCE Energy Sport Trophy zum Top-Preis inklusive dem , AUTOHERO-RUNDUM-SORGLOS-PAKET,  , Infos:,  1.Hand, deutsche Auslieferung, Unfallfrei, scheckheftgepflegt,  , Highlights,  , Audio-Navigationssystem R-Link Evolution mit Touchscreen und Carminat TomTom,  , Sportsitze ,  , Sportfahrwerk,  , Scheinwerfer Full-LED , Komfort,  , Geschwindigkeits-Regelanlage (Tempomat) ,  , Klimaanlage,  , Einparkhilfe hinten,  , Multifunktionslenkrad (Sport/Leder) mit Schaltwippen/-tasten ,  , Fensterheber elektr. mit Impulsgeber links/rechts vorn,  , Zentralverriegelung / Startanlage Handsfree Entry & Drive ,  , Berganfahr-Assistent (HSA) , Multimedia,  , Audiosystem: Radio R & GO (Bluetooth, DAB-Tuner),  , Bordcomputer,  , Freisprecheinrichtung Bluetooth ,  , USB-Anschluss inkl. AUX-IN-Anschluss (Plug & Music) , Licht und Sicht,  , Außenspiegel elektr. verstell- und heizbar ,  , Licht- und Regensensor ,  , Tagfahrlicht LED ,  , Nebelscheinwerfer LED ,  , Coming-Home-Lichtfunktion ,  , Heckleuchten LED , Sicherheit,  , Isofix-Aufnahmen für Kindersitz ,  , Seitenairbag vorn,  , Wegfahrsperre,  , Differentialsperre,  , Bremsassistent ,  , Elektron. Stabilitäts-Programm (ESP),  , Anti-Blockier-System (ABS),  , Anti-Submarining-Airbag im Fond,  , Airbag Fahrer-/Beifahrerseite ,  , Differentialsperre ,  , Reifendruck-Kontrollsystem ,  , Untersteuerungskontrolle (USC) ,  , Antischlupfregelung (ASR) , Weiteres,  , Start/Stop-Anlage ,  , Servolenkung geschwindigkeitsabhängig,  , R.S. Drive (Fahrmodusschalter) ,  , Gepäckraumabdeckung / Rollo ,  , Heckdiffusor ,  , LM-Felgen ,  , Heckspoiler (Renault Sport) ,  , Pedale Aluminium ,  , Energierückgewinnung (Energy Smart Management) , ...]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              27
[\nPosibilidad de prueba del vehículo hasta 5 días. Consultar condiciones. PVP para particulares. Varias unidades y colores disponibles. Precios publicados para vehículos industriales (furgonetas) válidos para compradores autónomos o empresas, consultar condiciones para particulares. Las imágenes y kilómetros pueden no corresponder con el modelo anunciado. Para confirmar póngase en contacto con nuestro departamento comercial. Consulta las excepcionales condiciones de financiación que tenemos disponibles. Precio de venta final IVA y gastos de transferencia incluidos. Horario de atención al cliente: Lunes a Viernes de 09:00 a 18:00.\n]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          27
[\nSichern Sie sich diesen RENAULT CLIO 1.2 LIMITED zum Top-Preis inklusive dem, AUTOHERO-RUNDUM-SORGLOS-PAKET,  , Infos:,  2.Hand, mindestens 12 Monate gültige HU und AU, deutsche Ausführung, unfallfrei ,  , Highlights,  , Audio-Navigationssystem mit Touchscreen-Farbdisplay, Komfort,  , Klimaanlage ,  , Multifunktionslenkrad in Leder ,  , Berganfahr-Assistent (HSA),  , Fensterheber elektrisch vorn ,  , Geschwindigkeits-Regelanlage (Tempomat) ,  , Heckscheibe heizbar ,  , Sitz vorn links höhenverstellbar,  , Sitz vorn rechts umklappbar ,  , Stau-/Ablagefach im Laderaumboden ,  , Zentralverriegelung mit Fernbedienung , Multimedia,  , Radio R&GO,  , Bluetooth Freisprechanlage ,  , USB-/AUX-Schnittstelle ,  , Bordcomputer,  , Licht und Sicht,  , Tagfahrlicht LED ,  , Außenspiegel elektrisch verstell- und heizbar, Sicherheit,  , Airbag für Fahrer und Beifahrer,  , Beifahrerairbag deaktivierbar ,  , Seitenairbags vorn ,  , Kopfairbagsystem,  , Anti-Blockier-System (ABS),  , Elektronische Bremskraftverteilung ,  , Elektronische Stabilitäts-Programm (ESP) ,  , Reifen-Reparaturkit ,  , Reifendruck-Kontrollsystem ,  , Untersteuerungskontrolle (USC) ,  , ISOFIX Kindersitzverankerung , Weiteres,  , Dachreling silber ,  , Look-Paket Chrom (außen) ,  , Look-Paket Grau (innen) ,  , R&GO-Paket ,  , Style-Paket ,  Ihr , AUTOHERO-RUNDUM-SORGLOS-PAKET,  beinhaltet:, Kostenlose Lieferung in Ihre Nähe, Optische & technische Aufbereitung, Mindestens 12 Monate gültige HU und AU, 1-Jahr-Premium-Garantie, Zulassung inklusive , 14-Tage-Rückgaberecht, Markenunabhängige Inzahlungnahme , Individuelle Finanzierungen zu fairen Konditionen,  , HIER GEHT ES ZUR 360° - ANSICHT DES FAHRZEUGES:, :, https://www.autohero.com/de/renault-clio-1-2-limited/id/30f99516-8785-47e7-a4a3-6cdac4d8e633/,  , Haftungsausschluss, :, Für Angaben vom Verkäufer, des Herstellers oder von Datenbankabfragen übernimmt Autohero keine Haftung. Änderungen, Zwischenverkauf und Irrtümer sind vorbehalten.\n]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                27
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         ...

## To-Do List

In [209]:
# bazı sütunlarda sütun isimleri açıklanır halde birimi ile birlikte yazılacak
# url sonra bakılacak.
# make_model, make ve model sütunları incelenecek eksik veriler tamamlanacak ve make_model veya make ve model sütunu kalacak.
# short_description sonra bakılacak
# body_type da bulunan none değerler doldurulacak. Dolduramazsak other lara ekleyebiliriz
# price sütunu floata çevrilecek (€ simgesi konacak)
# vat(value add tax) sütununda null değerler fazla (28%) bu sütuna bakılacak ve ilişkili olduğunu düşündüğümüz kolonlar vastasıyla doldurulacak
# km sütununda ',' ve 'km' ler arındırılacak. Ayrıca '-' değerlerine bakılıp ne anlama geldiğine bakılacak
# registration ve first registration aynı değerlendirilebilir ve buradan age sütunu oluşturulabilir
# prew_owner çok fazla null değer var. araç yaşına göre düzenlenebilir 
# kw silinecek (Tamamı none değerler)
# hp sütununda 'kw' ler silinecek (hp ye çevrilebilir). strange  değerler var. '-' değerleri var
# type sütunu listeden çıkarağız.fuel ile koordineli doldurma işlemi yapılacak. Yakıt ksıımları silinecek. (pre-registration gibi değerler var  değeri new oalrak değiştirilecek)
# previous_owners '\n' lerden temizlenecek. sütun ile ilgisi olmayan şeyler var
# next_inspection temizlenecek. null değer çok fazla.
# inspection_new çok fazla null değer. diğer sütunları tamamlamaya çalışacağız
# warranty çok fazla null ve boş değer var month ın öündeki sayıları extract yapacağız. inr veya floata çevireceğiz
# full servis sütumu tekrar incelenecek ve önem derecesine bakılıp düşülecek
# non_smoking_vehicle düşülecek
# null sütunu düşülecek
# offer_number bi anlamı yok düşülecek
# body_color a göre grıuplama yapılacak fiyat analizi yapılacak sonra kategorize edilecek
# paint_type sütunu temizlenecek cex kalacak (3 type var metalik non-metalik, perl)
# body_color ve body _color_original birlikte incelenip null değerler doldurrulmaya çalışılacak sonra original silinecek
# upholstery sütunu temizlenecek kategorize edilecek
# body sütunu temizlenecek
# nr_of_doors sütunun da strange value var 
# nr_of_seats temizlenecek null değerler doldurulacak
# model_code tekrar bakılacak ve düşülecek
# gearing_type temizlenecek 
# displacement temizlenecek 'cc' ve ',' değerleri silinecek. ismi 'engine_displacement' değişecek 
# cylinders temizlenecek null değerler doldurmaya çalışılacak. engine displacement sütunu ile birlikte değerlendirilecek
# weight null değerler var temizlenecek düşülebilir veya doldurulabilir veya kategorize edilebilir. 
# drive_chain temizlenecek ve doldurulacak
# fuel kategorize edilecek allen hocanın kodu ile
# consumption temizlenip kategorize edilecek
# co2_emission temizlenip integer a evrilecek
# emission_class değerleri hepsi aynı gibi silinebilir fiyata etkisine bakılacak
# comfort&convenience puanlama mantığı yapılabilir
# entertainment&media puanlama mantığı yapılabilir
# safety_&_security puanlama mantığı yapılabilir
# extras puanlama mantığı yapılabilir
# description düşülecek
# emission_label null değer çok fazla düşülebilir 
# gears tmizlenecek extreme değerler var null değer fazla
# country_version vat sütunu ile değerlendirilecek null lar dolacak
# electricity_consumption düşecek 
# last_service_date düşecek
# other_fuel_types düşecek
# availability düşecek
# last_timing_belt_service_date düşecek 
# available_from düşecek

In [210]:
import re 

def get_diff_category_column(Series:pd.Series, exclude=''',/\n''', pattern=r'''[,\n]| /''', strip='''\n' "!?|.,*+-_/][\\n''', diff_value=list()):  
    diff_value.clear()
    column = Series.dropna().apply(str).str.strip(strip)
    for row in column:
        if not any(x in exclude for x in row) and row not in diff_value:
            diff_value.append(row)
        else:
            for data in map(lambda x: x.strip(strip), filter(None, re.split(pattern, row))):
                if data not in diff_value:
                    diff_value.append(data)
    return dict(enumerate(sorted(diff_value)))

## 1. url

In [211]:
check_df(["url"])

column name :  ['url']
--------------------------------
Per_of_Nulls   :  % url    0.0
dtype: float64
Num_of_Nulls   :  url    0
dtype: int64
url
https://www.autoscout24.com//offers/audi-a1-1-0-30-tfsi-sportback-advanced-2019-sh-pdc-gasoline-white-1037d13f-0851-44dd-b559-c6f6def8e6d2                     1
https://www.autoscout24.com//offers/opel-insignia-1-5-turbo-s-s-innovation-at-matrix-led-gasoline-black-8b880006-0c08-4500-91c0-2b45013716c8                   1
https://www.autoscout24.com//offers/opel-insignia-1-5-turbo-innovation-matrix-navi-pdc-gasoline-silver-bf9ce61b-6d07-4e1a-b734-e5c1742f03b8                    1
https://www.autoscout24.com//offers/opel-insignia-1-5-turbo-innovation-navi-klimaaut-gasoline-blue-900ec5a8-b2db-427d-8977-8363b8ae15b9                        1
https://www.autoscout24.com//offers/opel-insignia-1-5-turbo-innovation-navi-klimaaut-gasoline-grey-913b914f-a839-416d-96ba-c995de9f4db3                        1
                                                                                                                                                              ..
https://www.autoscout24.com//offers/audi-a3-sportback-35-tfsi-1-5-150-ps-euro-6-wltp-gasoline-white-d84d9ed1-c735-48a1-89ba-d614f7da6a0a                       1
https://www.autoscout24.com//offers/audi-a3-sportback-35-tfsi-110kw-gasoline-00a371f2-061f-4339-87cd-f5605edae75b                                              1
https://www.autoscout24.com//offers/audi-a3-sportback-35-tfsi-150-gps-radars-16p-gasoline-black-2f028979-a6f3-4716-9c76-6e981fb0a3c9                           1
https://www.autoscout24.com//offers/audi-a3-sportback-35-tfsi-150-gps-radars-16p-gasoline-grey-a6344f21-90da-4140-b505-9bd31ec5013e                            1
https://www.autoscout24.com//offers/renault-espace-zu-spaet-geht-an-haendler-da-wird-er-dann-23-000-ko-gasoline-silver-93caa088-19e3-905e-e053-e250040a8d8d    1
Length: 15919, dtype: int64
******************************

In [212]:
# we can drop "url" column

## 2. make_model, make and model columns

In [213]:
for i in ["make_model", "make", "model"]:
    check_df(i)

column name :  make_model
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
Audi A3           3097
Audi A1           2614
Opel Insignia     2598
Opel Astra        2526
Opel Corsa        2219
Renault Clio      1839
Renault Espace     991
Renault Duster      34
Audi A2              1
Name: make_model, dtype: int64
******************************



column name :  make
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
\nOpel\n       7343
\nAudi\n       5712
\nRenault\n    2864
Name: make, dtype: int64
******************************



column name :  model
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
[\n, A3, \n]          3097
[\n, A1, \n]          2614
[\n, Insignia, \n]    2598
[\n, Astra, \n]       2526
[\n, Corsa, \n]       2219
[\n, Clio, \n]        1839
[\n, Espace, \n]       991
[\n, Duster, \n]        34
[\n, A2, \n]             1
Name: model, dtype: int64
******************************

In [214]:
df[["make_model", "make", "model"]].sample(50)

           make_model         make               model
1486          Audi A1     \nAudi\n        [\n, A1, \n]
4330          Audi A3     \nAudi\n        [\n, A3, \n]
7524       Opel Astra     \nOpel\n     [\n, Astra, \n]
3064          Audi A3     \nAudi\n        [\n, A3, \n]
1170          Audi A1     \nAudi\n        [\n, A1, \n]
6691       Opel Astra     \nOpel\n     [\n, Astra, \n]
3398          Audi A3     \nAudi\n        [\n, A3, \n]
12494   Opel Insignia     \nOpel\n  [\n, Insignia, \n]
11373   Opel Insignia     \nOpel\n  [\n, Insignia, \n]
7893       Opel Astra     \nOpel\n     [\n, Astra, \n]
2325          Audi A1     \nAudi\n        [\n, A1, \n]
6052       Opel Astra     \nOpel\n     [\n, Astra, \n]
13025   Opel Insignia     \nOpel\n  [\n, Insignia, \n]
603           Audi A1     \nAudi\n        [\n, A1, \n]
13376    Renault Clio  \nRenault\n      [\n, Clio, \n]
11451   Opel Insignia     \nOpel\n  [\n, Insignia, \n]
7016       Opel Astra     \nOpel\n     [\n, Astra, \n]
8989       Opel Corsa     \nOpel\n     [\n, Corsa, \n]
10573   Opel Insignia     \nOpel\n  [\n, Insignia, \n]
8711       Opel Corsa     \nOpel\n     [\n, Corsa, \n]
5086          Audi A3     \nAudi\n        [\n, A3, \n]
3988          Audi A3     \nAudi\n        [\n, A3, \n]
11019   Opel Insignia     \nOpel\n  [\n, Insignia, \n]
5013          Audi A3     \nAudi\n        [\n, A3, \n]
5983       Opel Astra     \nOpel\n     [\n, Astra, \n]
4854          Audi A3     \nAudi\n        [\n, A3, \n]
3422          Audi A3     \nAudi\n        [\n, A3, \n]
932           Audi A1     \nAudi\n        [\n, A1, \n]
3196          Audi A3     \nAudi\n        [\n, A3, \n]
14316    Renault Clio  \nRenault\n      [\n, Clio, \n]
15307  Renault Espace  \nRenault\n    [\n, Espace, \n]
10205      Opel Corsa     \nOpel\n     [\n, Corsa, \n]
10049      Opel Corsa     \nOpel\n     [\n, Corsa, \n]
6729       Opel Astra     \nOpel\n     [\n, Astra, \n]
12886   Opel Insignia     \nOpel\n  [\n, Insignia, \n]
12868   Opel Insignia     \nOpel\n  [\n, Insignia, \n]
4724          Audi A3     \nAudi\n        [\n, A3, \n]
4171          Audi A3     \nAudi\n        [\n, A3, \n]
13059    Renault Clio  \nRenault\n      [\n, Clio, \n]
657           Audi A1     \nAudi\n        [\n, A1, \n]
14363    Renault Clio  \nRenault\n      [\n, Clio, \n]
2579          Audi A1     \nAudi\n        [\n, A1, \n]
13377    Renault Clio  \nRenault\n      [\n, Clio, \n]
12944   Opel Insignia     \nOpel\n  [\n, Insignia, \n]
11744   Opel Insignia     \nOpel\n  [\n, Insignia, \n]
13057    Renault Clio  \nRenault\n      [\n, Clio, \n]
6284       Opel Astra     \nOpel\n     [\n, Astra, \n]
12522   Opel Insignia     \nOpel\n  [\n, Insignia, \n]
10501   Opel Insignia     \nOpel\n  [\n, Insignia, \n]
10233      Opel Corsa     \nOpel\n     [\n, Corsa, \n]

In [215]:
df[["make", "model"]] = df.make_model.str.split(" ", expand=True)

In [216]:
# we can drop the make_model column 
df.drop(columns="make_model", inplace=True)

## 3.short_description

In [217]:
check_df("short_description")

column name :  short_description
--------------------------------
Per_of_Nulls   :  % 0.29
Num_of_Nulls   :  46
SPB 1.6 TDI 116 CV S tronic Sport                 64
NaN                                               46
1.4 66kW (90CV) Selective                         40
MOVE KLIMA CD USB ALLWETTER BLUETOOTH             38
SPB 30 TDI S tronic Business                      35
                                                  ..
K Sports Tourer Business **Navi*Voll**             1
1.0 Turbo ecoFLEX Automatic Elective Park Navi     1
1.6 CDTI Business *Navi*Automatik*Spurh.*          1
1.6 136 CV Automatica Navi E 6 Garanzia Full       1
TCe 225 EDC GPF LIM Deluxe Pano,RFK                1
Name: short_description, Length: 10002, dtype: int64
******************************

In [218]:
# it can be used

## 4.body_type

In [219]:
check_df(["body_type"])

column name :  ['body_type']
--------------------------------
Per_of_Nulls   :  % body_type    0.38
dtype: float64
Num_of_Nulls   :  body_type    60
dtype: int64
body_type
Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
dtype: int64
******************************

## 5.price (Target Feature)

In [220]:
check_df("price")

column name :  price
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
14990    154
15990    151
10990    139
15900    106
17990    102
        ...
17559      1
17560      1
17570      1
17575      1
39875      1
Name: price, Length: 2956, dtype: int64
******************************

In [221]:
df.rename(columns={"price":"price_€"}, inplace=True)

In [222]:
df["price_€"] = df["price_€"].astype(float)

## 6. vat

In [223]:
check_df("vat")

column name :  vat
--------------------------------
Per_of_Nulls   :  % 28.35
Num_of_Nulls   :  4513
VAT deductible      10980
NaN                  4513
Price negotiable      426
Name: vat, dtype: int64
******************************

In [224]:
# Data is clean already we will fill the missing values

## 7. km

In [225]:
check_df("km")

column name :  km
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
10 km        1045
- km         1024
1 km          367
5 km          170
50 km         148
             ...
67,469 km       1
43,197 km       1
10,027 km       1
35,882 km       1
57 km           1
Name: km, Length: 6690, dtype: int64
******************************

In [226]:
#df['km'] = df['km'].str.replace(r'[^0-9]+', '')

df["km"] = df.km.str.replace(" km", "").str.replace(",", "")

In [227]:
df.km

0        56013
1        80000
2        83450
3        73000
4        16200
         ...
15914        -
15915     9900
15916       15
15917       10
15918        -
Name: km, Length: 15919, dtype: object

## 8.registration and first_registration

In [228]:
check_df("registration")

column name :  registration
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
-/-        1597
03/2018     695
02/2019     585
05/2018     572
03/2019     543
01/2019     541
04/2018     541
02/2018     539
03/2016     536
04/2016     532
06/2018     532
01/2018     511
04/2019     506
02/2016     472
03/2017     471
05/2016     459
06/2016     452
05/2019     440
06/2017     409
05/2017     404
07/2018     396
04/2017     380
01/2016     376
02/2017     368
01/2017     306
08/2018     285
06/2019     224
07/2017     215
11/2017     180
07/2016     176
10/2016     160
10/2017     154
09/2017     149
11/2016     142
09/2018     141
09/2016     141
12/2016     134
12/2017     123
08/2017     114
11/2018     110
12/2018     103
10/2018      97
08/2016      94
07/2019       6
09/2019       5
08/2019       1
11/2019       1
12/2019       1
Name: registration, dtype: int64
******************************

In [229]:
check_df("first_registration")

column name :  first_registration
--------------------------------
Per_of_Nulls   :  % 10.03
Num_of_Nulls   :  1597
[\n, 2018, \n]    4522
[\n, 2016, \n]    3674
[\n, 2017, \n]    3273
[\n, 2019, \n]    2853
NaN               1597
Name: first_registration, dtype: int64
******************************

In [230]:
# df.registration.str.split("/", expand=True)[1]
df["registration"] = df.registration.str.extract(r"\d+/(\d+)")

In [231]:
df.drop(columns="first_registration", inplace=True)

In [232]:
# age column will be created from this column later

In [233]:
df.registration.astype(float)

0        2016.0
1        2017.0
2        2016.0
3        2016.0
4        2016.0
          ...
15914       NaN
15915    2019.0
15916    2019.0
15917    2019.0
15918    2019.0
Name: registration, Length: 15919, dtype: float64

## 9.prev_owner

In [234]:
check_df("prev_owner")

column name :  prev_owner
--------------------------------
Per_of_Nulls   :  % 42.89
Num_of_Nulls   :  6828
1 previous owner     8294
NaN                  6828
2 previous owners     778
3 previous owners      17
4 previous owners       2
Name: prev_owner, dtype: int64
******************************

In [235]:
df.prev_owner = df.prev_owner.str.extract(r"(\d+)").astype(float)

## 10.kW

In [236]:
check_df("kW")

column name :  kW
--------------------------------
Per_of_Nulls   :  % 100.0
Num_of_Nulls   :  15919
NaN    15919
Name: kW, dtype: int64
******************************

In [237]:
df.drop(columns=["kW"], inplace=True)

In [238]:
# we dropped this column bcs all values are null

## 11.hp

In [239]:
check_df("hp")

column name :  hp
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
85 kW     2542
66 kW     2122
81 kW     1402
100 kW    1308
110 kW    1112
          ...
84 kW        1
195 kW       1
44 kW        1
239 kW       1
9 kW         1
Name: hp, Length: 81, dtype: int64
******************************

In [240]:
df["hp"] = df.hp.str.extract(r"(\d+)").astype(float)

In [241]:
df.rename(columns={"hp":"hp_kW"}, inplace=True)

## 12.Type

In [242]:
check_df("type")

column name :  type
--------------------------------
Per_of_Nulls   :  % 0.01
Num_of_Nulls   :  2
[, Used, , Diesel (Particulate Filter)]                                                                                 3475
[, Used, , Diesel]                                                                                                      2516
[, Used, , Gasoline]                                                                                                    2367
[, Used, , Super 95]                                                                                                    1818
[, Pre-registered, , Super 95]                                                                                           500
                                                                                                                        ...
[, New, , Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95]       1
[, Used, , Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98 (Particulate Filter)]                               1
[, Demonstration, , Super Plus 98]                                                                                         1
[, New, , Super Plus E10 98]                                                                                               1
[, Demonstration, , Regular/Benzine E10 91]                                                                                1
Name: type, Length: 170, dtype: int64
******************************

In [243]:
# Changing some columns value type from list to str
df = df.applymap(lambda x: ",".join(map(str,x)) if type(x) == list else x)

In [244]:
df["type"] = df.type.str.extract(r",(\w+|\w+\W\w+|\w+\W\w\s\w+),")

In [245]:
df.type.sample(50)

10536              Used
853                Used
15849    Employee's car
1168               Used
9944     Pre-registered
4216               Used
24                 Used
3059               Used
7677      Demonstration
9572               Used
3477               Used
12984               New
1360               Used
6041               Used
14922               New
3645     Pre-registered
8670               Used
10924              Used
1003     Employee's car
5421      Demonstration
8455               Used
6693               Used
14148               New
9050               Used
4275               Used
10019    Pre-registered
13693              Used
14985              Used
2870               Used
9139               Used
28                 Used
4087               Used
2406                New
5927               Used
11432              Used
7448               Used
12663    Pre-registered
11789              Used
14035              Used
440                Used
10190    Pre-registered
7628                New
5901               Used
3802               Used
12060              Used
15806     Demonstration
4423               Used
4680               Used
2422                New
4960               Used
Name: type, dtype: object

In [246]:
df.type.value_counts(dropna=False)

Used              11096
New                1650
Pre-registered     1364
Employee's car     1011
Demonstration       796
NaN                   2
Name: type, dtype: int64

In [247]:
df.type.unique()

array(['Used', "Employee's car", 'New', 'Demonstration', 'Pre-registered',
       nan], dtype=object)

## 13.previous_owners

In [248]:
check_df("previous_owners")

column name :  previous_owners
--------------------------------
Per_of_Nulls   :  % 41.71
Num_of_Nulls   :  6640
\n1\n                                                                               8103
NaN                                                                                 6640
\n2\n                                                                                766
\n0\n                                                                                163
\n3\n                                                                                 17
                                                                                    ...
\n1\n,\n111 g CO2/km (comb)\n                                                          1
\n1\n,\nEuro 6\n                                                                       1
\n2\n,\n119 g CO2/km (comb)\n                                                          1
\n1\n,\n,6.6 l/100 km (comb),\n,8.1 l/100 km (city),\n,5.7 l/100 km (country),\n       1
\n1\n,\n142 g CO2/km (comb)\n                                                          1
Name: previous_owners, Length: 102, dtype: int64
******************************

In [249]:
df[["prev_owner", "previous_owners"]]

,prev_owner,previous_owners
0,2.0,\n2\n
1,NaN,NaN
2,1.0,\n1\n
3,1.0,\n1\n
4,1.0,\n1\n
...,...,...
15914,NaN,NaN
15915,1.0,"\n1\n,\n,7.4 l/100 km (comb),\n,9.2 l/100 km (city),\n,6.3 l/100 km (country),\n"
15916,1.0,"\n1\n,\n139 g CO2/km (comb)\n"
15917,NaN,NaN
15918,1.0,\n1\n

In [250]:
df.previous_owners.str.extract(r"\\n(\d+)")

         0
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
...    ...
15914  NaN
15915  NaN
15916  NaN
15917  NaN
15918  NaN

[15919 rows x 1 columns]

In [251]:
check_df("prev_owner")

column name :  prev_owner
--------------------------------
Per_of_Nulls   :  % 42.89
Num_of_Nulls   :  6828
1.0    8294
NaN    6828
2.0     778
3.0      17
4.0       2
Name: prev_owner, dtype: int64
******************************

In [252]:
df.previous_owners = df.previous_owners.str.split(",",expand=True)[0].str.extract(r"(\d+)")

In [253]:
df.previous_owners

0          2
1        NaN
2          1
3          1
4          1
        ...
15914    NaN
15915      1
15916      1
15917    NaN
15918      1
Name: previous_owners, Length: 15919, dtype: object

In [254]:
df.previous_owners.value_counts(dropna=False)

1      8294
NaN    6640
2       778
0       188
3        17
4         2
Name: previous_owners, dtype: int64

In [255]:
df.previous_owners = df.previous_owners.astype(float)

In [256]:
# we will control prev_owner and previous_owners, we will try to fill with each other and drop one of them.

## 14.next_inspection

In [257]:
check_df("next_inspection")

column name :  next_inspection
--------------------------------
Per_of_Nulls   :  % 77.79
Num_of_Nulls   :  12384
NaN                                    12384
\n04/2022\n                               62
\n06/2021\n                               47
\n03/2021\n                               39
\n03/2022\n                               36
                                       ...
\n06/2021\n,\n121 g CO2/km (comb)\n        1
\n02/2020\n,\n139 g CO2/km (comb)\n        1
\n10/2021\n,\n136 g CO2/km (comb)\n        1
\n06/2019\n,\n139 g CO2/km (comb)\n        1
\n01/2022\n,\n168 g CO2/km (comb)\n        1
Name: next_inspection, Length: 1385, dtype: int64
******************************

In [258]:
# There are many null values and also it is not relevant to analysis bcs of that we can drop this column without cleaning

In [259]:
df.drop(columns="next_inspection", inplace=True)

## 15. inspection_new

In [260]:
check_df("inspection_new")

column name :  inspection_new
--------------------------------
Per_of_Nulls   :  % 75.3
Num_of_Nulls   :  11987
NaN                                                                                   11987
\nYes\n,\nEuro 6\n                                                                      523
\nYes\n                                                                                 442
\nYes\n,\n102 g CO2/km (comb)\n                                                         174
\nYes\n,\n4 (Green)\n                                                                   166
                                                                                      ...
\nYes\n,\n,5.2 l/100 km (comb),\n,6.7 l/100 km (city),\n,4.2 l/100 km (country),\n        1
\nYes\n,\n100 g CO2/km (comb)\n                                                           1
\nYes\n,\n,4.9 l/100 km (comb),\n,5.9 l/100 km (city),\n,4.3 l/100 km (country),\n        1
\nYes\n,\n,5.1 l/100 km (comb),\n,6.4 l/100 km (city),\n,4.3 l/100 km (country),\n        1
\nYes\n,\n172 g CO2/km (comb)\n                                                           1
Name: inspection_new, Length: 202, dtype: int64
******************************

In [261]:
# There are many null values and also it is not relevant to analysis bcs of that we can drop this column without cleaning

In [262]:
df.drop(columns="inspection_new", inplace=True)

## 16.warranty

In [263]:
check_df("warranty")

column name :  warranty
--------------------------------
Per_of_Nulls   :  % 34.05
Num_of_Nulls   :  5420
NaN                                                                                       5420
\n,\n,\nEuro 6\n                                                                          1868
\n12 months\n                                                                             1305
\n                                                                                         979
\n24 months\n                                                                              585
                                                                                          ...
\n2 months\n                                                                                 1
\n72 months\n,\n125 g CO2/km (comb)\n                                                        1
\n60 months\n,\n14 g CO2/km (comb)\n                                                         1
\n24 months\n,\n121 g CO2/km (comb)\n                                                        1
\n36 months\n,\n,7.4 l/100 km (comb),\n,9.6 l/100 km (city),\n,6 l/100 km (country),\n       1
Name: warranty, Length: 508, dtype: int64
******************************

In [264]:
df.warranty = df.warranty.str.extract(r"(\d+) months")

In [265]:
df.warranty = df.warranty.astype(float)

In [266]:
df.warranty.sort_values(ascending=False)

7612     72.0
7959     72.0
7898     72.0
7897     72.0
12614    72.0
         ...
15913     NaN
15915     NaN
15916     NaN
15917     NaN
15918     NaN
Name: warranty, Length: 15919, dtype: float64

In [267]:
df.warranty.value_counts()

12.0    2594
24.0    1118
60.0     401
36.0     279
48.0     149
6.0      125
72.0      59
3.0       33
23.0      11
18.0      10
20.0       7
25.0       6
2.0        5
50.0       4
26.0       4
16.0       4
4.0        3
1.0        3
19.0       3
34.0       3
13.0       3
28.0       2
22.0       2
14.0       2
11.0       2
46.0       2
21.0       2
9.0        2
17.0       2
45.0       2
33.0       1
40.0       1
65.0       1
10.0       1
15.0       1
7.0        1
8.0        1
56.0       1
49.0       1
47.0       1
30.0       1
Name: warranty, dtype: int64

## 17.full_service

In [268]:
check_df("full_service")

column name :  full_service
--------------------------------
Per_of_Nulls   :  % 48.39
Num_of_Nulls   :  7704
NaN                                                                                 7704
\n,\n,\n4 (Green)\n                                                                 2235
\n,\n,\nEuro 6\n                                                                    2097
\n,\n                                                                               1702
\n,\n,\nEuro 6d-TEMP\n                                                               399
                                                                                    ...
\n,\n,\n80 g CO2/km (comb)\n                                                           1
\n,\n,\n84 g CO2/km (comb)\n                                                           1
\n,\n,\n,6 l/100 km (comb),\n,8 l/100 km (city),\n,4.9 l/100 km (country),\n           1
\n,\n,\n,4.9 l/100 km (comb),\n,6.2 l/100 km (city),\n,4.1 l/100 km (country),\n       1
\n,\n,\nEuro 4\n                                                                       1
Name: full_service, Length: 123, dtype: int64
******************************

In [269]:
df.drop(columns="full_service", inplace=True)

## 18.non_smoking_vehicle

In [270]:
check_df("non_smoking_vehicle")

column name :  non_smoking_vehicle
--------------------------------
Per_of_Nulls   :  % 54.92
Num_of_Nulls   :  8742
NaN                                                                                 8742
\n,\n                                                                               3647
\n,\n,\n4 (Green)\n                                                                 1240
\n,\n,\nEuro 6\n                                                                    1127
\n,\n,\nEuro 6d-TEMP\n                                                               345
                                                                                    ...
\n,\n,\n,5.6 l/100 km (comb),\n,7.3 l/100 km (city),\n,4.7 l/100 km (country),\n       1
\n,\n,\n122 g CO2/km (comb)\n                                                          1
\n,\n,\n158 g CO2/km (comb)\n                                                          1
\n,\n,\n150 g CO2/km (comb)\n                                                          1
\n,\n,\n175 g CO2/km (comb)\n                                                          1
Name: non_smoking_vehicle, Length: 95, dtype: int64
******************************

In [271]:
df.drop(columns="non_smoking_vehicle", inplace=True)

## 19. null

In [272]:
check_df("null")

column name :  null
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
    15919
Name: null, dtype: int64
******************************

In [273]:
df.drop(columns="null", inplace=True)

## 20. offer_number

In [274]:
check_df("offer_number")

column name :  offer_number
--------------------------------
Per_of_Nulls   :  % 19.94
Num_of_Nulls   :  3175
NaN                                             3175
\nLT67679\n                                       27
\nUN89904\n                                       27
\nXJ38068\n                                       27
\nJV03654\n                                       27
                                                ...
\n160_dcbb6c3e-a6da-43a3-8754-ccd994cec93b\n       1
\n6701576\n                                        1
\n6701569\n                                        1
\n158121\n                                         1
\nRe_30000008029\n                                 1
Name: offer_number, Length: 11441, dtype: int64
******************************

In [275]:
df.drop(columns="offer_number", inplace=True)

## 21. body_color

In [276]:
check_df("body_color")

column name :  body_color
--------------------------------
Per_of_Nulls   :  % 3.75
Num_of_Nulls   :  597
\n,Black,\n     3745
\n,Grey,\n      3505
\n,White,\n     3406
\n,Silver,\n    1647
\n,Blue,\n      1431
\n,Red,\n        957
NaN              597
\n,Brown,\n      289
\n,Green,\n      154
\n,Beige,\n      108
\n,Yellow,\n      51
\n,Violet,\n      18
\n,Bronze,\n       6
\n,Orange,\n       3
\n,Gold,\n         2
Name: body_color, dtype: int64
******************************

In [277]:
df.body_color = df.body_color.str.split(",", expand=True)[1]

In [278]:
df.body_color.value_counts(dropna=False).head(15)

Black     3745
Grey      3505
White     3406
Silver    1647
Blue      1431
Red        957
NaN        597
Brown      289
Green      154
Beige      108
Yellow      51
Violet      18
Bronze       6
Orange       3
Gold         2
Name: body_color, dtype: int64

## 22. paint_type

In [279]:
check_df("paint_type")

column name :  paint_type
--------------------------------
Per_of_Nulls   :  % 36.26
Num_of_Nulls   :  5772
\nMetallic\n       9794
NaN                5772
\nUni/basic\n       347
\nPerl effect\n       6
Name: paint_type, dtype: int64
******************************

In [280]:
df.paint_type.head(25)

0      \nMetallic\n
1               NaN
2      \nMetallic\n
3      \nMetallic\n
4      \nMetallic\n
5      \nMetallic\n
6      \nMetallic\n
7      \nMetallic\n
8      \nMetallic\n
9               NaN
10     \nMetallic\n
11    \nUni/basic\n
12     \nMetallic\n
13              NaN
14     \nMetallic\n
15     \nMetallic\n
16              NaN
17              NaN
18              NaN
19     \nMetallic\n
20              NaN
21     \nMetallic\n
22     \nMetallic\n
23     \nMetallic\n
24              NaN
Name: paint_type, dtype: object

In [281]:
df.paint_type.str.extract(r"(\w+\W\w+|\w+)").value_counts(dropna=False)

Metallic       9794
NaN            5772
Uni/basic       347
Perl effect       6
dtype: int64

In [282]:
df.paint_type = df.paint_type.str.extract(r"(\w+\W\w+|\w+)")

In [283]:
df.paint_type.value_counts()

Metallic       9794
Uni/basic       347
Perl effect       6
Name: paint_type, dtype: int64

## 23.body_color_original

In [284]:
check_df("body_color_original")

column name :  body_color_original
--------------------------------
Per_of_Nulls   :  % 23.61
Num_of_Nulls   :  3759
NaN                                  3759
\nOnyx Schwarz\n                      338
\nBianco\n                            282
\nMythosschwarz Metallic\n            238
\nBrillantschwarz\n                   216
                                     ...
\nRouge-Braun (G0Y)\n                   1
\nVARI COLRI DISPONIBILI\n              1
\nKokosnussbraun Metallic\n             1
\nFarbe frei wählbar\n                  1
\nPerlmutt-Weiß Metallic (Weiß)\n       1
Name: body_color_original, Length: 1928, dtype: int64
******************************

In [285]:
df.body_color_original = df.body_color_original.str.split("\n", expand=True)[1]

## 24. upholstery

In [286]:
check_df("upholstery")

column name :  upholstery
--------------------------------
Per_of_Nulls   :  % 23.37
Num_of_Nulls   :  3720
\nCloth, Black\n           5821
NaN                        3720
\nPart leather, Black\n    1121
\nCloth\n                  1005
\nCloth, Grey\n             891
\nCloth, Other\n            639
\nFull leather, Black\n     575
\nBlack\n                   491
\nGrey\n                    273
\nOther, Other\n            182
\nPart leather\n            140
\nFull leather\n            139
\nFull leather, Brown\n     116
\nPart leather, Grey\n      116
\nOther, Black\n            110
\nFull leather, Other\n      72
\nFull leather, Grey\n       67
\nPart leather, Other\n      65
\nOther\n                    56
\nPart leather, Brown\n      50
\nalcantara, Black\n         47
\nVelour, Black\n            36
\nFull leather, Beige\n      36
\nCloth, Brown\n             28
\nVelour\n                   16
\nOther, Grey\n              15
\nCloth, Beige\n             13
\nBrown\n                    12
\nCloth, Blue\n              12
\nVelour, Grey\n              8
\nCloth, White\n              8
\nalcantara, Grey\n           6
\nCloth, Red\n                5
\nOther, Yellow\n             4
\nPart leather, Red\n         3
\nBeige\n                     3
\nPart leather, White\n       2
\nFull leather, Blue\n        2
\nalcantara, Other\n          2
\nalcantara\n                 2
\nWhite\n                     2
\nPart leather, Beige\n       2
\nBlue\n                      2
\nCloth, Orange\n             1
\nFull leather, Red\n         1
\nOther, Brown\n              1
\nFull leather, White\n       1
Name: upholstery, dtype: int64
******************************

In [287]:
# df.upholstery.str.split("\n", expand=True)[1].str.extract(r"(\w+\s?\w+)").value_counts()

df.upholstery.str.split("\n", expand=True)[1].str.split(",", expand=True)[0].value_counts()

Cloth           8423
Part leather    1499
Full leather    1009
Black            491
Other            368
Grey             273
Velour            60
alcantara         57
Brown             12
Beige              3
Blue               2
White              2
Name: 0, dtype: int64

In [288]:
df.upholstery = df.upholstery.str.split("\n", expand=True)[1].str.split(",", expand=True)[0]

In [289]:
# we assumed that if there is only color info in column, it's cloth's color
Cloths = ['Cloth','Black', 'Grey', 'Blue', 'White', 'Beige', 'Brown']

In [290]:
def upholsterytype(x):
    if x in Cloths:
        return "Cloth"
    elif x == "Full leather":
        return "Full leather"
    elif x == "Part leather":
        return "Part leather"
    elif x == "alcantara":
        return "alcantara"
    elif x== "Velour":
        return "Velour"
    elif x== "Other":
        return "Other"

In [291]:
df["upholstery"] = df["upholstery"].apply(upholsterytype)

In [292]:
df.upholstery.value_counts()

Cloth           9206
Part leather    1499
Full leather    1009
Other            368
Velour            60
alcantara         57
Name: upholstery, dtype: int64

## 25.body, body_type

In [293]:
check_df("body")

column name :  body
--------------------------------
Per_of_Nulls   :  % 0.38
Num_of_Nulls   :  60
\n,Sedans,\n           7903
\n,Station wagon,\n    3553
\n,Compact,\n          3153
\n,Van,\n               783
\n,Other,\n             290
\n,Transporter,\n        88
NaN                      60
\n,Off-Road,\n           56
\n,Coupe,\n              25
\n,Convertible,\n         8
Name: body, dtype: int64
******************************

In [294]:
df.body.str.strip("\n,").value_counts(dropna=False)

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: body, dtype: int64

In [295]:
check_df("body_type")

column name :  body_type
--------------------------------
Per_of_Nulls   :  % 0.38
Num_of_Nulls   :  60
Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64
******************************

In [296]:
# as we can see body and body_type columns are the same, so we will drop body column
df.drop(columns="body", inplace=True)

## 26.nr_of_doors

In [297]:
check_df("nr_of_doors")

column name :  nr_of_doors
--------------------------------
Per_of_Nulls   :  % 1.33
Num_of_Nulls   :  212
\n5\n    11575
\n4\n     3079
\n3\n      832
\n2\n      219
NaN        212
\n1\n        1
\n7\n        1
Name: nr_of_doors, dtype: int64
******************************

In [298]:
df.nr_of_doors.str.strip("\n").value_counts()

5    11575
4     3079
3      832
2      219
1        1
7        1
Name: nr_of_doors, dtype: int64

In [299]:
df.nr_of_doors = df.nr_of_doors.str.strip("\n").astype(float)

## 27.nr_of_seats

In [300]:
check_df("nr_of_seats")

column name :  nr_of_seats
--------------------------------
Per_of_Nulls   :  % 6.14
Num_of_Nulls   :  977
\n5\n    13336
\n4\n     1125
NaN        977
\n7\n      362
\n2\n      116
\n6\n        2
\n3\n        1
Name: nr_of_seats, dtype: int64
******************************

In [301]:
df.nr_of_seats.str.strip("\n").value_counts()

5    13336
4     1125
7      362
2      116
6        2
3        1
Name: nr_of_seats, dtype: int64

In [302]:
df.nr_of_seats = df.nr_of_seats.str.strip("\n").astype(float)

## 28.model_code

In [303]:
check_df("model_code")

column name :  model_code
--------------------------------
Per_of_Nulls   :  % 68.73
Num_of_Nulls   :  10941
NaN             10941
\n0035/BCB\n      268
\n0588/BNO\n      245
\n0588/BDB\n      206
\n0588/BHX\n      188
                ...
\n0035/AVN\n        1
\n0035/BEM\n        1
\n0035/BAG\n        1
\n0035/BAA\n        1
\n3333/BKG\n        1
Name: model_code, Length: 233, dtype: int64
******************************

In [304]:
# There is relevant to analysis and also there are lots of null values bcs of that we will drop this column.
df.drop(columns="model_code", inplace=True)

## 29. gearing_type

In [305]:
check_df("gearing_type")

column name :  gearing_type
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
\n,Manual,\n            8153
\n,Automatic,\n         7297
\n,Semi-automatic,\n     469
Name: gearing_type, dtype: int64
******************************

In [306]:
df.gearing_type = df.gearing_type.str.strip("\n,")

## 30. displacement

In [307]:
check_df("displacement")

column name :  displacement
--------------------------------
Per_of_Nulls   :  % 3.12
Num_of_Nulls   :  496
\n1,598 cc\n    4761
\n999 cc\n      2438
\n1,398 cc\n    1314
\n1,399 cc\n     749
\n1,229 cc\n     677
                ...
\n122 cc\n         1
\n1,198 cc\n       1
\n1,195 cc\n       1
\n2,967 cc\n       1
\n1,800 cc\n       1
Name: displacement, Length: 78, dtype: int64
******************************

In [308]:
df.displacement.str.strip("\n cc").str.replace(",", "").astype(float).value_counts().sort_index(ascending=False).head(10)

16000.0      1
15898.0      1
2967.0       1
2480.0      20
2000.0      46
1998.0      25
1997.0     103
1995.0       1
1984.0      18
1968.0     301
Name: displacement, dtype: int64

In [309]:
df.displacement.str.strip("\n cc").str.replace(",", "").astype(float).value_counts().sort_index(ascending=False).tail(10)

899.0     11
898.0    351
890.0      1
160.0      6
140.0      1
139.0      4
122.0      1
54.0       1
2.0        2
1.0       36
Name: displacement, dtype: int64

In [310]:
df.displacement = df.displacement.str.strip("\n cc").str.replace(",", "").astype(float)

In [311]:
df.rename(columns={"displacement":"engine_displacement_cc"}, inplace=True)

## 31. cylinders

In [312]:
check_df("cylinders")

column name :  cylinders
--------------------------------
Per_of_Nulls   :  % 35.68
Num_of_Nulls   :  5680
\n4\n    8105
NaN      5680
\n3\n    2104
\n5\n      22
\n6\n       3
\n8\n       2
\n2\n       2
\n1\n       1
Name: cylinders, dtype: int64
******************************

In [313]:
df.cylinders.str.strip("\n").value_counts(dropna=False)

4      8105
NaN    5680
3      2104
5        22
6         3
8         2
2         2
1         1
Name: cylinders, dtype: int64

In [314]:
df.cylinders = df.cylinders.str.strip("\n").astype(float)

## 32.weight

In [315]:
check_df("weight")

column name :  weight
--------------------------------
Per_of_Nulls   :  % 43.81
Num_of_Nulls   :  6974
NaN             6974
\n1,163 kg\n     574
\n1,360 kg\n     356
\n1,165 kg\n     301
\n1,335 kg\n     242
                ...
\n1,960 kg\n       1
\n1,258 kg\n       1
\n1,167 kg\n       1
\n1,331 kg\n       1
\n2,037 kg\n       1
Name: weight, Length: 435, dtype: int64
******************************

In [316]:
df.weight = df.weight.str.strip("\n kg").str.replace(",", "")

In [317]:
df.rename(columns={"weight":"weight_kg"}, inplace=True)

In [318]:
df.weight_kg = df.weight_kg.astype(float)

# 33.drive_chain

In [319]:
check_df("drive_chain")

column name :  drive_chain
--------------------------------
Per_of_Nulls   :  % 43.08
Num_of_Nulls   :  6858
\nfront\n    8886
NaN          6858
\n4WD\n       171
\nrear\n        4
Name: drive_chain, dtype: int64
******************************

In [320]:
df.drive_chain.str.strip("\n").value_counts(dropna=False)

front    8886
NaN      6858
4WD       171
rear        4
Name: drive_chain, dtype: int64

In [321]:
df.drive_chain = df.drive_chain.str.strip("\n")

## 34. fuel

In [322]:
check_df("fuel")

column name :  fuel
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
\n,Diesel (Particulate Filter),\n                                                                                  4315
\n,Super 95,\n                                                                                                     3338
\n,Gasoline,\n                                                                                                     3175
\n,Diesel,\n                                                                                                       2984
\n,Super 95 / Regular/Benzine 91,\n                                                                                 424
                                                                                                                   ...
\n,Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91,\n                                                          1
\n,Super Plus 98 / Super E10 95,\n                                                                                    1
\n,Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98,\n       1
\n,Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super 95 / Super E10 95 / Super Plus E10 98,\n       1
\n,Super Plus 98 / Super 95 / Super Plus E10 98,\n                                                                    1
Name: fuel, Length: 77, dtype: int64
******************************

In [323]:
df.fuel = df.fuel.str.strip("\n, ")

In [324]:
get_diff_category_column(df.fuel)

{0: 'Biodiesel',
 1: 'Biogas',
 2: 'CNG',
 3: 'CNG (Particulate Filter)',
 4: 'Diesel',
 5: 'Diesel (Particulate Filter)',
 6: 'Domestic gas H',
 7: 'Electric',
 8: 'Electric/Gasoline',
 9: 'Gasoline',
 10: 'Gasoline (Particulate Filter)',
 11: 'LPG',
 12: 'Liquid petroleum gas (LPG)',
 13: 'Others',
 14: 'Others (Particulate Filter)',
 15: 'Regular/Benzine 91',
 16: 'Regular/Benzine 91 (Particulate Filter)',
 17: 'Regular/Benzine E10 91',
 18: 'Regular/Benzine E10 91 (Particulate Filter)',
 19: 'Super 95',
 20: 'Super 95 (Particulate Filter)',
 21: 'Super E10 95',
 22: 'Super E10 95 (Particulate Filter)',
 23: 'Super Plus 98',
 24: 'Super Plus 98 (Particulate Filter)',
 25: 'Super Plus E10 98',
 26: 'Super Plus E10 98 (Particulate Filter)'}

In [325]:
# df.fuel.str.extract(r"(\w+\s?\w+\s?\w+\s?\w+|\w+)").value_counts(dropna=False)
df.fuel = df.fuel.str.extract(r"(\w+\s?\w+\s?\w+)")

In [326]:
df.fuel.value_counts(dropna=False)

Diesel                  7299
Super 95                4368
Gasoline                3252
Regular                  503
Super E10 95             409
CNG                       36
LPG                       16
Super Plus 98             11
Liquid petroleum gas      10
Others                     6
Electric                   5
Super Plus E10             2
Biogas                     1
Domestic gas H             1
Name: fuel, dtype: int64

In [327]:
benzine = ["Gasoline", "Super 95", "Regular", "Super E10 95", "Super Plus 98", "Super Plus E10", "Others"]
lpg = ["LPG", "Liquid petroleum gas", "CNG", "Biogas", "Domestic gas H"]

In [328]:
def fueltype(x):
    if x in benzine:
        return "Benzine"
    elif x in lpg:
        return "LPG/CNG"
    else :
        return x

In [329]:
df.fuel = df.fuel.apply(fueltype)

## 35. consumption

In [330]:
check_df("consumption")

column name :  consumption
--------------------------------
Per_of_Nulls   :  % 11.97
Num_of_Nulls   :  1906
NaN                                                                           1906
['3.9 l/100 km (comb)'],['4.1 l/100 km (city)'],['3.7 l/100 km (country)']     304
['4.2 l/100 km (comb)'],['5 l/100 km (city)'],['3.7 l/100 km (country)']       276
['5.4 l/100 km (comb)'],['6.8 l/100 km (city)'],['4.5 l/100 km (country)']     257
['3.8 l/100 km (comb)'],['4.3 l/100 km (city)'],['3.5 l/100 km (country)']     253
                                                                              ...
['4.2 l/100 km (comb)'],['5.3 l/100 km (city)'],['3.6 l/100 km (country)']       1
\n,5.1 l/100 km (comb),\n,6.4 l/100 km (city),\n,4.3 l/100 km (country),\n       1
['4.6 l/100 km (comb)'],['5.4 l/100 km (city)'],['6.7 l/100 km (country)']       1
\n,6.3 l/100 km (comb),\n,\n,\n                                                  1
\n,7.4 l/100 km (comb),\n,9.6 l/100 km (city),\n,6 l/100 km (country),\n         1
Name: consumption, Length: 882, dtype: int64
******************************

In [331]:
pd.options.display.max_colwidth = 250

In [332]:
df["consumption_comb"] = df.consumption.str.extract(r"(\d+\.\d+) l/100 km \(comb\)").astype(float)

In [333]:
df["consumption_city"] = df.consumption.str.extract(r"(\d+\.\d+) l/100 km \(city\)").astype(float)

In [334]:
df["consumption_country"] = df.consumption.str.extract(r"(\d+\.\d+) l/100 km \(country\)").astype(float)

In [335]:
df.drop(columns="consumption", inplace=True)

In [336]:
df.columns

Index(['url', 'short_description', 'body_type', 'price_€', 'vat', 'km',
       'registration', 'prev_owner', 'hp_kW', 'type', 'previous_owners',
       'warranty', 'make', 'model', 'body_color', 'paint_type',
       'body_color_original', 'upholstery', 'nr_of_doors', 'nr_of_seats',
       'gearing_type', 'engine_displacement_cc', 'cylinders', 'weight_kg',
       'drive_chain', 'fuel', 'co2_emission', 'emission_class',
       'comfort&convenience', 'entertainment&media', 'extras',
       'safety_&_security', 'description', 'emission_label', 'gears',
       'country_version', 'electricity_consumption', 'last_service_date',
       'other_fuel_types', 'availability', 'last_timing_belt_service_date',
       'available_from', 'consumption_comb', 'consumption_city',
       'consumption_country'],
      dtype='object')

In [337]:
df.consumption_city.value_counts(dropna=False)

NaN     4039
5.8      630
4.5      577
4.3      512
5.1      479
        ...
3.6        2
10.4       1
16.1       1
19.9       1
9.7        1
Name: consumption_city, Length: 70, dtype: int64

In [338]:
df[["consumption_comb", "consumption_city", "consumption_country"]].value_counts(dropna=False)

consumption_comb  consumption_city  consumption_country
NaN               NaN               NaN                    2350
3.9               4.1               3.7                     304
4.2               NaN               3.7                     303
5.4               6.8               4.5                     262
3.8               4.3               3.5                     253
                                                           ...
5.6               6.9               4.4                       1
                  6.2               5.2                       1
5.5               7.3               4.4                       1
                  6.4               4.9                       1
5.4               6.9               4.9                       1
Length: 664, dtype: int64

## 36. co2_emission

In [339]:
check_df("co2_emission")

column name :  co2_emission
--------------------------------
Per_of_Nulls   :  % 11.36
Num_of_Nulls   :  1808
NaN                          1808
\n120 g CO2/km (comb)\n       740
[],[],[]                      628
\n99 g CO2/km (comb)\n        545
\n97 g CO2/km (comb)\n        537
                             ...
\n14 g CO2/km (comb)\n          1
\n1,060 g CO2/km (comb)\n       1
\n51 g CO2/km (comb)\n          1
\n165 g CO2/km (comb)\n         1
\n193 g CO2/km (comb)\n         1
Name: co2_emission, Length: 124, dtype: int64
******************************

In [340]:
df.rename(columns={"co2_emission":"co2e_g"}, inplace=True)

In [341]:
df.co2e_g = df.co2e_g.str.extract(r"(\d+\W?\d+) g")

In [342]:
df.co2e_g = df.co2e_g.str.replace(",", "").astype(float)

## 37. emission_class

In [343]:
check_df("emission_class")

column name :  emission_class
--------------------------------
Per_of_Nulls   :  % 18.98
Num_of_Nulls   :  3021
\nEuro 6\n          10139
NaN                  3021
\nEuro 6d-TEMP\n     1845
[],[],[]              607
\nEuro 6c\n           127
\nEuro 5\n             78
\nEuro 6d\n            62
\nEuro 4\n             40
Name: emission_class, dtype: int64
******************************

In [344]:
df.emission_class.str.strip("\n[],").replace("", np.nan).value_counts(dropna=False)

Euro 6          10139
NaN              3628
Euro 6d-TEMP     1845
Euro 6c           127
Euro 5             78
Euro 6d            62
Euro 4             40
Name: emission_class, dtype: int64

In [345]:
df.emission_class = df.emission_class.str.strip("\n[],").replace("", np.nan)

## 38. comfort_convenience

In [346]:
check_df("comfort&convenience")

column name :  comfort&convenience
--------------------------------
Per_of_Nulls   :  % 5.78
Num_of_Nulls   :  920
NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  920
Air conditioning,Electrical side mirrors,Hill Holder,Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                   216
Air conditioning,Electrical side mirrors,Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                               134
Air conditioning,Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                                                       130
Air conditioning,Armrest,Automatic climate control,Cruise control,Electrical side mirrors,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Start-stop system                                                                                                                                                   105
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    ...
Air conditioning,Cruise control,Electrical side mirrors,Hill Holder,Leather steering wheel,Light sensor,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sensors rear,Power windows,Rain sensor,Split rear seats,Start-stop system,Tinted windows                                                                                                                                                                                                           1
Air conditioning,Armrest,Automatic climate control,Cruise control,Electrical side mirrors,Heated steering wheel,Hill Holder,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system camera,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Sunroof                                                                                                1
Air conditioning,Armrest,Cruise control,Electrical side mirrors,Heated steering wheel,Hill Holder,Leather steering wheel,Light sensor,Multi-function steering wheel,Park Distance Control,Parking assist system camera,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Split rear seats,Start-stop system,Tinted windows                                                                                                                 1
Air conditioning,Automatic climate control,Cruise control,Electrical side mirrors,Leather steering wheel,Light sensor,Multi-function steering wheel,Park Distance Control,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating                                                                                                                                                                                                                1
Air conditioning,Automatic climate control,Cruise control,Electrically heated windshield,Electrical side mirrors,Electric tailgate,Heads-up display,Heated steering wheel,Hill Holder,Keyless central door lock,Leather steering wheel,Light sensor,Lumbar support,Navigation system,Park Distance Control,Parking assist system camera,Parking assist system self-steering,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Sunroof      1
Name: comfort&convenience, Length: 6199, dtype: int64
******************************

## 39. entertainment&media

In [347]:
check_df("entertainment&media")

column name :  entertainment&media
--------------------------------
Per_of_Nulls   :  % 8.63
Num_of_Nulls   :  1374
NaN                                                                                                 1374
Bluetooth,Hands-free equipment,On-board computer,Radio,USB                                          1282
Bluetooth,Hands-free equipment,MP3,On-board computer,Radio,USB                                       982
Bluetooth,CD player,Hands-free equipment,MP3,On-board computer,Radio,USB                             783
On-board computer,Radio                                                                              487
                                                                                                    ...
Bluetooth,CD player,Digital radio,Hands-free equipment,Radio                                           1
CD player,Hands-free equipment,MP3,Radio,USB                                                           1
MP3,Radio,Sound system,USB                                                                             1
Bluetooth,MP3,On-board computer,Radio,Television,USB                                                   1
Bluetooth,CD player,Hands-free equipment,MP3,On-board computer,Radio,Sound system,Television,USB       1
Name: entertainment&media, Length: 347, dtype: int64
******************************

## 40. extras

In [348]:
check_df("extras")

column name :  extras
--------------------------------
Per_of_Nulls   :  % 18.61
Num_of_Nulls   :  2962
Alloy wheels                                                                                               3245
NaN                                                                                                        2962
Alloy wheels,Touch screen                                                                                   697
Alloy wheels,Voice Control                                                                                  577
Alloy wheels,Touch screen,Voice Control                                                                     541
                                                                                                           ...
Alloy wheels,Catalytic Converter,Shift paddles,Sport package,Sport seats,Sport suspension,Voice Control       1
Alloy wheels,Catalytic Converter,Roof rack,Sport package,Sport seats,Trailer hitch                            1
Alloy wheels,Catalytic Converter,Ski bag,Sport package,Voice Control                                          1
Catalytic Converter,Roof rack,Sport seats,Sport suspension                                                    1
Alloy wheels,Shift paddles,Ski bag,Sport seats,Sport suspension,Touch screen,Voice Control                    1
Name: extras, Length: 660, dtype: int64
******************************

## 41. safety&security

In [349]:
check_df("safety_&_security")

column name :  safety_&_security
--------------------------------
Per_of_Nulls   :  % 6.17
Num_of_Nulls   :  982
NaN                                                                                                                                                                                                                                                                                                                                                               982
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                                                      538
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                                                                 480
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Xenon headlights                                                                                                                                275
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,LED Daytime Running Lights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                           272
                                                                                                                                                                                                                                                                                                                                                                 ...
ABS,Central door lock,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag                                                                                                                                                                                                                                              1
ABS,Adaptive Cruise Control,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Emergency brake assistant,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                 1
ABS,Adaptive Cruise Control,Alarm system,Central door lock,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Lane departure warning system,LED Daytime Running Lights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Xenon headlights                                                1
ABS,Adaptive Cruise Control,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Power steering,Tire pressure monitoring system,Traction control                                                                                                                                                  1
ABS,Adaptive Cruise Control,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Emergency brake assistant,Fog lights,Immobilizer,Isofix,Lane departure warning system,LED Daytime Running Lights,LED Headlights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traffic sign recognition      1
Name: safety_&_security, Length: 4444, dtype: int64
******************************

In [350]:
df.rename(columns={"safety_&_security":"safety&security"}, inplace=True)

## 41. description

In [351]:
check_df("description")

column name :  description
--------------------------------
Per_of_Nulls   :  % 0.0
Num_of_Nulls   :  0
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               636
\n,\n                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           30
\n,Fahrzeugbeschreibung, Sichern Sie sich diesen Renault Clio 1.6 TCE Energy Sport Trophy zum Top-Preis inklusive dem ,AUTOHERO-RUNDUM-SORGLOS-PAKET, ,Infos:, 1.Hand, deutsche Auslieferung, Unfallfrei, scheckheftgepflegt, ,Highlights, ,Audio-Navigationssystem R-Link Evolution mit Touchscreen und Carminat TomTom, ,Sportsitze , ,Sportfahrwerk, ,Scheinwerfer Full-LED ,Komfort, ,Geschwindigkeits-Regelanlage (Tempomat) , ,Klimaanlage, ,Einparkhilfe hinten, ,Multifunktionslenkrad (Sport/Leder) mit Schaltwippen/-tasten , ,Fensterheber elektr. mit Impulsgeber links/rechts vorn, ,Zentralverriegelung / Startanlage Handsfree Entry & Drive , ,Berganfahr-Assistent (HSA) ,Multimedia, ,Audiosystem: Radio R & GO (Bluetooth, DAB-Tuner), ,Bordcomputer, ,Freisprecheinrichtung Bluetooth , ,USB-Anschluss inkl. AUX-IN-Anschluss (Plug & Music) ,Licht und Sicht, ,Außenspiegel elektr. verstell- und heizbar , ,Licht- und Regensensor , ,Tagfahrlicht LED , ,Nebelscheinwerfer LED , ,Coming-Home-Lichtfunktion , ,Heckleuchten LED ,Sicherheit, ,Isofix-Aufnahmen für Kindersitz , ,Seitenairbag vorn, ,Wegfahrsperre, ,Differentialsperre, ,Bremsassistent , ,Elektron. Stabilitäts-Programm (ESP), ,Anti-Blockier-System (ABS), ,Anti-Submarining-Airbag im Fond, ,Airbag Fahrer-/Beifahrerseite , ,Differentialsperre , ,Reifendruck-Kontrollsystem , ,Untersteuerungskontrolle (USC) , ,Antischlupfregelung (ASR) ,Weiteres, ,Start/Stop-Anlage , ,Servolenkung geschwindigkeitsabhängig, ,R.S. Drive (Fahrmodusschalter) , ,Gepäckraumabdeckung / Rollo , ,Heckdiffusor , ,LM-Felgen , ,Heckspoiler (Renault Sport) , ,Pedale Aluminium , ,Energierückgewinnung (Energy Smart Management) , ,Elektr. Bremskraftverteilung , ,Reifen-Reparaturkit , ,Sitzbezug / Polsterung: Stoff , Ihr ,AUTOHERO-RUNDUM-SORGLOS-PAKET, beinhaltet:,Kostenlose Lieferung in Ihre Nähe,Optische & technische Aufbereitung,Mindestens 12 Monate gültige HU und AU,1-Jahr-Premium-Garantie,Zulassung inklusive ,14-Tage-Rückgaberecht,Markenunabhängige Inzahlungnahme ,Individuelle Finanzierungen zu fairen Konditionen, ,HIER GEHT ES ZUR 360° - ANSICHT DES FAHRZEUGES:,:,https://www.autohero.com/de/renault-clio-1-6-tce-energy-renault-sport-trophy/id/f7ca29bf-e005-453f-bbc9-8c6fe892dec6/, ,Haftungsausschluss,:,Für Angaben vom Verkäufer, des Herstellers oder von Datenbankabfragen übernimmt Autohero keine Haftung. Änderungen, Zwischenverkauf und Irrtümer sind vorbehalten.\n                                                                                                                                                           27
\nPosibilidad de prueba del vehículo hasta 5 días. Consultar condiciones. PVP para particulares. Varias unidades y colores disponibles. Precios publicados para vehículos industriales (furgonetas) válidos para compradores autónomos o empresas, consultar condiciones para particulares. Las imágenes y kilómetros pueden no corresponder con el modelo anunciado. Para confirmar póngase en contacto con nuestro departamento comercial. Consulta las excepcionales condiciones de financiación que tenemos disponibles. Precio de venta final IVA y gastos de transferencia incluidos. Horario de atención al cliente: Lunes a Viernes de 09:00 a 18:00.\n                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 27
\nSichern Sie sich diesen RENAULT CLIO 1.2 LIMITED zum Top-Preis inklusive dem,AUTOHERO-RUNDUM-SORGLOS-PAKET, ,Infos:, 2.Hand, mindestens 12 Monate gültige HU und AU, deutsche Ausführung, unfallfrei , ,Highlights, ,Audio-Navigationssystem mit Touchscreen-Farbdisplay,Komfort, ,Klimaanlage , ,Multifunktionslenkrad in Leder , ,Berganfahr-Assistent (HSA), ,Fensterheber elektrisch vorn , ,Geschwindigkeits-Regelanlage (Tempomat) , ,Heckscheibe heizbar , ,Sitz vorn links höhenverstellbar, ,Sitz vorn rechts umklappbar , ,Stau-/Ablagefach im Laderaumboden , ,Zentralverriegelung mit Fernbedienung ,Multimedia, ,Radio R&GO, ,Bluetooth Freisprechanlage , ,USB-/AUX-Schnittstelle , ,Bordcomputer, ,Licht und Sicht, ,Tagfahrlicht LED , ,Außenspiegel elektrisch verstell- und heizbar,Sicherheit, ,Airbag für Fahrer und Beifahrer, ,Beifahrerairbag deaktivierbar , ,Seitenairbags vorn , ,Kopfairbagsystem, ,Anti-Blockier-System (ABS), ,Elektronische Bremskraftverteilung , ,Elektronische Stabilitäts-Programm (ESP) , ,Reifen-Reparaturkit , ,Reifendruck-Kontrollsystem , ,Untersteuerungskontrolle (USC) , ,ISOFIX Kindersitzverankerung ,Weiteres, ,Dachreling silber , ,Look-Paket Chrom (außen) , ,Look-Paket Grau (innen) , ,R&GO-Paket , ,Style-Paket , Ihr ,AUTOHERO-RUNDUM-SORGLOS-PAKET, beinhaltet:,Kostenlose Lieferung in Ihre Nähe,Optische & technische Aufbereitung,Mindestens 12 Monate gültige HU und AU,1-Jahr-Premium-Garantie,Zulassung inklusive ,14-Tage-Rückgaberecht,Markenunabhängige Inzahlungnahme ,Individuelle Finanzierungen zu fairen Konditionen, ,HIER GEHT ES ZUR 360° - ANSICHT DES FAHRZEUGES:,:,https://www.autohero.com/de/renault-clio-1-2-limited/id/30f99516-8785-47e7-a4a3-6cdac4d8e633/, ,Haftungsausschluss,:,Für Angaben vom Verkäufer, des Herstellers oder von Datenbankabfragen übernimmt Autohero keine Haftung. Änderungen, Zwischenverkauf und Irrtümer sind vorbehalten.\n                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        27
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              ...
\nPratica 67374,Airbag fullsize per conducente e passeggero, Alzacristalli elettrici ant. e post. con funzione attivaz. a pressione, Assetto dinamico, Audi drive select, Inserti in micrometallic argento, Kit riparazione pneumatici, Pacchetto di navigazione, Piano di copertura del vano bagagli estraibile, Presa AUX-IN, Proiettori allo Xenon Plus con reg. aut. prof. fari, Lavafari, Rivestimenti dei sedili in tessuto, Serbatoio AdBlue, Sistema controllo pressione pneumatici, Sistema di ancoraggio ISOFIX e 3° punto di ancoraggio Top Tether sui sedili post. laterali, Sistema di informazioni per il conducente con display monocromatico, Tappetini anteriori e posteriori, Versione Business, Volante sportivo multifunzionale in pelle 3 razze, ABS, EBV (Ripartitore elettronico della forza frenante), Airbag laterali anteriori integrati negli schienali dei sedili, Airbag per la testa, Airbag per le ginocchia (lato conducente), Appoggiatesta anteriori (2) e posteriori (3) regolabili, Radio MMI plus, Interfaccia Bluetooth, Appoggiabraccia centrale anteriore, Cambio manuale, Cerchi in lega 7 J x 16" a 5 razze a stella, Chiusura centralizzata con telecomando, Regolatore di velocità, ESC - Sistema elettronico di controllo della stabilizzazione con bloccaggio trasversale elettronico, ASR - Dispositivo di controllo della trazione, EDS (Dispositivo antislittamento in partenza), Filtro anti particolato, Cinture di sicurezza con pretensionatore, Specchietti retrovisivi esterni riscaldabili e ripiegabili elettricamente, Schienale del sedile posteriore ribaltabile (divisibile in rapporto 40:60 o ribaltabile completam.), Sistema di ausilio al parcheggio posteriore, Servosterzo elettromeccanico, Tergilunotto\n                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  1

In [352]:
df.drop(columns="description", inplace=True)

## 41. emission_label

In [353]:
check_df("emission_label")

column name :  emission_label
--------------------------------
Per_of_Nulls   :  % 74.97
Num_of_Nulls   :  11934
NaN                   11934
\n4 (Green)\n          3553
\n1 (No sticker)\n      381
[],[],[]                 40
\n5 (Blue)\n              8
\n3 (Yellow)\n            2
\n2 (Red)\n               1
Name: emission_label, dtype: int64
******************************

In [354]:
df.drop(columns="emission_label", inplace=True)

## 42. gears

In [355]:
check_df("gears")

column name :  gears
--------------------------------
Per_of_Nulls   :  % 29.6
Num_of_Nulls   :  4712
\n6\n     5822
NaN       4712
\n5\n     3239
\n7\n     1908
\n8\n      224
\n9\n        6
\n1\n        2
\n3\n        2
\n4\n        2
\n2\n        1
\n50\n       1
Name: gears, dtype: int64
******************************

In [356]:
df.gears.str.strip("\n").value_counts(dropna=False)

6      5822
NaN    4712
5      3239
7      1908
8       224
9         6
1         2
3         2
4         2
2         1
50        1
Name: gears, dtype: int64

In [357]:
df.gears = df.gears.str.strip("\n").astype(float)

## 43. country_version

In [358]:
check_df("country_version")

column name :  country_version
--------------------------------
Per_of_Nulls   :  % 52.35
Num_of_Nulls   :  8333
NaN                   8333
\nGermany\n           4502
\nItaly\n             1038
\nEuropean Union\n     507
\nNetherlands\n        464
\nSpain\n              325
\nBelgium\n            314
\nAustria\n            208
\nCzech Republic\n      52
\nPoland\n              49
\nFrance\n              38
\nDenmark\n             33
\nHungary\n             28
\nJapan\n                8
\nSlovakia\n             4
\nCroatia\n              4
\nSweden\n               3
\nRomania\n              2
\nBulgaria\n             2
\nLuxembourg\n           1
\nSwitzerland\n          1
\nSlovenia\n             1
\nEgypt\n                1
\nSerbia\n               1
Name: country_version, dtype: int64
******************************

In [359]:
df.country_version.str.strip("\n").value_counts(dropna=False)

NaN               8333
Germany           4502
Italy             1038
European Union     507
Netherlands        464
Spain              325
Belgium            314
Austria            208
Czech Republic      52
Poland              49
France              38
Denmark             33
Hungary             28
Japan                8
Slovakia             4
Croatia              4
Sweden               3
Romania              2
Bulgaria             2
Luxembourg           1
Switzerland          1
Slovenia             1
Egypt                1
Serbia               1
Name: country_version, dtype: int64

In [360]:
df.country_version = df.country_version.str.strip("\n")

## 43. electricity_consumption

In [361]:
check_df("electricity_consumption")

column name :  electricity_consumption
--------------------------------
Per_of_Nulls   :  % 99.14
Num_of_Nulls   :  15782
NaN                        15782
\n0 kWh/100 km (comb)\n      137
Name: electricity_consumption, dtype: int64
******************************

In [362]:
df.drop(columns= ["electricity_consumption", "last_service_date", "other_fuel_types", 
                  "availability", "last_timing_belt_service_date", "available_from"],
               inplace=True)

In [363]:
df.drop(columns= "url",
               inplace=True)

In [364]:
df.columns

Index(['short_description', 'body_type', 'price_€', 'vat', 'km',
       'registration', 'prev_owner', 'hp_kW', 'type', 'previous_owners',
       'warranty', 'make', 'model', 'body_color', 'paint_type',
       'body_color_original', 'upholstery', 'nr_of_doors', 'nr_of_seats',
       'gearing_type', 'engine_displacement_cc', 'cylinders', 'weight_kg',
       'drive_chain', 'fuel', 'co2e_g', 'emission_class',
       'comfort&convenience', 'entertainment&media', 'extras',
       'safety&security', 'gears', 'country_version', 'consumption_comb',
       'consumption_city', 'consumption_country'],
      dtype='object')

In [365]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 36 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   short_description       15873 non-null  object
 1   body_type               15859 non-null  object
 2   price_€                 15919 non-null  float64
 3   vat                     11406 non-null  object
 4   km                      15919 non-null  object
 5   registration            14322 non-null  object
 6   prev_owner              9091 non-null   float64
 7   hp_kW                   15831 non-null  float64
 8   type                    15917 non-null  object
 9   previous_owners         9279 non-null   float64
 10  warranty                4853 non-null   float64
 11  make                    15919 non-null  object
 12  model                   15919 non-null  object
 13  body_color              15322 non-null  object
 14  paint_type              10147 non-null  object
 15  body_color_original     12160 non-null  object
 16  upholstery              12199 non-null  object
 17  nr_of_doors             15707 non-null  float64
 18  nr_of_seats             14942 non-null  float64
 19  gearing_type            15919 non-null  object
 20  engine_displacement_cc  15423 non-null  float64
 21  cylinders               10239 non-null  float64
 22  weight_kg               8945 non-null   float64
 23  drive_chain             9061 non-null   object
 24  fuel                    15919 non-null  object
 25  co2e_g                  13477 non-null  float64
 26  emission_class          12291 non-null  object
 27  comfort&convenience     14999 non-null  object
 28  entertainment&media     14545 non-null  object
 29  extras                  12957 non-null  object
 30  safety&security         14937 non-null  object
 31  gears                   11207 non-null  float64
 32  country_version         7586 non-null   object
 33  consumption_comb        12129 non-null  float64
 34  consumption_city        11880 non-null  float64
 35  consumption_country     12554 non-null  float64
dtypes: float64(15), object(21)
memory usage: 4.4+ MB

In [366]:
df.km.replace("-", np.nan).value_counts(dropna=False)

10       1045
NaN      1024
1         367
5         170
50        148
         ...
67469       1
43197       1
10027       1
35882       1
57          1
Name: km, Length: 6690, dtype: int64

In [367]:
df.km = df.km.replace("-", np.nan).astype(float)

In [368]:
df.registration = df.registration.astype(float)

In [369]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 36 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   short_description       15873 non-null  object
 1   body_type               15859 non-null  object
 2   price_€                 15919 non-null  float64
 3   vat                     11406 non-null  object
 4   km                      14895 non-null  float64
 5   registration            14322 non-null  float64
 6   prev_owner              9091 non-null   float64
 7   hp_kW                   15831 non-null  float64
 8   type                    15917 non-null  object
 9   previous_owners         9279 non-null   float64
 10  warranty                4853 non-null   float64
 11  make                    15919 non-null  object
 12  model                   15919 non-null  object
 13  body_color              15322 non-null  object
 14  paint_type              10147 non-null  object
 15  body_color_original     12160 non-null  object
 16  upholstery              12199 non-null  object
 17  nr_of_doors             15707 non-null  float64
 18  nr_of_seats             14942 non-null  float64
 19  gearing_type            15919 non-null  object
 20  engine_displacement_cc  15423 non-null  float64
 21  cylinders               10239 non-null  float64
 22  weight_kg               8945 non-null   float64
 23  drive_chain             9061 non-null   object
 24  fuel                    15919 non-null  object
 25  co2e_g                  13477 non-null  float64
 26  emission_class          12291 non-null  object
 27  comfort&convenience     14999 non-null  object
 28  entertainment&media     14545 non-null  object
 29  extras                  12957 non-null  object
 30  safety&security         14937 non-null  object
 31  gears                   11207 non-null  float64
 32  country_version         7586 non-null   object
 33  consumption_comb        12129 non-null  float64
 34  consumption_city        11880 non-null  float64
 35  consumption_country     12554 non-null  float64
dtypes: float64(17), object(19)
memory usage: 4.4+ MB

In [370]:
df.columns

Index(['short_description', 'body_type', 'price_€', 'vat', 'km',
       'registration', 'prev_owner', 'hp_kW', 'type', 'previous_owners',
       'warranty', 'make', 'model', 'body_color', 'paint_type',
       'body_color_original', 'upholstery', 'nr_of_doors', 'nr_of_seats',
       'gearing_type', 'engine_displacement_cc', 'cylinders', 'weight_kg',
       'drive_chain', 'fuel', 'co2e_g', 'emission_class',
       'comfort&convenience', 'entertainment&media', 'extras',
       'safety&security', 'gears', 'country_version', 'consumption_comb',
       'consumption_city', 'consumption_country'],
      dtype='object')

In [372]:
df.to_csv("auto_scout_clean.csv", index=False)