___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

<img src=https://i.ibb.co/wJW61Y2/Used-cars.jpg width="700" height="200">

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">The Capstone Project of Data Analytics Module</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:150%; text-align:center; border-radius:10px 10px;">Car Price Prediction EDA</p>

# PART- 2 `( Handling With Missing Values )`

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
warnings.warn("this will not show")
plt.rcParams["figure.figsize"] = (10, 6)
sns.set_style("whitegrid")
pd.set_option('display.float_format', lambda x: '%.3f' % x)
# Set it None to display all rows in the dataframe
# pd.set_option('display.max_rows', None)
# Set it to None to display all columns in the dataframe
pd.set_option('display.max_columns', None)

/Users/fatih/opt/anaconda3/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
df = pd.read_csv("auto_scout_clean.csv")

In [3]:
df.head().T

,0,1,2,3,4
short_description,Sportback 1.4 TDI S-tronic Xenon Navi Klima,1.8 TFSI sport,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,1.4 TDi Design S tronic,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...
body_type,Sedans,Sedans,Sedans,Sedans,Sedans
price_€,15770.000,14500.000,14640.000,14500.000,16790.000
vat,VAT deductible,Price negotiable,VAT deductible,NaN,NaN
km,56013.000,80000.000,83450.000,73000.000,16200.000
registration,2016.000,2017.000,2016.000,2016.000,2016.000
prev_owner,2.000,NaN,1.000,1.000,1.000
hp_kW,66.000,141.000,85.000,66.000,66.000
type,Used,Used,Used,Used,Used
previous_owners,2.000,NaN,1.000,1.000,1.000
warranty,NaN,NaN,NaN,NaN,NaN
make,Audi,Audi,Audi,Audi,Audi
model,A1,A1,A1,A1,A1
body_color,Black,Red,Black,Brown,Black
paint_type,Metallic,NaN,Metallic,Metallic,Metallic
body_color_original,Mythosschwarz,NaN,mythosschwarz metallic,NaN,Mythosschwarz Metallic
upholstery,Cloth,Cloth,Cloth,NaN,Cloth
nr_of_doors,5.000,3.000,4.000,3.000,5.000
nr_of_seats,5.000,4.000,4.000,4.000,5.000
gearing_type,Automatic,Automatic,Automatic,Automatic,Automatic
engine_displacement_cc,1422.000,1798.000,1598.000,1422.000,1422.000
cylinders,3.000,4.000,NaN,3.000,3.000
weight_kg,1220.000,1255.000,NaN,1195.000,NaN
drive_chain,front,front,front,NaN,front
fuel,Diesel,Benzine,Diesel,Diesel,Diesel
co2e_g,99.000,129.000,99.000,99.000,109.000
emission_class,Euro 6,Euro 6,Euro 6,Euro 6,Euro 6
comfort&convenience,"Air conditioning,Armrest,Automatic climate con...","Air conditioning,Automatic climate control,Hil...","Air conditioning,Cruise control,Electrical sid...","Air suspension,Armrest,Auxiliary heating,Elect...","Air conditioning,Armrest,Automatic climate con..."
entertainment&media,"Bluetooth,Hands-free equipment,On-board comput...","Bluetooth,Hands-free equipment,On-board comput...","MP3,On-board computer","Bluetooth,CD player,Hands-free equipment,MP3,O...","Bluetooth,CD player,Hands-free equipment,MP3,O..."
extras,"Alloy wheels,Catalytic Converter,Voice Control","Alloy wheels,Sport seats,Sport suspension,Voic...","Alloy wheels,Voice Control","Alloy wheels,Sport seats,Voice Control","Alloy wheels,Sport package,Sport suspension,Vo..."
safety&security,"ABS,Central door lock,Daytime running lights,D...","ABS,Central door lock,Central door lock with r...","ABS,Central door lock,Daytime running lights,D...","ABS,Alarm system,Central door lock with remote...","ABS,Central door lock,Driver-side airbag,Elect..."
gears,NaN,7.000,NaN,6.000,NaN
country_version,NaN,NaN,NaN,NaN,Germany
consumption_comb,3.800,5.600,3.800,3.800,4.100
consumption_city,4.300,7.100,4.400,4.300,4.600
consumption_country,3.500,4.700,3.400,3.500,3.800

In [4]:
df.shape

(15919, 36)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 36 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   short_description       15873 non-null  object
 1   body_type               15859 non-null  object
 2   price_€                 15919 non-null  float64
 3   vat                     11406 non-null  object
 4   km                      14895 non-null  float64
 5   registration            14322 non-null  float64
 6   prev_owner              9091 non-null   float64
 7   hp_kW                   15831 non-null  float64
 8   type                    15917 non-null  object
 9   previous_owners         9279 non-null   float64
 10  warranty                4853 non-null   float64
 11  make                    15919 non-null  object
 12  model                   15919 non-null  object
 13  body_color              15322 non-null  object
 14  paint_type              10147 non-null  object
 15  body_color_original     12145 non-null  object
 16  upholstery              12199 non-null  object
 17  nr_of_doors             15707 non-null  float64
 18  nr_of_seats             14942 non-null  float64
 19  gearing_type            15919 non-null  object
 20  engine_displacement_cc  15423 non-null  float64
 21  cylinders               10239 non-null  float64
 22  weight_kg               8945 non-null   float64
 23  drive_chain             9061 non-null   object
 24  fuel                    15919 non-null  object
 25  co2e_g                  13477 non-null  float64
 26  emission_class          12291 non-null  object
 27  comfort&convenience     14999 non-null  object
 28  entertainment&media     14545 non-null  object
 29  extras                  12957 non-null  object
 30  safety&security         14937 non-null  object
 31  gears                   11207 non-null  float64
 32  country_version         7586 non-null   object
 33  consumption_comb        12129 non-null  float64
 34  consumption_city        11880 non-null  float64
 35  consumption_country     12554 non-null  float64
dtypes: float64(17), object(19)
memory usage: 4.4+ MB

In [6]:
df.isnull().sum()

short_description            46
body_type                    60
price_€                       0
vat                        4513
km                         1024
registration               1597
prev_owner                 6828
hp_kW                        88
type                          2
previous_owners            6640
warranty                  11066
make                          0
model                         0
body_color                  597
paint_type                 5772
body_color_original        3774
upholstery                 3720
nr_of_doors                 212
nr_of_seats                 977
gearing_type                  0
engine_displacement_cc      496
cylinders                  5680
weight_kg                  6974
drive_chain                6858
fuel                          0
co2e_g                     2442
emission_class             3628
comfort&convenience         920
entertainment&media        1374
extras                     2962
safety&security             982
gears                      4712
country_version            8333
consumption_comb           3790
consumption_city           4039
consumption_country        3365
dtype: int64

In [7]:
df.duplicated().value_counts()

False    14476
True      1443
dtype: int64

In [8]:
 # df.drop_duplicates(keep = 'first', inplace = True, ignore_index=True)

In [9]:
# Since we dropped "url" column (unique column-primary key column) We did not apply the code above. 
# Due to the nature of car sale business, there might be duplicated values that should not be dropped

In [10]:
df.isnull().sum()

short_description            46
body_type                    60
price_€                       0
vat                        4513
km                         1024
registration               1597
prev_owner                 6828
hp_kW                        88
type                          2
previous_owners            6640
warranty                  11066
make                          0
model                         0
body_color                  597
paint_type                 5772
body_color_original        3774
upholstery                 3720
nr_of_doors                 212
nr_of_seats                 977
gearing_type                  0
engine_displacement_cc      496
cylinders                  5680
weight_kg                  6974
drive_chain                6858
fuel                          0
co2e_g                     2442
emission_class             3628
comfort&convenience         920
entertainment&media        1374
extras                     2962
safety&security             982
gears                      4712
country_version            8333
consumption_comb           3790
consumption_city           4039
consumption_country        3365
dtype: int64

In [11]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
price_€,15919.000,18019.897,7386.169,13.000,12850.000,16900.000,21900.000,74600.000
km,14895.000,34130.128,37352.978,0.000,5153.000,22740.000,49371.500,317000.000
registration,14322.000,2017.458,1.077,2016.000,2016.000,2018.000,2018.000,2019.000
prev_owner,9091.000,1.090,0.295,1.000,1.000,1.000,1.000,4.000
hp_kW,15831.000,88.368,26.835,1.000,66.000,85.000,101.000,294.000
previous_owners,9279.000,1.068,0.330,0.000,1.000,1.000,1.000,4.000
warranty,4853.000,21.927,15.771,1.000,12.000,12.000,24.000,72.000
nr_of_doors,15707.000,4.656,0.645,1.000,4.000,5.000,5.000,7.000
nr_of_seats,14942.000,4.950,0.490,2.000,5.000,5.000,5.000,7.000
engine_displacement_cc,15423.000,1423.541,333.531,1.000,1229.000,1461.000,1598.000,16000.000
cylinders,10239.000,3.797,0.415,1.000,4.000,4.000,4.000,8.000
weight_kg,8945.000,1351.107,220.662,1.000,1165.000,1288.000,1487.000,2471.000
co2e_g,13477.000,123.794,270.000,14.000,104.000,116.000,129.000,14457.000
gears,11207.000,5.925,0.848,1.000,5.000,6.000,6.000,50.000
consumption_comb,12129.000,4.861,0.906,1.200,4.200,4.800,5.500,13.800
consumption_city,11880.000,5.973,1.409,3.300,4.700,5.800,7.100,19.900
consumption_country,12554.000,4.214,0.676,2.900,3.700,4.200,4.600,10.300

In [12]:
df.describe(include="object").T

,count,unique,top,freq
short_description,15873,10001,SPB 1.6 TDI 116 CV S tronic Sport,64
body_type,15859,9,Sedans,7903
vat,11406,2,VAT deductible,10980
type,15917,5,Used,11096
make,15919,3,Opel,7343
model,15919,9,A3,3097
body_color,15322,14,Black,3745
paint_type,10147,3,Metallic,9794
body_color_original,12145,1926,Onyx Schwarz,338
upholstery,12199,6,Cloth,9206
gearing_type,15919,3,Manual,8153
drive_chain,9061,3,front,8886
fuel,15919,4,Benzine,8551
emission_class,12291,6,Euro 6,10139
comfort&convenience,14999,6198,"Air conditioning,Electrical side mirrors,Hill ...",216
entertainment&media,14545,346,"Bluetooth,Hands-free equipment,On-board comput...",1282
extras,12957,659,Alloy wheels,3245
safety&security,14937,4443,"ABS,Central door lock,Daytime running lights,D...",538
country_version,7586,23,Germany,4502

In [13]:
df["price_€"].sort_values()

8594       13.000
8828      120.000
6066      255.000
8829      331.000
8827     4950.000
           ...
15828   64332.000
3587    64900.000
3649    67600.000
15826   68320.000
3648    74600.000
Name: price_€, Length: 15919, dtype: float64

In [14]:
# We created "age" column with using "registraion" column and then dropped "registration" column.

In [15]:
df["age"] = 2019 - df.registration

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 37 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   short_description       15873 non-null  object
 1   body_type               15859 non-null  object
 2   price_€                 15919 non-null  float64
 3   vat                     11406 non-null  object
 4   km                      14895 non-null  float64
 5   registration            14322 non-null  float64
 6   prev_owner              9091 non-null   float64
 7   hp_kW                   15831 non-null  float64
 8   type                    15917 non-null  object
 9   previous_owners         9279 non-null   float64
 10  warranty                4853 non-null   float64
 11  make                    15919 non-null  object
 12  model                   15919 non-null  object
 13  body_color              15322 non-null  object
 14  paint_type              10147 non-null  object
 15  body_color_original     12145 non-null  object
 16  upholstery              12199 non-null  object
 17  nr_of_doors             15707 non-null  float64
 18  nr_of_seats             14942 non-null  float64
 19  gearing_type            15919 non-null  object
 20  engine_displacement_cc  15423 non-null  float64
 21  cylinders               10239 non-null  float64
 22  weight_kg               8945 non-null   float64
 23  drive_chain             9061 non-null   object
 24  fuel                    15919 non-null  object
 25  co2e_g                  13477 non-null  float64
 26  emission_class          12291 non-null  object
 27  comfort&convenience     14999 non-null  object
 28  entertainment&media     14545 non-null  object
 29  extras                  12957 non-null  object
 30  safety&security         14937 non-null  object
 31  gears                   11207 non-null  float64
 32  country_version         7586 non-null   object
 33  consumption_comb        12129 non-null  float64
 34  consumption_city        11880 non-null  float64
 35  consumption_country     12554 non-null  float64
 36  age                     14322 non-null  float64
dtypes: float64(18), object(19)
memory usage: 4.5+ MB

In [17]:
df.drop(["registration", "short_description"], axis=1, inplace=True)

In [18]:
df.isnull().sum()

body_type                    60
price_€                       0
vat                        4513
km                         1024
prev_owner                 6828
hp_kW                        88
type                          2
previous_owners            6640
warranty                  11066
make                          0
model                         0
body_color                  597
paint_type                 5772
body_color_original        3774
upholstery                 3720
nr_of_doors                 212
nr_of_seats                 977
gearing_type                  0
engine_displacement_cc      496
cylinders                  5680
weight_kg                  6974
drive_chain                6858
fuel                          0
co2e_g                     2442
emission_class             3628
comfort&convenience         920
entertainment&media        1374
extras                     2962
safety&security             982
gears                      4712
country_version            8333
consumption_comb           3790
consumption_city           4039
consumption_country        3365
age                        1597
dtype: int64

In [19]:
# We applied the function above for each column to analyze.

In [20]:
def check_df(col):
    print('column name : ', col)
    print('--------------------------------')
    print('Per_of_Nulls   : ', '%', round(df[col].isnull().sum() / df.shape[0]*100, 2))
    print('Num_of_Nulls   : ', df[col].isnull().sum())
    print(df[col].value_counts(dropna = False))
    print("*"*30)
    print("\n\n")

## 1. body_type

In [21]:
check_df("body_type")

column name :  body_type
--------------------------------
Per_of_Nulls   :  % 0.38
Num_of_Nulls   :  60
Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64
******************************

In [22]:
df.body_type.isnull().sum()

60

In [23]:
df[df.body_type.isnull()][["make", "model", "nr_of_doors", "nr_of_seats" ]]

          make     model  nr_of_doors  nr_of_seats
3175      Audi        A3        5.000        5.000
3255      Audi        A3        3.000        5.000
3975      Audi        A3        5.000        5.000
3997      Audi        A3        3.000          NaN
4206      Audi        A3        5.000          NaN
4297      Audi        A3        5.000          NaN
4298      Audi        A3        5.000          NaN
5718      Opel     Astra        5.000          NaN
5938      Opel     Astra        5.000          NaN
5940      Opel     Astra        5.000          NaN
6920      Opel     Astra        5.000          NaN
6922      Opel     Astra        5.000          NaN
6927      Opel     Astra        5.000          NaN
7709      Opel     Astra        5.000          NaN
8408      Opel     Corsa        5.000        5.000
8584      Opel     Corsa          NaN          NaN
10837     Opel  Insignia        5.000          NaN
10838     Opel  Insignia        5.000          NaN
10857     Opel  Insignia        5.000          NaN
13430  Renault      Clio        5.000          NaN
13470  Renault      Clio        5.000          NaN
13576  Renault      Clio        5.000          NaN
13703  Renault      Clio        5.000          NaN
13725  Renault      Clio        5.000          NaN
13852  Renault      Clio        5.000          NaN
13900  Renault      Clio        5.000          NaN
14107  Renault      Clio        5.000          NaN
14124  Renault      Clio        5.000          NaN
14127  Renault      Clio        5.000          NaN
14134  Renault      Clio        5.000          NaN
14135  Renault      Clio        5.000          NaN
14480  Renault      Clio        5.000        5.000
14869  Renault      Clio        5.000        5.000
14870  Renault      Clio        5.000        5.000
14928  Renault    Espace        5.000          NaN
14990  Renault    Espace        5.000          NaN
15058  Renault    Espace        5.000          NaN
15059  Renault    Espace        5.000          NaN
15060  Renault    Espace        5.000          NaN
15124  Renault    Espace        5.000          NaN
15269  Renault    Espace        5.000          NaN
15275  Renault    Espace        5.000          NaN
15289  Renault    Espace        5.000          NaN
15307  Renault    Espace        5.000          NaN
15378  Renault    Espace        5.000          NaN
15437  Renault    Espace        5.000        7.000
15452  Renault    Espace        5.000          NaN
15456  Renault    Espace        5.000          NaN
15457  Renault    Espace        5.000          NaN
15488  Renault    Espace        5.000          NaN
15489  Renault    Espace        5.000        7.000
15491  Renault    Espace        5.000        7.000
15499  Renault    Espace        5.000          NaN
15544  Renault    Espace        5.000          NaN
15556  Renault    Espace        5.000          NaN
15589  Renault    Espace        5.000        7.000
15696  Renault    Espace        5.000        7.000
15712  Renault    Espace        5.000        7.000
15736  Renault    Espace        5.000          NaN
15770  Renault    Espace        5.000          NaN

In [24]:
pd.set_option('display.max_rows', 150)

In [25]:
df.groupby(["make", "model"])["body_type"].value_counts(dropna=False)

make     model     body_type
Audi     A1        Sedans           1538
                   Compact          1039
                   Station wagon      21
                   Other              13
                   Coupe               2
                   Van                 1
         A2        Off-Road            1
         A3        Sedans           2598
                   Station wagon     282
                   Compact           182
                   Other              16
                   Convertible         8
                   NaN                 7
                   Coupe               4
Opel     Astra     Station wagon    1211
                   Sedans           1053
                   Compact           185
                   Other              67
                   NaN                 7
                   Coupe               2
                   Off-Road            1
         Corsa     Compact          1230
                   Sedans            875
                   Other              87
                   Coupe              13
                   Transporter         7
                   Off-Road            3
                   NaN                 2
                   Van                 2
         Insignia  Station wagon    1611
                   Sedans            900
                   Other              48
                   Compact            27
                   Off-Road            7
                   NaN                 3
                   Coupe               1
                   Van                 1
Renault  Clio      Sedans            918
                   Compact           484
                   Station wagon     337
                   Other              51
                   Transporter        29
                   NaN                15
                   Off-Road            2
                   Van                 2
                   Coupe               1
         Duster    Off-Road           34
         Espace    Van               777
                   Station wagon      91
                   Transporter        52
                   NaN                26
                   Sedans             21
                   Off-Road            8
                   Other               8
                   Compact             6
                   Coupe               2
Name: body_type, dtype: int64

In [26]:
df.groupby(["make", "model", "nr_of_doors", "nr_of_seats"])["body_type"].value_counts(dropna=False)

make     model     nr_of_doors  nr_of_seats  body_type
Audi     A1        2.000        3.000        Compact             1
                                4.000        Compact            65
                                             Sedans             26
                                             Coupe               1
                                5.000        Compact             2
                                             Sedans              1
                   3.000        4.000        Sedans            120
                                             Compact            71
                                             Station wagon       1
                                5.000        Sedans              7
                                             Compact             4
                   4.000        4.000        Compact            75
                                             Sedans             39
                                             Station wagon       1
                                5.000        Sedans            245
                                             Compact           126
                                             Other               5
                                             Station wagon       1
                   5.000        4.000        Sedans            454
                                             Compact           220
                                             Station wagon       4
                                             Other               1
                                5.000        Sedans            568
                                             Compact           405
                                             Station wagon      13
                                             Other               7
                                             Coupe               1
                                6.000        Compact             1
         A2        5.000        5.000        Off-Road            1
         A3        2.000        4.000        Convertible         5
                                             Other               1
                                             Sedans              1
                                5.000        Sedans             15
                                             Convertible         1
                                             Other               1
                                             Station wagon       1
                   3.000        5.000        Sedans             90
                                             Compact            11
                                             Coupe               4
                                             Other               2
                                             NaN                 1
                                             Station wagon       1
                   4.000        4.000        Sedans             12
                                5.000        Sedans            460
                                             Station wagon     109
                                             Compact             6
                                             Other               1
                   5.000        4.000        Sedans              6
                                5.000        Sedans           1912
                                             Station wagon     165
                                             Compact           158
                                             Other               5
                                             NaN                 2
                                             Convertible         1
Opel     Astra     3.000        4.000        Coupe               1
                                5.000        Sedans              3
                   4.000        4.000        Station wagon       1
                                5.000        Station wagon     272
                                             Sedans            239
                                             Other               7
                                             Compact             5
                   5.000        4.000        Station wagon       3
                                5.000        Station wagon     861
                                             Sedans            742
                                             Compact           169
                                             Other              54
                                             Off-Road            1
         Corsa     2.000        4.000        Compact             1
                                5.000        Compact            86
                                             Sedans              4
                                             Other               1
                   3.000        2.000        Transporter         4
                                             Coupe               1
                                4.000        Compact             3
                                5.000        Compact           329
                                             Sedans            139
                                             Coupe              10
                                             Other               4
                   4.000        4.000        Compact             1
                                5.000        Compact           263
                                             Sedans             21
                                             Other               2
                   5.000        4.000        Sedans              1
                                             Transporter         1
                                5.000        Sedans            621
                                             Compact           514
                                             Other              79
                                             Transporter         2
                                             NaN                 1
                                             Coupe               1
                                             Off-Road            1
         Insignia  4.000        2.000        Station wagon       1
                                4.000        Station wagon       1
                                5.000        Station wagon     446
                                             Sedans            245
                                             Other               2
                                             Compact             1
                   5.000        4.000        Station wagon       1
                                5.000        Station wagon    1103
                                             Sedans            609
                                             Other              42
                                             Compact            25
                                             Off-Road            7
                                             Van                 1
Renault  Clio      4.000        2.000        Compact             1
                                             Transporter         1
                                5.000        Compact           142
                                             Station wagon      50
                                             Sedans             44
                                             Other               4
                                             Coupe               1
                   5.000        2.000        Sedans             71
                                             Transporter        25
                                             Compact             7
                                             Other               4
                                4.000        Sedans              3
                                             Station wagon       2
                                5.000        Sedans            712
                                             Compact           264
                                             Station wagon     255
                                             Other              38
                                             NaN                 3
                                             Off-Road            2
                                             Van                 1
         Duster    5.000        5.000        Off-Road           34
         Espace    4.000        5.000        Van                27
                                             Sedans              8
                                             Station wagon       4
                                             Off-Road            1
                                7.000        Van                59
                                             Compact             1
                                             Sedans              1
                   5.000        4.000        Van                 1
                                5.000        Van               356
                                             Station wagon      62
                                             Transporter        35
                                             Off-Road            4
                                             Other               4
                                             Compact             3
                                             Sedans              3
                                6.000        Station wagon       1
                                7.000        Van               246
                                             Station wagon      18
                                             Transporter        16
                                             NaN                 6
                                             Other               3
                                             Sedans              3
                                             Off-Road            2
                                             Compact             1
Name: body_type, dtype: int64

In [27]:
# select group mode values
df.groupby(["make", "model"])['body_type'].apply(lambda x: x.mode()[0])

make     model
Audi     A1                 Sedans
         A2               Off-Road
         A3                 Sedans
Opel     Astra       Station wagon
         Corsa             Compact
         Insignia    Station wagon
Renault  Clio               Sedans
         Duster           Off-Road
         Espace                Van
Name: body_type, dtype: object

In [28]:
df.groupby(["make", "model"])["body_type"].describe(include="object")["top"]

make     model
Audi     A1                 Sedans
         A2               Off-Road
         A3                 Sedans
Opel     Astra       Station wagon
         Corsa             Compact
         Insignia    Station wagon
Renault  Clio               Sedans
         Duster           Off-Road
         Espace                Van
Name: top, dtype: object

In [29]:
df.groupby(["make", "model"])["body_type"].apply(lambda x: x.fillna(x.mode()[0]))

0        Sedans
1        Sedans
2        Sedans
3        Sedans
4        Sedans
          ...
15914       Van
15915       Van
15916       Van
15917       Van
15918       Van
Name: body_type, Length: 15919, dtype: object

In [30]:
df.body_type = df.groupby(["make", "model"])["body_type"].apply(lambda x: x.fillna(x.mode()[0]))

In [31]:
df.body_type.isnull().sum()

0

## 2.vat

In [32]:
check_df("vat")

column name :  vat
--------------------------------
Per_of_Nulls   :  % 28.35
Num_of_Nulls   :  4513
VAT deductible      10980
NaN                  4513
Price negotiable      426
Name: vat, dtype: int64
******************************

In [33]:
df.groupby("vat").describe(include=object)

                 body_type                        type                     \
                     count unique     top  freq  count unique   top  freq
vat
Price negotiable       426      9  Sedans   286    426      3  Used   421
VAT deductible       10980      9  Sedans  5248  10980      5  Used  6787

                   make                     model                  body_color  \
                  count unique   top  freq  count unique top  freq      count
vat
Price negotiable    426      3  Audi   182    426      7  A3   101        426
VAT deductible    10980      3  Opel  5415  10980      9  A3  2209      10586

                                     paint_type                         \
                 unique    top  freq      count unique       top  freq
vat
Price negotiable     10  Black   109        245      1  Metallic   245
VAT deductible       13  Black  2704       7558      3  Metallic  7312

                 body_color_original                                         \
                               count unique                        top freq
vat
Price negotiable                  17     17  Floretzilver (grijs metal    1
VAT deductible                  9543   1568               Onyx Schwarz  314

                 upholstery                     gearing_type                 \
                      count unique    top  freq        count unique     top
vat
Price negotiable        134      4  Cloth    82          426      3  Manual
VAT deductible         9780      6  Cloth  7404        10980      3  Manual

                       drive_chain                       fuel                  \
                  freq       count unique    top  freq  count unique      top
vat
Price negotiable   204          95      2  front    92    426      4   Diesel
VAT deductible    5502        6876      2  front  6762  10980      4  Benzine

                       emission_class                       \
                  freq          count unique     top  freq
vat
Price negotiable   223            401      6  Euro 6   361
VAT deductible    6183           8801      6  Euro 6  6915

                 comfort&convenience         \
                               count unique
vat
Price negotiable                 423    333
VAT deductible                 10811   4368

                                                                          \
                                                                top freq
vat
Price negotiable  Air conditioning,Seat ventilation,Split rear s...   15
VAT deductible    Air conditioning,Electrical side mirrors,Hill ...  163

                 entertainment&media         \
                               count unique
vat
Price negotiable                 414    100
VAT deductible                 10609    300

                                                                           \
                                                                top  freq
vat
Price negotiable  Bluetooth,CD player,Hands-free equipment,MP3,O...    32
VAT deductible    Bluetooth,Hands-free equipment,On-board comput...  1088

                 extras                            safety&security         \
                  count unique           top  freq           count unique
vat
Price negotiable    372    139  Alloy wheels    71             422    298
VAT deductible     9471    498  Alloy wheels  2092           10782   2973

                                                                          \
                                                                top freq
vat
Price negotiable  ABS,Adaptive Cruise Control,Alarm system,Centr...   12
VAT deductible    ABS,Central door lock,Daytime running lights,D...  461

                 country_version
                           count unique      top  freq
vat
Price negotiable              43      6    Italy    14
VAT deductible              5966     20  Germany  3812

In [34]:
df["vat"] = df.vat.fillna(method="bfill")

In [35]:
df.vat.isnull().sum()

0

In [36]:
df.vat.value_counts(dropna=False)

VAT deductible      15083
Price negotiable      836
Name: vat, dtype: int64

## 3.type

In [37]:
df["type"] = df.type.fillna(method="ffill")

In [38]:
df.type.isnull().sum()

0

## 4.age

In [39]:
df.age.isnull().sum()

1597

In [40]:
df.groupby("type").age.median()

type
Demonstration    0.000
Employee's car   1.000
New              0.000
Pre-registered   0.000
Used             2.000
Name: age, dtype: float64

In [41]:
df.groupby("type").age.apply(lambda x : x.fillna(x.median())).value_counts(dropna=False)

1.000    4525
0.000    4412
3.000    3674
2.000    3308
Name: age, dtype: int64

In [42]:
df.groupby("type").age.apply(lambda x : x.fillna(x.median())).isnull().sum()

0

In [43]:
df["age"] = df.groupby("type").age.apply(lambda x : x.fillna(x.median()))

In [44]:
df["age"].isnull().sum()

0

## 5.km

In [45]:
check_df("km")

column name :  km
--------------------------------
Per_of_Nulls   :  % 6.43
Num_of_Nulls   :  1024
10.000       1045
NaN          1024
1.000         367
5.000         170
50.000        148
             ...
67469.000       1
43197.000       1
10027.000       1
35882.000       1
57.000          1
Name: km, Length: 6690, dtype: int64
******************************

In [46]:
df.groupby(["type", "age"])["km"].apply(lambda x : x.fillna(x.mean()))

0       56013.000
1       80000.000
2       83450.000
3       73000.000
4       16200.000
           ...
15914      16.987
15915    9900.000
15916      15.000
15917      10.000
15918    3373.868
Name: km, Length: 15919, dtype: float64

In [47]:
df.groupby(["type", "age"])["km"].apply(lambda x : x.fillna(x.mean())).value_counts(dropna=False)

10.000       1045
16.987        848
1.000         367
5.000         170
50.000        148
             ...
53433.000       1
67469.000       1
43197.000       1
10027.000       1
57.000          1
Name: km, Length: 6699, dtype: int64

In [48]:
df["km"] = df.groupby(["type", "age"])["km"].apply(lambda x : x.fillna(x.mean()))

In [49]:
df.km.isnull().sum()

0

## 6.prev_owner and previous_owners

In [50]:
check_df("prev_owner")

column name :  prev_owner
--------------------------------
Per_of_Nulls   :  % 42.89
Num_of_Nulls   :  6828
1.000    8294
NaN      6828
2.000     778
3.000      17
4.000       2
Name: prev_owner, dtype: int64
******************************

In [51]:
check_df("previous_owners")

column name :  previous_owners
--------------------------------
Per_of_Nulls   :  % 41.71
Num_of_Nulls   :  6640
1.000    8294
NaN      6640
2.000     778
0.000     188
3.000      17
4.000       2
Name: previous_owners, dtype: int64
******************************

In [52]:
df.drop("prev_owner", axis=1, inplace=True)

In [53]:
df.groupby("age")["previous_owners"].value_counts(dropna=False)

age    previous_owners
0.000  NaN                2653
       1.000              1585
       0.000               164
       2.000                10
1.000  1.000              2968
       NaN                1474
       2.000                75
       0.000                 8
2.000  1.000              1715
       NaN                1283
       2.000               296
       3.000                 7
       0.000                 6
       4.000                 1
3.000  1.000              2026
       NaN                1230
       2.000               397
       0.000                10
       3.000                10
       4.000                 1
Name: previous_owners, dtype: int64

In [54]:
df.groupby("age")["previous_owners"].apply(lambda x: x.fillna(x.mode()[0])).value_counts()

1.000    14934
2.000      778
0.000      188
3.000       17
4.000        2
Name: previous_owners, dtype: int64

In [55]:
df.groupby("type")["previous_owners"].apply(lambda x: x.fillna(x.mode()[0])).value_counts()

1.000    13463
0.000     1659
2.000      778
3.000       17
4.000        2
Name: previous_owners, dtype: int64

In [56]:
df.groupby(["age", "type"])["previous_owners"].apply(lambda x: x.fillna(x.mode()[0])).value_counts()

1.000    13465
0.000     1657
2.000      778
3.000       17
4.000        2
Name: previous_owners, dtype: int64

In [57]:
df["previous_owners"] = df.groupby("type")["previous_owners"].apply(lambda x: x.fillna(x.mode()[0]))

In [58]:
df.previous_owners.isnull().sum()

0

## 7.hp_kW

In [59]:
check_df("hp_kW")

column name :  hp_kW
--------------------------------
Per_of_Nulls   :  % 0.55
Num_of_Nulls   :  88
85.000     2542
66.000     2122
81.000     1402
100.000    1308
110.000    1112
70.000      888
125.000     707
51.000      695
55.000      569
118.000     516
92.000      466
121.000     392
147.000     380
77.000      345
56.000      286
54.000      276
103.000     253
87.000      232
165.000     194
88.000      177
60.000      160
162.000      98
NaN          88
74.000       81
96.000       72
71.000       59
101.000      47
67.000       40
154.000      39
122.000      35
119.000      30
164.000      27
135.000      24
82.000       22
52.000       22
78.000       20
1.000        20
294.000      18
146.000      18
141.000      16
57.000       10
104.000       8
120.000       8
191.000       7
112.000       7
155.000       6
117.000       6
184.000       5
90.000        4
76.000        4
65.000        4
149.000       3
80.000        3
168.000       3
98.000        3
93.000        3
228.000       2
270.000       2
53.000        2
140.000       2
86.000        2
167.000       2
127.000       2
89.000        2
143.000       2
63.000        2
40.000        2
150.000       2
163.000       1
115.000       1
132.000       1
75.000        1
4.000         1
137.000       1
123.000       1
133.000       1
84.000        1
195.000       1
44.000        1
239.000       1
9.000         1
Name: hp_kW, dtype: int64
******************************

In [60]:
df.groupby(["make", "model", "body_type"])["hp_kW"].apply(lambda x: x.fillna(x.median())).isnull().sum()

0

In [61]:
df["hp_kW"] = df.groupby(["make", "model", "body_type"])["hp_kW"].apply(lambda x: x.fillna(x.median()))

In [62]:
df["hp_kW"].isnull().sum()

0

## 8.warranty

In [63]:
# We made a search on the internet. We found at not all the cars on the autoscout platform have a warranty.
# We got contact with autoscout officials on the meaning of NaN values of warranty column in the dataset 
# and they stated that every new car has a warranty but not all used cars have a warranty. 
# So we have filled all of the used cars to '0' and apllied fillna method for other values median of the "warranty" column values by groupby value of the "type" and "age" column.

In [64]:
df.warranty.isnull().sum()

11066

In [65]:
df.groupby(["make", "model", "age"])["warranty"].mean()

make     model     age
Audi     A1        0.000   27.971
                   1.000   26.300
                   2.000   17.679
                   3.000   13.926
         A2        1.000      NaN
         A3        0.000   27.697
                   1.000   21.707
                   2.000   16.655
                   3.000   17.112
Opel     Astra     0.000   37.804
                   1.000   25.795
                   2.000   14.988
                   3.000   24.797
         Corsa     0.000   27.472
                   1.000   17.355
                   2.000   22.231
                   3.000   27.061
         Insignia  0.000   31.863
                   1.000   25.348
                   2.000   17.058
                   3.000   15.225
Renault  Clio      0.000   35.510
                   1.000   15.686
                   2.000   16.733
                   3.000   10.864
         Duster    0.000   12.000
         Espace    0.000   37.226
                   1.000   22.524
                   2.000   15.922
                   3.000   12.482
Name: warranty, dtype: float64

In [66]:
df.groupby("age")["warranty"].mean()

age
0.000   30.511
1.000   22.549
2.000   17.345
3.000   17.302
Name: warranty, dtype: float64

In [67]:
df.groupby("age")["warranty"].median()

age
0.000   24.000
1.000   12.000
2.000   12.000
3.000   12.000
Name: warranty, dtype: float64

In [68]:
df["warranty"].value_counts(dropna=False)

NaN       11066
12.000     2594
24.000     1118
60.000      401
36.000      279
48.000      149
6.000       125
72.000       59
3.000        33
23.000       11
18.000       10
20.000        7
25.000        6
2.000         5
50.000        4
26.000        4
16.000        4
4.000         3
1.000         3
19.000        3
34.000        3
13.000        3
28.000        2
22.000        2
14.000        2
11.000        2
46.000        2
21.000        2
9.000         2
17.000        2
45.000        2
33.000        1
40.000        1
65.000        1
10.000        1
15.000        1
7.000         1
8.000         1
56.000        1
49.000        1
47.000        1
30.000        1
Name: warranty, dtype: int64

In [69]:
df["warranty"] = df["warranty"].replace(to_replace=np.nan, value=0).astype("float")

In [70]:
df.loc[df["warranty"] != 0, "warranty"] = 1

In [71]:
df.warranty.isnull().sum()

0

In [72]:
df.warranty.value_counts()

0.000    11066
1.000     4853
Name: warranty, dtype: int64

## 9.body_color

In [73]:
check_df("body_color")

column name :  body_color
--------------------------------
Per_of_Nulls   :  % 3.75
Num_of_Nulls   :  597
Black     3745
Grey      3505
White     3406
Silver    1647
Blue      1431
Red        957
NaN        597
Brown      289
Green      154
Beige      108
Yellow      51
Violet      18
Bronze       6
Orange       3
Gold         2
Name: body_color, dtype: int64
******************************

In [74]:
df.body_color.fillna(method="backfill").value_counts(dropna=False)

Black     3888
Grey      3638
White     3540
Silver    1687
Blue      1524
Red        989
Brown      299
Green      163
Beige      108
Yellow      53
Violet      18
Bronze       7
Orange       3
Gold         2
Name: body_color, dtype: int64

In [75]:
df.body_color.fillna(method="ffill").value_counts(dropna=False)

Black     3877
Grey      3614
White     3531
Silver    1705
Blue      1535
Red        998
Brown      298
Green      163
Beige      114
Yellow      54
Violet      19
Bronze       6
Orange       3
Gold         2
Name: body_color, dtype: int64

In [76]:
df["body_color"] = df.body_color.fillna(method="backfill")

In [77]:
df["body_type"].isnull().sum()

0

## 10.paint_type

In [78]:
check_df("paint_type")

column name :  paint_type
--------------------------------
Per_of_Nulls   :  % 36.26
Num_of_Nulls   :  5772
Metallic       9794
NaN            5772
Uni/basic       347
Perl effect       6
Name: paint_type, dtype: int64
******************************

In [79]:
df[df.paint_type.isnull()]["body_color_original"].value_counts(dropna=False)

NaN                            1670
Brillantschwarz                 179
Bianco                          163
wählbar - ggf. mit Aufpreis     118
Blanco                          110
                               ...
schnee-weiss                      1
schneeweiß/schwarz                1
rouge eclat                       1
Gris Cosmique                     1
Cosmos Blau Met                   1
Name: body_color_original, Length: 624, dtype: int64

In [80]:
df.paint_type.fillna(method="pad").value_counts(dropna=False)

Metallic       15261
Uni/basic        617
Perl effect       41
Name: paint_type, dtype: int64

In [81]:
df.paint_type.fillna(method="bfill").value_counts(dropna=False)

Metallic       15343
Uni/basic        555
Perl effect       21
Name: paint_type, dtype: int64

In [82]:
df.paint_type.value_counts(dropna=False)

Metallic       9794
NaN            5772
Uni/basic       347
Perl effect       6
Name: paint_type, dtype: int64

In [83]:
df.paint_type = df.paint_type.fillna(method="pad")

In [84]:
df.paint_type.isnull().sum()

0

## 11.body_color_original

In [85]:
# Since this column contains irrelevant values and the values are in German, 
# we have dropped this column.

In [86]:
df.drop(columns="body_color_original", inplace=True)

## 12.upholstery

In [87]:
check_df("upholstery")

column name :  upholstery
--------------------------------
Per_of_Nulls   :  % 23.37
Num_of_Nulls   :  3720
Cloth           9206
NaN             3720
Part leather    1499
Full leather    1009
Other            368
Velour            60
alcantara         57
Name: upholstery, dtype: int64
******************************

In [88]:
df.columns

Index(['body_type', 'price_€', 'vat', 'km', 'hp_kW', 'type', 'previous_owners',
       'warranty', 'make', 'model', 'body_color', 'paint_type', 'upholstery',
       'nr_of_doors', 'nr_of_seats', 'gearing_type', 'engine_displacement_cc',
       'cylinders', 'weight_kg', 'drive_chain', 'fuel', 'co2e_g',
       'emission_class', 'comfort&convenience', 'entertainment&media',
       'extras', 'safety&security', 'gears', 'country_version',
       'consumption_comb', 'consumption_city', 'consumption_country', 'age'],
      dtype='object')

In [89]:
import re

In [90]:
def get_diff_category_column(Series:pd.Series, exclude=''',/\n''', pattern=r'''[,\n]| /''', strip='''\n' "!?|.,*+-_/]['''):
    """
    exclude  - satırlar da kategori ayırım yerleri
    pattern  - satırdaki veriyi ayırma regex
    strip    - alakasız işaretleri kaldırma
    """
    import re
    column = Series.dropna().apply(str).str.strip(strip)
    diff_value = list()
    for row in column:
        if not any(x in exclude for x in row) and row not in diff_value:
            diff_value.append(row)
        else:
            for data in map(lambda x: x.strip(strip), filter(None, re.split(pattern, row))):
                if data not in diff_value:
                    diff_value.append(data)
    return dict(enumerate(sorted(diff_value)))

In [91]:
get_diff_category_column(df["comfort&convenience"])

{0: 'Air conditioning',
 1: 'Air suspension',
 2: 'Armrest',
 3: 'Automatic climate control',
 4: 'Auxiliary heating',
 5: 'Cruise control',
 6: 'Electric Starter',
 7: 'Electric tailgate',
 8: 'Electrical side mirrors',
 9: 'Electrically adjustable seats',
 10: 'Electrically heated windshield',
 11: 'Heads-up display',
 12: 'Heated steering wheel',
 13: 'Hill Holder',
 14: 'Keyless central door lock',
 15: 'Leather seats',
 16: 'Leather steering wheel',
 17: 'Light sensor',
 18: 'Lumbar support',
 19: 'Massage seats',
 20: 'Multi-function steering wheel',
 21: 'Navigation system',
 22: 'Panorama roof',
 23: 'Park Distance Control',
 24: 'Parking assist system camera',
 25: 'Parking assist system self-steering',
 26: 'Parking assist system sensors front',
 27: 'Parking assist system sensors rear',
 28: 'Power windows',
 29: 'Rain sensor',
 30: 'Seat heating',
 31: 'Seat ventilation',
 32: 'Split rear seats',
 33: 'Start-stop system',
 34: 'Sunroof',
 35: 'Tinted windows',
 36: 'Wind deflector',
 37: 'Windshield'}

In [92]:
df["comfort&convenience"].str.contains("Leather seats").value_counts(dropna=False)

False    14951
NaN        920
True        48
Name: comfort&convenience, dtype: int64

In [93]:
df[df.upholstery.isnull()]["comfort&convenience"].str.contains("Leather seats").value_counts(dropna=False)

False    2939
NaN       779
True        2
Name: comfort&convenience, dtype: int64

In [94]:
# As the second option we can create an additional column according to "price_€" column("high", "medium", "low" price).
# We can fill NaN values of upholstery column by grouping this new column.

In [95]:
df.groupby(["make", "model", "price_€"])["upholstery"].fillna(method="pad").fillna(method="backfill").value_counts(dropna=False)

Cloth           11912
Part leather     1974
Full leather     1356
Other             507
Velour             96
alcantara          74
Name: upholstery, dtype: int64

In [96]:
df.upholstery = df.groupby(["make", "model", "price_€"])["upholstery"].fillna(method="pad").fillna(method="backfill")

In [97]:
df.upholstery.isnull().sum()

0

In [98]:
df.isnull().sum()

body_type                    0
price_€                      0
vat                          0
km                           0
hp_kW                        0
type                         0
previous_owners              0
warranty                     0
make                         0
model                        0
body_color                   0
paint_type                   0
upholstery                   0
nr_of_doors                212
nr_of_seats                977
gearing_type                 0
engine_displacement_cc     496
cylinders                 5680
weight_kg                 6974
drive_chain               6858
fuel                         0
co2e_g                    2442
emission_class            3628
comfort&convenience        920
entertainment&media       1374
extras                    2962
safety&security            982
gears                     4712
country_version           8333
consumption_comb          3790
consumption_city          4039
consumption_country       3365
age                          0
dtype: int64

## 13.nr_of_doors

In [99]:
check_df("nr_of_doors")

column name :  nr_of_doors
--------------------------------
Per_of_Nulls   :  % 1.33
Num_of_Nulls   :  212
5.000    11575
4.000     3079
3.000      832
2.000      219
NaN        212
1.000        1
7.000        1
Name: nr_of_doors, dtype: int64
******************************

In [100]:
df.groupby(["make", "model", "body_type"])["nr_of_doors"].value_counts(dropna=False)

make     model     body_type      nr_of_doors
Audi     A1        Compact        5.000           666
                                  4.000           207
                                  3.000            80
                                  2.000            69
                                  NaN              17
                   Coupe          2.000             1
                                  5.000             1
                   Other          5.000             8
                                  4.000             5
                   Sedans         5.000          1048
                                  4.000           321
                                  3.000           130
                                  2.000            29
                                  NaN              10
                   Station wagon  5.000            17
                                  4.000             3
                                  3.000             1
                   Van            5.000             1
         A2        Off-Road       5.000             1
         A3        Compact        5.000           164
                                  3.000            11
                                  4.000             6
                                  NaN               1
                   Convertible    2.000             7
                                  5.000             1
                   Coupe          3.000             4
                   Other          5.000            10
                                  3.000             3
                                  2.000             2
                                  4.000             1
                   Sedans         5.000          1953
                                  4.000           517
                                  3.000            94
                                  NaN              24
                                  2.000            17
                   Station wagon  5.000           169
                                  4.000           110
                                  NaN               1
                                  2.000             1
                                  3.000             1
Opel     Astra     Compact        5.000           180
                                  4.000             5
                   Coupe          3.000             1
                                  5.000             1
                   Off-Road       5.000             1
                   Other          5.000            59
                                  4.000             7
                                  NaN               1
                   Sedans         5.000           797
                                  4.000           241
                                  NaN              12
                                  3.000             3
                   Station wagon  5.000           927
                                  4.000           280
                                  NaN              11
         Corsa     Compact        5.000           528
                                  3.000           338
                                  4.000           268
                                  2.000            88
                                  NaN              10
                   Coupe          3.000            12
                                  5.000             1
                   Off-Road       5.000             3
                   Other          5.000            80
                                  3.000             4
                                  4.000             2
                                  2.000             1
                   Sedans         5.000           662
                                  3.000           146
                                  NaN              42
                                  4.000            21
                                  2.000             4
                   Transporter    3.000             4
                                  5.000             3
                   Van            NaN               2
         Insignia  Compact        5.000            26
                                  4.000             1
                   Coupe          4.000             1
                   Off-Road       5.000             7
                   Other          5.000            44
                                  4.000             3
                                  NaN               1
                   Sedans         5.000           638
                                  4.000           250
                                  NaN              12
                   Station wagon  5.000          1149
                                  4.000           453
                                  NaN              12
                   Van            5.000             1
Renault  Clio      Compact        5.000           302
                                  4.000           170
                                  NaN              11
                                  1.000             1
                   Coupe          4.000             1
                   Off-Road       5.000             2
                   Other          5.000            46
                                  4.000             4
                                  NaN               1
                   Sedans         5.000           868
                                  4.000            44
                                  NaN              21
                   Station wagon  5.000           276
                                  4.000            52
                                  NaN               9
                   Transporter    5.000            27
                                  NaN               1
                                  4.000             1
                   Van            NaN               1
                                  5.000             1
         Duster    Off-Road       5.000            34
         Espace    Compact        5.000             5
                                  4.000             1
                   Coupe          NaN               1
                                  5.000             1
                   Off-Road       5.000             6
                                  NaN               1
                                  4.000             1
                   Other          5.000             7
                                  NaN               1
                   Sedans         5.000            12
                                  4.000             9
                   Station wagon  5.000            86
                                  4.000             4
                                  NaN               1
                   Transporter    5.000            52
                   Van            5.000           704
                                  4.000            90
                                  NaN               8
                                  7.000             1
Name: nr_of_doors, dtype: int64

In [101]:
# df.groupby(["make", "model", "body_type"])["nr_of_doors"].apply(lambda x: x.fillna(x.mode()[0])).isnull().sum()

In [102]:
df[(df["make"] == "Opel")&(df["model"] == "Corsa")&(df["body_type"] == "Van")]["nr_of_doors"]

8952   NaN
8953   NaN
Name: nr_of_doors, dtype: float64

In [103]:
df[(df["make"] == "Opel")&(df["model"] == "Corsa")&(df["body_type"] == "Van")]["nr_of_doors"]

8952   NaN
8953   NaN
Name: nr_of_doors, dtype: float64

In [104]:
df.nr_of_doors.value_counts(dropna=False)

5.000    11575
4.000     3079
3.000      832
2.000      219
NaN        212
1.000        1
7.000        1
Name: nr_of_doors, dtype: int64

In [105]:
df.iloc[8952:8954]["nr_of_doors"]

8952   NaN
8953   NaN
Name: nr_of_doors, dtype: float64

In [106]:
df.nr_of_doors = df.groupby(["make", "model", "body_type"])["nr_of_doors"].apply(lambda x: x.fillna(x.mode()[0] if any(x.mode()) else df["nr_of_doors"].mode()[0]))

In [107]:
df.nr_of_doors.isnull().sum()

0

## 14.nr_of_seats

In [108]:
check_df("nr_of_seats")

column name :  nr_of_seats
--------------------------------
Per_of_Nulls   :  % 6.14
Num_of_Nulls   :  977
5.000    13336
4.000     1125
NaN        977
7.000      362
2.000      116
6.000        2
3.000        1
Name: nr_of_seats, dtype: int64
******************************

In [109]:
df.groupby(["make", "model", "body_type"])["nr_of_seats"].value_counts(dropna=False)

make     model     body_type      nr_of_seats
Audi     A1        Compact        5.000           538
                                  4.000           431
                                  NaN              68
                                  3.000             1
                                  6.000             1
                   Coupe          4.000             1
                                  5.000             1
                   Other          5.000            12
                                  4.000             1
                   Sedans         5.000           827
                                  4.000           641
                                  NaN              70
                   Station wagon  5.000            14
                                  4.000             6
                                  NaN               1
                   Van            NaN               1
         A2        Off-Road       5.000             1
         A3        Compact        5.000           175
                                  NaN               7
                   Convertible    4.000             5
                                  5.000             2
                                  NaN               1
                   Coupe          5.000             4
                   Other          5.000             9
                                  NaN               6
                                  4.000             1
                   Sedans         5.000          2484
                                  NaN             102
                                  4.000            19
                   Station wagon  5.000           277
                                  NaN               5
Opel     Astra     Compact        5.000           174
                                  NaN              11
                   Coupe          NaN               1
                                  4.000             1
                   Off-Road       5.000             1
                   Other          5.000            61
                                  NaN               6
                   Sedans         5.000           985
                                  NaN              68
                   Station wagon  5.000          1136
                                  NaN              78
                                  4.000             4
         Corsa     Compact        5.000          1200
                                  NaN              27
                                  4.000             5
                   Coupe          5.000            11
                                  NaN               1
                                  2.000             1
                   Off-Road       NaN               2
                                  5.000             1
                   Other          5.000            86
                                  NaN               1
                   Sedans         5.000           787
                                  NaN              87
                                  4.000             1
                   Transporter    2.000             4
                                  5.000             2
                                  4.000             1
                   Van            NaN               2
         Insignia  Compact        5.000            26
                                  NaN               1
                   Coupe          NaN               1
                   Off-Road       5.000             7
                   Other          5.000            44
                                  NaN               4
                   Sedans         5.000           857
                                  NaN              43
                   Station wagon  5.000          1552
                                  NaN              59
                                  4.000             2
                                  2.000             1
                   Van            5.000             1
Renault  Clio      Compact        5.000           406
                                  NaN              70
                                  2.000             8
                   Coupe          5.000             1
                   Off-Road       5.000             2
                   Other          5.000            43
                                  NaN               4
                                  2.000             4
                   Sedans         5.000           760
                                  NaN              99
                                  2.000            71
                                  4.000             3
                   Station wagon  5.000           307
                                  NaN              28
                                  4.000             2
                   Transporter    2.000            26
                                  NaN               3
                   Van            2.000             1
                                  5.000             1
         Duster    Off-Road       5.000            34
         Espace    Compact        5.000             3
                                  7.000             2
                                  NaN               1
                   Coupe          NaN               2
                   Off-Road       5.000             5
                                  7.000             3
                   Other          5.000             4
                                  7.000             3
                                  NaN               1
                   Sedans         5.000            11
                                  NaN               6
                                  7.000             4
                   Station wagon  5.000            66
                                  7.000            19
                                  NaN               5
                                  6.000             1
                   Transporter    5.000            35
                                  7.000            16
                                  NaN               1
                   Van            5.000           383
                                  7.000           315
                                  NaN             104
                                  4.000             1
Name: nr_of_seats, dtype: int64

In [110]:
df.groupby(["make", "model", "body_type"])["nr_of_seats"].apply(lambda x: x.fillna(x.mode()[0] if any(x.mode()) else df["nr_of_seats"].mode()[0]))

0       5.000
1       4.000
2       4.000
3       4.000
4       5.000
         ...
15914   5.000
15915   5.000
15916   7.000
15917   7.000
15918   5.000
Name: nr_of_seats, Length: 15919, dtype: float64

In [111]:
df.nr_of_seats = df.groupby(["make", "model", "body_type"])["nr_of_seats"].apply(lambda x: x.fillna(x.mode()[0] if any(x.mode()) else df["nr_of_seats"].mode()[0]))

In [112]:
df.nr_of_seats.isnull().sum()

0

## 15.cylinders

In [113]:
check_df("cylinders")

column name :  cylinders
--------------------------------
Per_of_Nulls   :  % 35.68
Num_of_Nulls   :  5680
4.000    8105
NaN      5680
3.000    2104
5.000      22
6.000       3
8.000       2
2.000       2
1.000       1
Name: cylinders, dtype: int64
******************************

In [114]:
df.columns

Index(['body_type', 'price_€', 'vat', 'km', 'hp_kW', 'type', 'previous_owners',
       'warranty', 'make', 'model', 'body_color', 'paint_type', 'upholstery',
       'nr_of_doors', 'nr_of_seats', 'gearing_type', 'engine_displacement_cc',
       'cylinders', 'weight_kg', 'drive_chain', 'fuel', 'co2e_g',
       'emission_class', 'comfort&convenience', 'entertainment&media',
       'extras', 'safety&security', 'gears', 'country_version',
       'consumption_comb', 'consumption_city', 'consumption_country', 'age'],
      dtype='object')

In [115]:
df.groupby(["make", "model", "hp_kW"])["cylinders"].value_counts(dropna=False).head(60)

make  model  hp_kW    cylinders
Audi  A1     60.000   3.000        108
                      NaN           46
                      4.000          2
             66.000   3.000        299
                      NaN          161
                      4.000          5
             67.000   NaN            9
                      3.000          3
             70.000   3.000        526
                      NaN          258
                      4.000          8
                      8.000          1
             71.000   3.000         35
                      NaN           21
             85.000   3.000        387
                      NaN          276
                      4.000        227
             86.000   NaN            1
             87.000   4.000          3
                      NaN            1
             92.000   4.000        104
                      NaN           68
             93.000   NaN            2
                      4.000          1
             110.000  4.000         25
                      NaN            5
             112.000  NaN            1
             140.000  4.000          1
             141.000  4.000         12
                      NaN            4
             147.000  4.000          8
                      NaN            6
      A2     85.000   NaN            1
      A3     9.000    NaN            1
             81.000   4.000        582
                      NaN          203
             82.000   4.000         10
                      NaN            5
             85.000   4.000        921
                      3.000        367
                      NaN          341
                      5.000          1
             86.000   NaN            1
             87.000   NaN            3
                      4.000          3
             92.000   4.000         54
                      NaN           39
             96.000   4.000          8
                      3.000          1
             100.000  4.000          1
             110.000  4.000        295
                      NaN          203
                      3.000          5
             112.000  NaN            1
             132.000  4.000          1
             133.000  4.000          1
             135.000  4.000         20
                      NaN            4
             137.000  NaN            1
             140.000  4.000          1
Name: cylinders, dtype: int64

In [116]:
df.groupby(["make", "model", "hp_kW"])["cylinders"].apply(lambda x: x.fillna(x.mode()[0] if any(x.mode()) else df["cylinders"].mode()[0])).value_counts(dropna=False)

4.000    12559
3.000     3325
5.000       22
8.000        7
6.000        3
2.000        2
1.000        1
Name: cylinders, dtype: int64

In [117]:
df.groupby(["make", "model", "hp_kW"])["cylinders"].apply(lambda x: x.fillna(x.mode()[0] if any(x.mode()) else df["cylinders"].mode()[0])).isnull().sum()

0

In [118]:
df["cylinders"] = df.groupby(["make", "model", "hp_kW"])["cylinders"].apply(lambda x: x.fillna(x.mode()[0] if any(x.mode()) else df["cylinders"].mode()[0]))

In [119]:
df.cylinders.isnull().sum()

0

In [120]:
df.hp_kW.isnull().sum()

0

## 16.engine_displacement_cc

In [121]:
check_df("engine_displacement_cc")

column name :  engine_displacement_cc
--------------------------------
Per_of_Nulls   :  % 3.12
Num_of_Nulls   :  496
1598.000     4761
999.000      2438
1398.000     1314
1399.000      749
1229.000      677
1956.000      670
1461.000      595
1490.000      559
NaN           496
1422.000      467
1197.000      353
898.000       351
1395.000      320
1968.000      301
1149.000      288
1618.000      212
1798.000      210
1498.000      196
1600.000      130
1248.000      110
1997.000      103
1364.000      102
1400.000       90
998.000        72
1500.000       50
2000.000       46
1000.000       40
1.000          36
1998.000       25
2480.000       20
1200.000       18
1984.000       18
1397.000       11
899.000        11
160.000         6
929.000         5
1499.000        5
997.000         4
1596.000        4
139.000         4
900.000         4
1599.000        3
1199.000        3
1396.000        3
1495.000        2
1589.000        2
1300.000        2
2.000           2
995.000         2
1496.000        1
890.000         1
1580.000        1
1995.000        1
1333.000        1
54.000          1
1533.000        1
1100.000        1
1350.000        1
16000.000       1
1856.000        1
1568.000        1
1896.000        1
1584.000        1
996.000         1
1696.000        1
1686.000        1
15898.000       1
1368.000        1
140.000         1
973.000         1
1239.000        1
1369.000        1
1390.000        1
122.000         1
1198.000        1
1195.000        1
2967.000        1
1800.000        1
Name: engine_displacement_cc, dtype: int64
******************************

In [122]:
df.groupby(["make","model","cylinders", "hp_kW"])["engine_displacement_cc"].value_counts(dropna=False).head(60)

make  model  cylinders  hp_kW    engine_displacement_cc
Audi  A1     3.000      60.000   999.000                   148
                                 929.000                     4
                                 NaN                         2
                        66.000   1422.000                  453
                                 NaN                         5
                                 1596.000                    1
                                 1598.000                    1
                        67.000   1422.000                   12
                        70.000   999.000                   767
                                 NaN                         8
                                 1000.000                    5
                                 998.000                     2
                                 929.000                     1
                                 1197.000                    1
                        71.000   999.000                    53
                                 NaN                         3
                        85.000   999.000                   572
                                 1598.000                   73
                                 1000.000                    8
                                 NaN                         6
                                 995.000                     2
                                 1596.000                    1
                                 1600.000                    1
             4.000      60.000   999.000                     2
                        66.000   1598.000                    3
                                 1422.000                    2
                        70.000   999.000                     7
                                 1000.000                    1
                        85.000   1598.000                  222
                                 NaN                         3
                                 999.000                     1
                                 1600.000                    1
                        86.000   1598.000                    1
                        87.000   1598.000                    4
                        92.000   1395.000                  169
                                 999.000                     2
                                 NaN                         1
                        93.000   1395.000                    3
                        110.000  1498.000                   16
                                 1395.000                   14
                        112.000  1395.000                    1
                        140.000  NaN                         1
                        141.000  1798.000                   16
                        147.000  1984.000                   14
             8.000      70.000   999.000                     1
      A2     4.000      85.000   1598.000                    1
      A3     3.000      85.000   999.000                   361
                                 1000.000                    3
                                 NaN                         1
                                 997.000                     1
                                 1598.000                    1
                        96.000   999.000                     1
                        110.000  999.000                     3
                                 1499.000                    2
             4.000      9.000    NaN                         1
                        81.000   1598.000                  691
                                 1197.000                   35
                                 NaN                        29
                                 1395.000                   23
                                 1600.000                    5
Name: engine_displacement_cc, dtype: int64

In [123]:
df.groupby(["make","model", "cylinders", "hp_kW"])["engine_displacement_cc"].apply(lambda x : x.fillna(x.mode()[0] if any(x.mode()) else df.engine_displacement_cc.mode()[0])).isnull().sum()

0

In [124]:
df["engine_displacement_cc"] = df.groupby(["make","model", "cylinders", "hp_kW"])["engine_displacement_cc"].apply(lambda x : x.fillna(x.mode()[0] if any(x.mode()) else df.engine_displacement_cc.mode()[0]))

In [125]:
df.engine_displacement_cc.value_counts(dropna=False)

1598.000     4991
999.000      2463
1398.000     1348
1399.000      765
1229.000      708
1956.000      693
1461.000      642
1490.000      579
1422.000      472
898.000       387
1197.000      355
1395.000      325
1968.000      304
1149.000      290
1618.000      215
1798.000      214
1498.000      196
1600.000      130
1248.000      117
1364.000      104
1997.000      103
1400.000       90
998.000        72
1500.000       50
2000.000       46
1000.000       40
1.000          36
1998.000       26
2480.000       20
1200.000       18
1984.000       18
1397.000       11
899.000        11
160.000         6
929.000         5
1499.000        5
1596.000        4
139.000         4
900.000         4
997.000         4
1199.000        3
1599.000        3
1396.000        3
1495.000        2
1589.000        2
1300.000        2
2.000           2
995.000         2
1496.000        1
890.000         1
1580.000        1
1995.000        1
1333.000        1
54.000          1
1533.000        1
1100.000        1
1350.000        1
16000.000       1
1856.000        1
1568.000        1
1896.000        1
1584.000        1
996.000         1
1696.000        1
1686.000        1
15898.000       1
1368.000        1
140.000         1
973.000         1
1239.000        1
1369.000        1
1390.000        1
122.000         1
1198.000        1
1195.000        1
2967.000        1
1800.000        1
Name: engine_displacement_cc, dtype: int64

In [126]:
df.engine_displacement_cc.isnull().sum()

0

## 17.weight_kg

In [127]:
check_df("weight_kg")

column name :  weight_kg
--------------------------------
Per_of_Nulls   :  % 43.81
Num_of_Nulls   :  6974
NaN         6974
1163.000     574
1360.000     356
1165.000     301
1335.000     242
            ...
1960.000       1
1258.000       1
1167.000       1
1331.000       1
2037.000       1
Name: weight_kg, Length: 435, dtype: int64
******************************

In [128]:
df.weight_kg.mean()

1351.1065399664617

In [129]:
df.weight_kg.median()

1288.0

In [130]:
df.weight_kg.value_counts().tail(60)

1206.000    1
1181.000    1
1645.000    1
1420.000    1
1905.000    1
1171.000    1
1169.000    1
1870.000    1
1374.000    1
1555.000    1
1207.000    1
1575.000    1
1885.000    1
1505.000    1
1332.000    1
1281.000    1
1785.000    1
1396.000    1
1312.000    1
1444.000    1
1548.000    1
1668.000    1
1428.000    1
2110.000    1
2275.000    1
1713.000    1
1589.000    1
2270.000    1
2240.000    1
2355.000    1
1492.000    1
1598.000    1
2080.000    1
1649.000    1
1217.000    1
1764.000    1
2115.000    1
1507.000    1
2295.000    1
1974.000    1
1394.000    1
1601.000    1
1382.000    1
1383.000    1
1343.000    1
1294.000    1
1302.000    1
1283.000    1
1159.000    1
840.000     1
1137.000    1
1213.000    1
1960.000    1
1258.000    1
1167.000    1
1331.000    1
1132.000    1
1252.000    1
1792.000    1
2037.000    1
Name: weight_kg, dtype: int64

In [131]:
df.weight_kg.sort_values(ascending=True)

8355      1.000
12779     1.000
1143    102.000
8857    840.000
14313   900.000
          ...
15906       NaN
15908       NaN
15910       NaN
15913       NaN
15916       NaN
Name: weight_kg, Length: 15919, dtype: float64

In [132]:
df.groupby(["make", "model", "body_type"])["weight_kg"].value_counts(dropna=False).head(60)

make  model  body_type  weight_kg
Audi  A1     Compact    NaN          526
                        1180.000      86
                        1165.000      77
                        1200.000      65
                        1135.000      53
                        1195.000      40
                        1065.000      36
                        1110.000      22
                        1250.000      17
                        1105.000      12
                        1090.000       9
                        1215.000       9
                        1240.000       7
                        1035.000       6
                        1134.000       6
                        1155.000       5
                        1205.000       5
                        1275.000       5
                        1485.000       5
                        1225.000       4
                        1600.000       4
                        1115.000       3
                        1133.000       3
                        1230.000       3
                        1285.000       3
                        1335.000       3
                        1345.000       3
                        1010.000       2
                        1040.000       2
                        1100.000       2
                        1220.000       2
                        1235.000       2
                        102.000        1
                        1125.000       1
                        1138.000       1
                        1140.000       1
                        1147.000       1
                        1150.000       1
                        1280.000       1
                        1500.000       1
                        1580.000       1
                        1625.000       1
                        1675.000       1
                        1792.000       1
             Coupe      NaN            1
                        1010.000       1
             Other      NaN            9
                        1165.000       1
                        1205.000       1
                        1230.000       1
                        1250.000       1
             Sedans     NaN          613
                        1135.000     106
                        1165.000      89
                        1250.000      58
                        1110.000      53
                        1180.000      51
                        1275.000      51
                        1230.000      50
                        1195.000      45
Name: weight_kg, dtype: int64

In [133]:
df.groupby(["make", "model", "body_type"])["weight_kg"].mean()

make     model     body_type
Audi     A1        Compact         1174.546
                   Coupe           1010.000
                   Other           1212.500
                   Sedans          1259.656
                   Station wagon   1228.571
                   Van                  NaN
         A2        Off-Road             NaN
         A3        Compact         1314.637
                   Convertible     1519.286
                   Coupe           1260.000
                   Other           1318.333
                   Sedans          1395.620
                   Station wagon   1318.363
Opel     Astra     Compact         1302.549
                   Coupe           1350.000
                   Off-Road        1340.000
                   Other           1325.407
                   Sedans          1328.364
                   Station wagon   1403.742
         Corsa     Compact         1174.057
                   Coupe           1203.000
                   Off-Road        1187.667
                   Other           1169.253
                   Sedans          1171.566
                   Transporter     1181.000
                   Van             1124.000
         Insignia  Compact         1468.150
                   Coupe                NaN
                   Off-Road        1508.000
                   Other           1524.385
                   Sedans          1540.356
                   Station wagon   1627.555
                   Van                  NaN
Renault  Clio      Compact         1126.194
                   Coupe                NaN
                   Off-Road        1163.500
                   Other           1169.750
                   Sedans          1174.216
                   Station wagon   1190.965
                   Transporter     1169.875
                   Van                  NaN
         Duster    Off-Road             NaN
         Espace    Compact         1690.500
                   Coupe                NaN
                   Off-Road        1734.000
                   Other           1734.200
                   Sedans          1864.500
                   Station wagon   1689.205
                   Transporter     1948.939
                   Van             1711.070
Name: weight_kg, dtype: float64

In [134]:
df.groupby(["make", "model", "body_type"])["weight_kg"].median()

make     model     body_type
Audi     A1        Compact         1180.000
                   Coupe           1010.000
                   Other           1217.500
                   Sedans          1195.000
                   Station wagon   1205.000
                   Van                  NaN
         A2        Off-Road             NaN
         A3        Compact         1280.000
                   Convertible     1555.000
                   Coupe           1250.000
                   Other           1355.000
                   Sedans          1350.000
                   Station wagon   1335.000
Opel     Astra     Compact         1325.000
                   Coupe           1350.000
                   Off-Road        1340.000
                   Other           1350.000
                   Sedans          1308.000
                   Station wagon   1393.000
         Corsa     Compact         1163.000
                   Coupe           1159.500
                   Off-Road        1163.000
                   Other           1163.000
                   Sedans          1163.000
                   Transporter     1181.000
                   Van             1124.000
         Insignia  Compact         1487.500
                   Coupe                NaN
                   Off-Road        1487.000
                   Other           1503.000
                   Sedans          1503.000
                   Station wagon   1623.000
                   Van                  NaN
Renault  Clio      Compact         1090.000
                   Coupe                NaN
                   Off-Road        1163.500
                   Other           1091.000
                   Sedans          1162.000
                   Station wagon   1175.000
                   Transporter     1181.500
                   Van                  NaN
         Duster    Off-Road             NaN
         Espace    Compact         1690.500
                   Coupe                NaN
                   Off-Road        1734.000
                   Other           1734.000
                   Sedans          1864.500
                   Station wagon   1684.000
                   Transporter     1734.000
                   Van             1685.000
Name: weight_kg, dtype: float64

In [135]:
df.groupby(["make", "model", "body_type"])["weight_kg"].apply(lambda x : x.fillna(x.median() if (x.median() >= 1) else df["weight_kg"].median()))

0       1220.000
1       1255.000
2       1195.000
3       1195.000
4       1195.000
          ...
15914   1758.000
15915   1708.000
15916   1685.000
15917   1758.000
15918   1685.000
Name: weight_kg, Length: 15919, dtype: float64

In [136]:
df["weight_kg"] = df.groupby(["make", "model", "body_type"])["weight_kg"].apply(lambda x : x.fillna(x.median() if (x.median() >= 1) else df["weight_kg"].median()))

In [137]:
df["weight_kg"].isnull().sum()

0

## 18.drive_chain

In [138]:
check_df("drive_chain")

column name :  drive_chain
--------------------------------
Per_of_Nulls   :  % 43.08
Num_of_Nulls   :  6858
front    8886
NaN      6858
4WD       171
rear        4
Name: drive_chain, dtype: int64
******************************

In [139]:
df.groupby(["make", "model", "body_type"])["drive_chain"].value_counts(dropna=False).head(60)

make  model     body_type      drive_chain
Audi  A1        Compact        front           685
                               NaN             352
                               4WD               2
                Coupe          NaN               2
                Other          front            12
                               NaN               1
                Sedans         front           977
                               NaN             560
                               4WD               1
                Station wagon  front            18
                               NaN               3
                Van            front             1
      A2        Off-Road       front             1
      A3        Compact        front           156
                               NaN              25
                               4WD               1
                Convertible    NaN               4
                               front             3
                               4WD               1
                Coupe          front             3
                               NaN               1
                Other          front            10
                               NaN               6
                Sedans         front          1703
                               NaN             885
                               4WD              17
                Station wagon  NaN             149
                               front           133
Opel  Astra     Compact        front           104
                               NaN              81
                Coupe          NaN               2
                Off-Road       front             1
                Other          NaN              62
                               front             5
                Sedans         front           544
                               NaN             507
                               4WD               2
                Station wagon  front           692
                               NaN             526
      Corsa     Compact        front           631
                               NaN             601
                Coupe          front             7
                               NaN               6
                Off-Road       NaN               3
                Other          NaN              77
                               front            10
                Sedans         front           516
                               NaN             359
                Transporter    front             6
                               NaN               1
                Van            NaN               2
      Insignia  Compact        NaN              17
                               front            10
                Coupe          NaN               1
                Off-Road       4WD               5
                               NaN               1
                               front             1
                Other          NaN              47
                               front             1
                Sedans         front           505
Name: drive_chain, dtype: int64

In [140]:
df.groupby(["make", "model", "body_type"])["drive_chain"].apply(lambda x : x.fillna(x.mode()[0] if any(x.mode()) else df["drive_chain"].mode()[0])).isnull().sum()

0

In [141]:
df["drive_chain"] = df.groupby(["make", "model", "body_type"])["drive_chain"].apply(lambda x : x.fillna(x.mode()[0] if any(x.mode()) else df["drive_chain"].mode()[0]))

In [142]:
df["drive_chain"].isnull().sum()

0

## 19.co2e_g

In [143]:
check_df("co2e_g")

column name :  co2e_g
--------------------------------
Per_of_Nulls   :  % 15.34
Num_of_Nulls   :  2442
NaN          2442
120.000       740
99.000        545
97.000        537
104.000       501
102.000       477
103.000       445
114.000       382
124.000       372
107.000       362
108.000       362
119.000       361
106.000       349
128.000       329
126.000       282
85.000        275
118.000       270
110.000       266
127.000       257
117.000       254
111.000       237
113.000       235
109.000       234
139.000       224
140.000       218
129.000       213
135.000       202
105.000       202
92.000        198
130.000       180
123.000       178
150.000       174
143.000       171
112.000       171
95.000        161
116.000       157
141.000       156
98.000        151
133.000       145
136.000       145
137.000       133
125.000       132
134.000       130
145.000       126
149.000       117
153.000       113
147.000       109
101.000       105
132.000       100
115.000        86
122.000        83
121.000        82
138.000        75
93.000         66
168.000        58
142.000        58
131.000        48
148.000        48
144.000        40
154.000        40
94.000         37
146.000        36
100.000        36
90.000         35
151.000        34
91.000         31
186.000        30
152.000        28
187.000        26
82.000         25
172.000        25
96.000         22
189.000        19
89.000         19
157.000        18
158.000        17
88.000         15
169.000        15
156.000        14
164.000        13
170.000        10
161.000        10
175.000         8
155.000         8
166.000         8
188.000         7
159.000         7
174.000         6
87.000          6
197.000         4
194.000         3
36.000          3
12087.000       3
199.000         2
84.000          2
162.000         2
167.000         2
191.000         2
177.000         1
180.000         1
181.000         1
45.000          1
14457.000       1
171.000         1
13983.000       1
183.000         1
80.000          1
184.000         1
239.000         1
190.000         1
253.000         1
51.000          1
165.000         1
12324.000       1
14.000          1
160.000         1
331.000         1
990.000         1
1060.000        1
193.000         1
Name: co2e_g, dtype: int64
******************************

In [144]:
df.co2e_g.value_counts(dropna=False)

NaN          2442
120.000       740
99.000        545
97.000        537
104.000       501
102.000       477
103.000       445
114.000       382
124.000       372
107.000       362
108.000       362
119.000       361
106.000       349
128.000       329
126.000       282
85.000        275
118.000       270
110.000       266
127.000       257
117.000       254
111.000       237
113.000       235
109.000       234
139.000       224
140.000       218
129.000       213
135.000       202
105.000       202
92.000        198
130.000       180
123.000       178
150.000       174
143.000       171
112.000       171
95.000        161
116.000       157
141.000       156
98.000        151
133.000       145
136.000       145
137.000       133
125.000       132
134.000       130
145.000       126
149.000       117
153.000       113
147.000       109
101.000       105
132.000       100
115.000        86
122.000        83
121.000        82
138.000        75
93.000         66
168.000        58
142.000        58
131.000        48
148.000        48
144.000        40
154.000        40
94.000         37
146.000        36
100.000        36
90.000         35
151.000        34
91.000         31
186.000        30
152.000        28
187.000        26
82.000         25
172.000        25
96.000         22
189.000        19
89.000         19
157.000        18
158.000        17
88.000         15
169.000        15
156.000        14
164.000        13
170.000        10
161.000        10
175.000         8
155.000         8
166.000         8
188.000         7
159.000         7
174.000         6
87.000          6
197.000         4
194.000         3
36.000          3
12087.000       3
199.000         2
84.000          2
162.000         2
167.000         2
191.000         2
177.000         1
180.000         1
181.000         1
45.000          1
14457.000       1
171.000         1
13983.000       1
183.000         1
80.000          1
184.000         1
239.000         1
190.000         1
253.000         1
51.000          1
165.000         1
12324.000       1
14.000          1
160.000         1
331.000         1
990.000         1
1060.000        1
193.000         1
Name: co2e_g, dtype: int64

In [145]:
df.co2e_g.sort_values(ascending=True)

8110    14.000
3617    36.000
3612    36.000
3615    36.000
12547   45.000
         ...
15883      NaN
15903      NaN
15906      NaN
15908      NaN
15909      NaN
Name: co2e_g, Length: 15919, dtype: float64

In [146]:
df.groupby(["make", "model", "fuel"])["co2e_g"].value_counts(dropna=False).head(60)

make  model  fuel     co2e_g
Audi  A1     Benzine  97.000       287
                      NaN          238
                      102.000      229
                      108.000      195
                      111.000      181
                      104.000      157
                      110.000      110
                      112.000       69
                      98.000        64
                      103.000       37
                      116.000       31
                      106.000       29
                      105.000       27
                      120.000       27
                      123.000       21
                      115.000       16
                      109.000       12
                      114.000       12
                      129.000       12
                      117.000       11
                      107.000        8
                      136.000        8
                      113.000        7
                      118.000        7
                      121.000        6
                      128.000        5
                      99.000         4
                      100.000        3
                      134.000        3
                      137.000        3
                      127.000        2
                      142.000        2
                      119.000        1
                      122.000        1
                      126.000        1
                      138.000        1
                      331.000        1
             Diesel   97.000       145
                      102.000      122
                      99.000       116
                      NaN           72
                      104.000       58
                      92.000        43
                      109.000       43
                      105.000       42
                      98.000        36
                      106.000       27
                      91.000        20
                      94.000        17
                      107.000       17
                      101.000        5
                      89.000         4
                      90.000         4
                      100.000        4
                      103.000        4
                      108.000        3
                      95.000         2
                      110.000        2
      A2     Diesel   NaN            1
      A3     Benzine  117.000      176
Name: co2e_g, dtype: int64

In [147]:
df.groupby(["make", "model", "fuel"])["co2e_g"].mean()

make     model     fuel
Audi     A1        Benzine    106.337
                   Diesel     100.101
         A2        Diesel         NaN
         A3        Benzine    116.421
                   Diesel     106.831
                   Electric    36.000
                   LPG/CNG     97.000
Opel     Astra     Benzine    154.590
                   Diesel     105.849
                   LPG/CNG    113.000
         Corsa     Benzine    136.407
                   Diesel      99.456
                   LPG/CNG    117.667
         Insignia  Benzine    176.918
                   Diesel     132.546
Renault  Clio      Benzine    122.653
                   Diesel      89.530
                   Electric       NaN
                   LPG/CNG     98.000
         Duster    Benzine    177.000
         Espace    Benzine    155.903
                   Diesel     124.425
Name: co2e_g, dtype: float64

In [148]:
df.groupby(["make", "model", "fuel"])["co2e_g"].median()

make     model     fuel
Audi     A1        Benzine    105.000
                   Diesel      99.000
         A2        Diesel         NaN
         A3        Benzine    117.000
                   Diesel     105.000
                   Electric    36.000
                   LPG/CNG     94.000
Opel     Astra     Benzine    125.000
                   Diesel     101.000
                   LPG/CNG    113.000
         Corsa     Benzine    128.000
                   Diesel     101.000
                   LPG/CNG    113.000
         Insignia  Benzine    139.000
                   Diesel     135.000
Renault  Clio      Benzine    120.000
                   Diesel      85.000
                   Electric       NaN
                   LPG/CNG     98.000
         Duster    Benzine    186.000
         Espace    Benzine    153.000
                   Diesel     120.000
Name: co2e_g, dtype: float64

In [149]:
df.co2e_g.mean()

123.79357423758997

In [150]:
df.co2e_g.median()

116.0

In [151]:
df.groupby(["make", "model", "fuel"])["co2e_g"].apply(lambda x : x.fillna(x.median() if (x.median() > 13) else df["co2e_g"].median())).value_counts(dropna=False)

120.000      1081
105.000       656
99.000        617
135.000       594
97.000        537
128.000       535
104.000       501
102.000       477
85.000        459
103.000       445
114.000       382
117.000       380
101.000       373
124.000       372
125.000       366
108.000       362
107.000       362
119.000       361
106.000       349
139.000       334
126.000       282
118.000       270
110.000       266
127.000       257
111.000       237
113.000       237
109.000       234
140.000       218
129.000       213
92.000        198
130.000       180
123.000       178
150.000       174
112.000       171
143.000       171
95.000        161
116.000       159
98.000        156
141.000       156
153.000       150
133.000       145
136.000       145
137.000       133
134.000       130
145.000       126
149.000       117
147.000       109
132.000       100
115.000        86
122.000        83
121.000        82
138.000        75
93.000         66
168.000        58
142.000        58
131.000        48
148.000        48
94.000         43
144.000        40
154.000        40
146.000        36
100.000        36
90.000         35
151.000        34
186.000        32
91.000         31
152.000        28
187.000        26
82.000         25
172.000        25
96.000         22
89.000         19
189.000        19
157.000        18
158.000        17
88.000         15
169.000        15
156.000        14
164.000        13
170.000        10
161.000        10
175.000         8
166.000         8
155.000         8
159.000         7
188.000         7
87.000          6
174.000         6
36.000          4
197.000         4
12087.000       3
194.000         3
84.000          2
199.000         2
191.000         2
162.000         2
167.000         2
183.000         1
171.000         1
45.000          1
180.000         1
177.000         1
331.000         1
181.000         1
13983.000       1
14457.000       1
165.000         1
184.000         1
1060.000        1
239.000         1
990.000         1
190.000         1
160.000         1
253.000         1
80.000          1
14.000          1
12324.000       1
51.000          1
193.000         1
Name: co2e_g, dtype: int64

In [152]:
df["co2e_g"] = df.groupby(["make", "model", "fuel"])["co2e_g"].apply(lambda x : x.fillna(x.median() if (x.median() > 13) else df["co2e_g"].median()))

In [153]:
df.co2e_g.isnull().sum()

0

## 20.emission_class

In [154]:
check_df("emission_class")

column name :  emission_class
--------------------------------
Per_of_Nulls   :  % 22.79
Num_of_Nulls   :  3628
Euro 6          10139
NaN              3628
Euro 6d-TEMP     1845
Euro 6c           127
Euro 5             78
Euro 6d            62
Euro 4             40
Name: emission_class, dtype: int64
******************************

In [155]:
df.groupby(["make", "model", "fuel", "age"])["emission_class"].value_counts(dropna=False).head(100)

make  model  fuel      age    emission_class
Audi  A1     Benzine   0.000  NaN               266
                              Euro 6            266
                              Euro 6d-TEMP      264
                              Euro 6d             5
                       1.000  Euro 6            323
                              NaN                98
                              Euro 6d-TEMP       11
                              Euro 5              3
                       2.000  Euro 6            213
                              NaN                59
                              Euro 5              1
                       3.000  Euro 6            257
                              NaN                58
                              Euro 6d-TEMP        3
                              Euro 4              1
             Diesel    0.000  Euro 6              3
                       1.000  Euro 6            295
                              NaN                14
                              Euro 5              1
                       2.000  Euro 6            133
                              NaN                30
                       3.000  Euro 6            269
                              NaN                35
                              Euro 5              4
                              Euro 6c             2
      A2     Diesel    1.000  Euro 6              1
      A3     Benzine   0.000  Euro 6d-TEMP      222
                              Euro 6            176
                              NaN               104
                       1.000  Euro 6            107
                              NaN                33
                              Euro 6d-TEMP       12
                       2.000  Euro 6            125
                              NaN                17
                       3.000  Euro 6             99
                              NaN                42
                              Euro 5              1
             Diesel    0.000  NaN               114
                              Euro 6            113
                              Euro 6d-TEMP       86
                              Euro 6d             2
                              Euro 6c             1
                       1.000  Euro 6            583
                              NaN                31
                              Euro 6d-TEMP        6
                              Euro 5              1
                              Euro 6d             1
                       2.000  Euro 6            461
                              NaN                65
                              Euro 6d             1
                       3.000  Euro 6            579
                              NaN                68
                              Euro 5              5
                              Euro 6c             2
             Electric  1.000  Euro 6              3
                       3.000  Euro 6              1
             LPG/CNG   0.000  Euro 6d-TEMP        4
                              Euro 6              3
                              NaN                 2
                       2.000  Euro 6              6
                       3.000  Euro 6             16
                              NaN                 5
Opel  Astra  Benzine   0.000  NaN               226
                              Euro 6d-TEMP      221
                              Euro 6            128
                              Euro 6d             6
                              Euro 6c             2
                              Euro 5              1
                       1.000  Euro 6            343
                              NaN               122
                              Euro 6d-TEMP       12
                              Euro 5              2
                              Euro 6c             2
                              Euro 6d             1
                       2.000  Euro 6            162
                              NaN                44
                              Euro 5              1
                              Euro 6d-TEMP        1
                       3.000  Euro 6             75
                              NaN                34
                              Euro 5              2
             Diesel    0.000  NaN                44
                              Euro 6d-TEMP       38
                              Euro 6             24
                       1.000  Euro 6            179
                              NaN                45
                              Euro 6d-TEMP       13
                              Euro 6c             8
                       2.000  Euro 6            319
                              NaN                42
                              Euro 6d-TEMP       13
                              Euro 5              6
                       3.000  Euro 6            306
                              NaN                84
                              Euro 6d-TEMP       15
                              Euro 5              2
                              Euro 6c             1
             LPG/CNG   0.000  Euro 6              1
                       2.000  NaN                 1
      Corsa  Benzine   0.000  Euro 6d-TEMP      356
Name: emission_class, dtype: int64

In [156]:
df.emission_class.value_counts(dropna=False)

Euro 6          10139
NaN              3628
Euro 6d-TEMP     1845
Euro 6c           127
Euro 5             78
Euro 6d            62
Euro 4             40
Name: emission_class, dtype: int64

In [157]:
df.groupby(["make", "model", "fuel", "age"])["emission_class"].apply(lambda x: x.fillna(x.mode()[0] if any (x.mode()) else df["emission_class"].mode()[0])).value_counts(dropna=False)

Euro 6          13006
Euro 6d-TEMP     2604
Euro 6c           127
Euro 5             78
Euro 6d            62
Euro 4             42
Name: emission_class, dtype: int64

In [158]:
df.groupby(["make", "model", "fuel", "age"])["emission_class"].fillna(method="bfill").fillna(method="ffill").value_counts(dropna=False)

Euro 6          12919
Euro 6d-TEMP     2582
Euro 6c           183
Euro 5             95
Euro 6d            95
Euro 4             45
Name: emission_class, dtype: int64

In [159]:
df[df.emission_class.isnull()].age.value_counts()

0.000    1348
1.000     877
3.000     739
2.000     664
Name: age, dtype: int64

In [160]:
df["emission_class"] = df.groupby(["make", "model", "fuel", "age"])["emission_class"].fillna(method="bfill").fillna(method="ffill")

In [161]:
df["emission_class"].isnull().sum()

0

## 21.comfort&convenience

In [162]:
check_df("comfort&convenience")

column name :  comfort&convenience
--------------------------------
Per_of_Nulls   :  % 5.78
Num_of_Nulls   :  920
NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  920
Air conditioning,Electrical side mirrors,Hill Holder,Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                   216
Air conditioning,Electrical side mirrors,Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                               134
Air conditioning,Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                                                       130
Air conditioning,Armrest,Automatic climate control,Cruise control,Electrical side mirrors,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Start-stop system                                                                                                                                                   105
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    ...
Air conditioning,Cruise control,Electrical side mirrors,Hill Holder,Leather steering wheel,Light sensor,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sensors rear,Power windows,Rain sensor,Split rear seats,Start-stop system,Tinted windows                                                                                                                                                                                                           1
Air conditioning,Armrest,Automatic climate control,Cruise control,Electrical side mirrors,Heated steering wheel,Hill Holder,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system camera,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Sunroof                                                                                                1
Air conditioning,Armrest,Cruise control,Electrical side mirrors,Heated steering wheel,Hill Holder,Leather steering wheel,Light sensor,Multi-function steering wheel,Park Distance Control,Parking assist system camera,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Split rear seats,Start-stop system,Tinted windows                                                                                                                 1
Air conditioning,Automatic climate control,Cruise control,Electrical side mirrors,Leather steering wheel,Light sensor,Multi-function steering wheel,Park Distance Control,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating                                                                                                                                                                                                                1
Air conditioning,Automatic climate control,Cruise control,Electrically heated windshield,Electrical side mirrors,Electric tailgate,Heads-up display,Heated steering wheel,Hill Holder,Keyless central door lock,Leather steering wheel,Light sensor,Lumbar support,Navigation system,Park Distance Control,Parking assist system camera,Parking assist system self-steering,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Sunroof      1
Name: comfort&convenience, Length: 6199, dtype: int64
******************************

In [163]:
get_diff_category_column(df["comfort&convenience"])

{0: 'Air conditioning',
 1: 'Air suspension',
 2: 'Armrest',
 3: 'Automatic climate control',
 4: 'Auxiliary heating',
 5: 'Cruise control',
 6: 'Electric Starter',
 7: 'Electric tailgate',
 8: 'Electrical side mirrors',
 9: 'Electrically adjustable seats',
 10: 'Electrically heated windshield',
 11: 'Heads-up display',
 12: 'Heated steering wheel',
 13: 'Hill Holder',
 14: 'Keyless central door lock',
 15: 'Leather seats',
 16: 'Leather steering wheel',
 17: 'Light sensor',
 18: 'Lumbar support',
 19: 'Massage seats',
 20: 'Multi-function steering wheel',
 21: 'Navigation system',
 22: 'Panorama roof',
 23: 'Park Distance Control',
 24: 'Parking assist system camera',
 25: 'Parking assist system self-steering',
 26: 'Parking assist system sensors front',
 27: 'Parking assist system sensors rear',
 28: 'Power windows',
 29: 'Rain sensor',
 30: 'Seat heating',
 31: 'Seat ventilation',
 32: 'Split rear seats',
 33: 'Start-stop system',
 34: 'Sunroof',
 35: 'Tinted windows',
 36: 'Wind deflector',
 37: 'Windshield'}

In [164]:
df.groupby(["make", "model", "body_type", "age"])["comfort&convenience"].value_counts(dropna=False)

make     model   body_type  age    comfort&convenience
Audi     A1      Compact    0.000  NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                             26
                                   Air conditioning,Armrest,Automatic climate control,Electrical side mirrors,Hill Holder,Leather steering wheel,Light sensor,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Start-stop system                                                                                                                                                                                    24
                                   Air conditioning,Electrical side mirrors,Light sensor,Multi-function steering wheel,Park Distance Control,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Start-stop system                                                                                                                                                                                                                                                                           20
                                   Air conditioning,Armrest,Automatic climate control,Electrical side mirrors,Leather steering wheel,Light sensor,Multi-function steering wheel,Park Distance Control,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Start-stop system                                                                                                                                                                                                                  19
                                   Air conditioning,Armrest,Automatic climate control,Cruise control,Electrical side mirrors,Hill Holder,Leather steering wheel,Light sensor,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Start-stop system                                                                                                                                 16
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   ..
Renault  Espace  Van        3.000  Cruise control,Electrically adjustable seats,Electrically heated windshield,Electrical side mirrors,Electric tailgate,Heads-up display,Hill Holder,Keyless central door lock,Leather steering wheel,Light sensor,Lumbar support,Massage seats,Navigation system,Park Distance Control,Parking assist system camera,Parking assist system self-steering,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Sunroof     1
                                   Cruise control,Electrically adjustable seats,Leather steering wheel,Lumbar support,Massage seats,Multi-function steering wheel,Panorama roof,Parking assist system camera,Parking assist system sensors front,Parking assist system sensors rear,Start-stop system,Tinted windows                                                                                                                                                                                                1
                                   Cruise control,Navigation system,Park Distance Control                                                                                                                                                                                                                                                                                                                                                                                                                           1
                                   Heads-up display                                                                                                                                                                                                                                                                                                                                                                                                                                                                 1
                                   Sunroof                                                                                                                                                                                                                                                                                                                                                                                                                                                                          1
Name: comfort&convenience, Length: 8757, dtype: int64

In [165]:
df[df["comfort&convenience"].isnull()][["make", "model", "age", "body_type"]].value_counts()

make     model     age    body_type
Audi     A3        3.000  Sedans           47
Opel     Insignia  0.000  Sedans           43
         Corsa     1.000  Other            43
         Insignia  0.000  Station wagon    38
         Astra     1.000  Other            34
         Corsa     3.000  Sedans           32
Renault  Clio      3.000  Sedans           31
Opel     Astra     1.000  Compact          31
                   0.000  Compact          27
Audi     A1        0.000  Compact          26
Opel     Insignia  2.000  Other            26
                          Sedans           25
Renault  Espace    2.000  Van              24
         Clio      2.000  Sedans           24
                          Compact          21
Opel     Corsa     1.000  Compact          20
                   2.000  Other            18
                          Compact          17
Renault  Espace    1.000  Van              15
Opel     Insignia  1.000  Station wagon    14
Audi     A1        2.000  Sedans           13
                   0.000  Sedans           13
         A3        3.000  Compact          12
Opel     Corsa     0.000  Compact          12
Renault  Clio      3.000  Compact          12
Opel     Insignia  3.000  Sedans           12
Renault  Espace    3.000  Van              12
Opel     Astra     2.000  Other            11
                   0.000  Station wagon    11
Audi     A3        2.000  Sedans           10
Opel     Corsa     0.000  Other            10
                   3.000  Compact          10
         Astra     1.000  Station wagon    10
Renault  Espace    0.000  Van               9
Audi     A3        1.000  Sedans            8
Opel     Insignia  3.000  Station wagon     8
         Astra     3.000  Station wagon     8
                   2.000  Compact           7
Audi     A1        1.000  Compact           7
         A3        2.000  Compact           6
Renault  Clio      0.000  Compact           6
Audi     A1        3.000  Sedans            6
                          Compact           6
Opel     Insignia  1.000  Sedans            6
Renault  Clio      3.000  Station wagon     6
Opel     Insignia  0.000  Other             6
Audi     A1        2.000  Compact           5
Opel     Astra     0.000  Other             5
Audi     A1        1.000  Sedans            5
Opel     Astra     3.000  Sedans            5
                          Other             5
                          Compact           5
         Insignia  2.000  Station wagon     4
         Astra     0.000  Sedans            4
Renault  Clio      0.000  Other             4
                          Sedans            4
                   1.000  Compact           4
                          Station wagon     4
Audi     A3        0.000  Compact           4
Opel     Corsa     0.000  Sedans            4
         Insignia  1.000  Other             4
                   0.000  Off-Road          4
                          Compact           4
Audi     A3        0.000  Sedans            4
Renault  Clio      1.000  Sedans            3
                   0.000  Station wagon     3
Audi     A3        1.000  Compact           3
Opel     Corsa     1.000  Sedans            3
Renault  Espace    3.000  Station wagon     3
Audi     A3        2.000  Station wagon     3
Opel     Insignia  3.000  Other             3
Renault  Espace    3.000  Transporter       2
Opel     Corsa     3.000  Other             2
Audi     A3        3.000  Other             2
Renault  Clio      2.000  Station wagon     2
Opel     Astra     2.000  Sedans            2
         Insignia  1.000  Compact           2
Renault  Espace    0.000  Compact           2
Opel     Astra     2.000  Station wagon     2
         Insignia  2.000  Compact           2
Renault  Espace    2.000  Station wagon     1
                   3.000  Compact           1
                   2.000  Transporter       1
Audi     A1        1.000  Station wagon     1
         A3        1.000  Station wagon     1
                   3.000  Station wagon     1
Renault  Clio      2.000  Van               1
Opel     Corsa     2.000  Off-Road          1
                          Sedans            1
         Astra     1.000  Sedans            1
dtype: int64

In [166]:
df.groupby(["make", "model", "age", "body_type"])["comfort&convenience"].fillna(method="pad").fillna(method="backfill").isnull().sum()

0

In [167]:
df["comfort&convenience"] = df.groupby(["make", "model", "age", "body_type"])["comfort&convenience"].fillna(method="pad").fillna(method="backfill")

In [168]:
df["comfort&convenience"].isnull().sum()

0

## 22.entertainment&media

In [169]:
check_df("entertainment&media")

column name :  entertainment&media
--------------------------------
Per_of_Nulls   :  % 8.63
Num_of_Nulls   :  1374
NaN                                                                                                 1374
Bluetooth,Hands-free equipment,On-board computer,Radio,USB                                          1282
Bluetooth,Hands-free equipment,MP3,On-board computer,Radio,USB                                       982
Bluetooth,CD player,Hands-free equipment,MP3,On-board computer,Radio,USB                             783
On-board computer,Radio                                                                              487
                                                                                                    ...
Bluetooth,CD player,Digital radio,Hands-free equipment,Radio                                           1
CD player,Hands-free equipment,MP3,Radio,USB                                                           1
MP3,Radio,Sound system,USB                                                                             1
Bluetooth,MP3,On-board computer,Radio,Television,USB                                                   1
Bluetooth,CD player,Hands-free equipment,MP3,On-board computer,Radio,Sound system,Television,USB       1
Name: entertainment&media, Length: 347, dtype: int64
******************************

In [170]:
df[df["entertainment&media"].isnull()][["make", "model", "age", "body_type"]].value_counts()

make     model     age    body_type
Renault  Clio      2.000  Sedans           57
Audi     A3        3.000  Sedans           55
Renault  Clio      3.000  Sedans           49
Opel     Insignia  0.000  Sedans           46
Renault  Espace    2.000  Van              45
Opel     Insignia  0.000  Station wagon    45
         Corsa     1.000  Other            42
                   3.000  Sedans           40
Renault  Espace    1.000  Van              36
Audi     A1        0.000  Compact          35
Renault  Espace    3.000  Van              34
Opel     Astra     1.000  Other            34
         Insignia  2.000  Sedans           33
         Astra     1.000  Compact          31
         Insignia  2.000  Other            31
         Astra     2.000  Compact          29
                   0.000  Compact          27
Renault  Clio      3.000  Compact          26
Opel     Insignia  2.000  Station wagon    26
Audi     A1        2.000  Sedans           25
Opel     Corsa     1.000  Compact          24
                   2.000  Compact          23
Renault  Clio      2.000  Compact          23
Audi     A1        1.000  Sedans           22
                   0.000  Sedans           21
Opel     Astra     1.000  Station wagon    21
Renault  Espace    0.000  Van              19
Opel     Insignia  1.000  Station wagon    19
Renault  Clio      1.000  Sedans           19
Audi     A3        2.000  Sedans           18
Opel     Astra     3.000  Station wagon    18
         Corsa     2.000  Other            17
                   0.000  Compact          17
                   3.000  Compact          17
         Astra     0.000  Station wagon    17
Renault  Clio      0.000  Sedans           16
Opel     Insignia  3.000  Sedans           14
         Corsa     0.000  Sedans           14
Audi     A1        3.000  Sedans           13
         A3        3.000  Compact          12
                   1.000  Sedans           12
Opel     Astra     2.000  Other            11
         Insignia  3.000  Station wagon    11
         Astra     2.000  Station wagon    11
         Corsa     0.000  Other            10
         Astra     0.000  Sedans           10
Audi     A1        1.000  Compact           9
Opel     Astra     3.000  Sedans            9
Audi     A1        3.000  Compact           8
         A3        0.000  Sedans            7
Opel     Corsa     2.000  Sedans            7
                   1.000  Sedans            7
Renault  Clio      3.000  Station wagon     7
Opel     Insignia  1.000  Sedans            7
Renault  Clio      0.000  Compact           7
Opel     Insignia  0.000  Other             6
Audi     A3        2.000  Compact           6
Opel     Astra     2.000  Sedans            5
                   0.000  Other             5
                   1.000  Sedans            5
Renault  Clio      1.000  Station wagon     5
Audi     A1        2.000  Compact           5
Opel     Astra     3.000  Other             5
                          Compact           5
Renault  Clio      2.000  Station wagon     5
                   0.000  Other             4
                          Station wagon     4
Audi     A3        0.000  Compact           4
Opel     Insignia  1.000  Other             4
                   0.000  Off-Road          4
                          Compact           4
Audi     A3        2.000  Station wagon     3
Renault  Espace    3.000  Station wagon     3
                          Transporter       3
Audi     A3        3.000  Other             3
                          Station wagon     3
                   1.000  Compact           3
Renault  Clio      1.000  Compact           3
Opel     Insignia  3.000  Other             3
                   2.000  Compact           3
         Corsa     3.000  Coupe             2
Renault  Espace    0.000  Compact           2
Opel     Insignia  1.000  Compact           2
Renault  Espace    1.000  Transporter       2
         Clio      1.000  Transporter       2
Opel     Corsa     3.000  Other             2
Renault  Clio      3.000  Transporter       2
         Espace    0.000  Coupe             1
Audi     A1        1.000  Station wagon     1
Renault  Espace    1.000  Coupe             1
Opel     Insignia  2.000  Coupe             1
Renault  Clio      2.000  Van               1
         Espace    2.000  Station wagon     1
                          Transporter       1
Audi     A3        1.000  Station wagon     1
Renault  Espace    3.000  Compact           1
                          Other             1
                          Sedans            1
         Clio      1.000  Other             1
Opel     Corsa     3.000  Transporter       1
                   2.000  Off-Road          1
dtype: int64

In [171]:
df["entertainment&media"] = df.groupby(["make", "model", "age", "body_type"])["entertainment&media"].fillna(method="pad").fillna(method="backfill")

In [172]:
df["entertainment&media"].value_counts(dropna=False)

Bluetooth,Hands-free equipment,On-board computer,Radio,USB                     1374
Bluetooth,Hands-free equipment,MP3,On-board computer,Radio,USB                 1029
Bluetooth,CD player,Hands-free equipment,MP3,On-board computer,Radio,USB        816
On-board computer                                                               563
On-board computer,Radio                                                         537
                                                                               ...
Bluetooth,CD player,USB                                                           1
Bluetooth,CD player,Digital radio,MP3,Radio,USB                                   1
Bluetooth,CD player,Hands-free equipment,MP3,On-board computer,Sound system       1
Bluetooth,Digital radio,On-board computer,Radio,Sound system                      1
CD player,Digital radio,Hands-free equipment,Radio,USB                            1
Name: entertainment&media, Length: 346, dtype: int64

In [173]:
df["entertainment&media"].isnull().sum()

0

## 23.extras

In [174]:
check_df("extras")

column name :  extras
--------------------------------
Per_of_Nulls   :  % 18.61
Num_of_Nulls   :  2962
Alloy wheels                                                                                               3245
NaN                                                                                                        2962
Alloy wheels,Touch screen                                                                                   697
Alloy wheels,Voice Control                                                                                  577
Alloy wheels,Touch screen,Voice Control                                                                     541
                                                                                                           ...
Alloy wheels,Catalytic Converter,Shift paddles,Sport package,Sport seats,Sport suspension,Voice Control       1
Alloy wheels,Catalytic Converter,Roof rack,Sport package,Sport seats,Trailer hitch                            1
Alloy wheels,Catalytic Converter,Ski bag,Sport package,Voice Control                                          1
Catalytic Converter,Roof rack,Sport seats,Sport suspension                                                    1
Alloy wheels,Shift paddles,Ski bag,Sport seats,Sport suspension,Touch screen,Voice Control                    1
Name: extras, Length: 660, dtype: int64
******************************

In [175]:
df[df["extras"].isnull()][["make", "model", "age", "body_type"]].value_counts()

make     model     age    body_type
Renault  Clio      2.000  Sedans           131
                   0.000  Compact          123
Opel     Corsa     0.000  Compact          123
                   3.000  Compact          119
Renault  Clio      3.000  Sedans           108
                   0.000  Sedans           107
Opel     Corsa     3.000  Sedans           101
         Astra     2.000  Sedans            86
Renault  Clio      1.000  Sedans            82
Opel     Corsa     0.000  Sedans            80
                   1.000  Compact           75
Audi     A3        3.000  Sedans            73
Opel     Corsa     2.000  Compact           71
                          Sedans            70
         Insignia  2.000  Sedans            58
Audi     A1        0.000  Compact           57
Opel     Insignia  0.000  Sedans            56
Renault  Clio      3.000  Compact           54
Audi     A1        0.000  Sedans            51
         A3        0.000  Sedans            50
Opel     Astra     3.000  Station wagon     47
Audi     A1        3.000  Sedans            47
Opel     Corsa     1.000  Other             45
Audi     A1        2.000  Sedans            44
Opel     Insignia  0.000  Station wagon     43
                   3.000  Sedans            41
         Astra     0.000  Sedans            40
         Corsa     1.000  Sedans            38
         Astra     1.000  Sedans            36
Renault  Espace    2.000  Van               35
Opel     Astra     3.000  Sedans            35
                   1.000  Other             35
Renault  Duster    0.000  Off-Road          33
Opel     Astra     1.000  Compact           32
Audi     A3        2.000  Sedans            32
         A1        1.000  Sedans            31
Renault  Clio      2.000  Compact           30
Opel     Astra     0.000  Station wagon     30
         Insignia  2.000  Station wagon     30
         Astra     0.000  Compact           29
         Insignia  2.000  Other             29
Renault  Espace    1.000  Van               26
Opel     Astra     1.000  Station wagon     25
Renault  Espace    3.000  Van               24
         Clio      1.000  Compact           22
Opel     Astra     2.000  Station wagon     21
Audi     A1        3.000  Compact           20
         A3        1.000  Sedans            20
         A1        1.000  Compact           19
Renault  Clio      0.000  Other             18
Opel     Corsa     2.000  Other             18
         Insignia  1.000  Station wagon     15
                   3.000  Station wagon     14
Audi     A1        2.000  Compact           14
Renault  Espace    0.000  Van               13
         Clio      1.000  Station wagon     12
Opel     Astra     3.000  Compact           12
Renault  Clio      3.000  Station wagon     12
Audi     A3        3.000  Compact           12
Renault  Clio      0.000  Station wagon     12
Opel     Astra     2.000  Other             11
                          Compact           10
         Corsa     0.000  Other             10
Audi     A3        2.000  Station wagon     10
Renault  Clio      2.000  Station wagon      9
Opel     Insignia  1.000  Sedans             8
Audi     A3        3.000  Station wagon      8
Opel     Astra     3.000  Other              7
Audi     A3        0.000  Station wagon      7
Renault  Espace    3.000  Transporter        6
         Clio      2.000  Other              6
Audi     A3        2.000  Compact            6
Opel     Insignia  0.000  Other              6
         Astra     0.000  Other              5
Renault  Clio      3.000  Transporter        4
Audi     A3        0.000  Compact            4
Renault  Clio      3.000  Other              4
Opel     Insignia  0.000  Off-Road           4
                          Compact            4
                   1.000  Other              4
         Corsa     2.000  Off-Road           3
Audi     A3        1.000  Compact            3
Renault  Espace    3.000  Station wagon      3
Opel     Corsa     3.000  Transporter        3
         Insignia  3.000  Other              3
Audi     A3        3.000  Other              3
Opel     Insignia  2.000  Compact            3
Renault  Espace    2.000  Transporter        2
                   0.000  Compact            2
                   2.000  Sedans             2
                          Station wagon      2
Opel     Corsa     3.000  Van                2
                   0.000  Coupe              2
                   3.000  Coupe              2
Renault  Clio      1.000  Transporter        2
                          Other              2
                   0.000  Transporter        2
Audi     A3        1.000  Station wagon      2
Opel     Insignia  3.000  Compact            2
         Corsa     3.000  Other              2
         Insignia  1.000  Compact            2
Renault  Clio      2.000  Van                1
Opel     Insignia  2.000  Coupe              1
Renault  Espace    3.000  Other              1
                          Compact            1
Audi     A1        0.000  Station wagon      1
Renault  Espace    1.000  Sedans             1
                   2.000  Other              1
Audi     A1        0.000  Van                1
Renault  Clio      2.000  Transporter        1
         Espace    1.000  Coupe              1
                   0.000  Coupe              1
Audi     A1        1.000  Station wagon      1
Renault  Clio      1.000  Van                1
Opel     Corsa     0.000  Transporter        1
dtype: int64

In [176]:
df.groupby(["make", "model", "body_type", "age"])["extras"].value_counts(dropna=False)

make     model   body_type  age    extras
Audi     A1      Compact    0.000  Alloy wheels                                                          65
                                   NaN                                                                   57
                                   Alloy wheels,Catalytic Converter,Voice Control                        54
                                   Alloy wheels,Voice Control                                            51
                                   Alloy wheels,Catalytic Converter                                      15
                                                                                                         ..
Renault  Espace  Van        3.000  Alloy wheels,Sport seats,Trailer hitch,Voice Control                   1
                                   Alloy wheels,Sport suspension,Touch screen                             1
                                   Alloy wheels,Sport suspension,Touch screen,Voice Control               1
                                   Alloy wheels,Touch screen,Trailer hitch,Voice Control,Winter tyres     1
                                   Sport seats                                                            1
Name: extras, Length: 2845, dtype: int64

In [177]:
df.groupby(["make", "model", "age", "body_type"])["extras"].fillna(method="pad").fillna(method="backfill").isnull().sum()

0

In [178]:
df["extras"] = df.groupby(["make", "model", "age", "body_type"])["extras"].fillna(method="pad").fillna(method="backfill")

In [179]:
df["extras"].isnull().sum()

0

## 24.safety&security

In [180]:
check_df("safety&security")

column name :  safety&security
--------------------------------
Per_of_Nulls   :  % 6.17
Num_of_Nulls   :  982
NaN                                                                                                                                                                                                                                                                                                                                                               982
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                                                      538
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                                                                 480
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Xenon headlights                                                                                                                                275
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,LED Daytime Running Lights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                           272
                                                                                                                                                                                                                                                                                                                                                                 ...
ABS,Central door lock,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag                                                                                                                                                                                                                                              1
ABS,Adaptive Cruise Control,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Emergency brake assistant,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                 1
ABS,Adaptive Cruise Control,Alarm system,Central door lock,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Lane departure warning system,LED Daytime Running Lights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Xenon headlights                                                1
ABS,Adaptive Cruise Control,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Power steering,Tire pressure monitoring system,Traction control                                                                                                                                                  1
ABS,Adaptive Cruise Control,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Emergency brake assistant,Fog lights,Immobilizer,Isofix,Lane departure warning system,LED Daytime Running Lights,LED Headlights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traffic sign recognition      1
Name: safety&security, Length: 4444, dtype: int64
******************************

In [181]:
df.groupby(["make", "model", "body_type", "age"])["safety&security"].value_counts(dropna=False)

make     model   body_type  age    safety&security
Audi     A1      Compact    0.000  NaN                                                                                                                                                                                                                                                                                                                                               33
                                   ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Emergency brake assistant,Emergency system,Immobilizer,Isofix,Lane departure warning system,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                        30
                                   ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Emergency brake assistant,Emergency system,Immobilizer,Lane departure warning system,LED Daytime Running Lights,LED Headlights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Xenon headlights    24
                                   ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Emergency brake assistant,Emergency system,Immobilizer,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system                                                                                                              18
                                   ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Emergency brake assistant,Emergency system,Immobilizer,Isofix,Lane departure warning system,LED Headlights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                         14
                                                                                                                                                                                                                                                                                                                                                                                     ..
Renault  Espace  Van        3.000  ABS,Driver-side airbag,Isofix,Passenger-side airbag,Power steering                                                                                                                                                                                                                                                                                 1
                                   ABS,LED Headlights,Tire pressure monitoring system,Traction control                                                                                                                                                                                                                                                                                1
                                   Alarm system,Central door lock,Daytime running lights,Fog lights,Power steering                                                                                                                                                                                                                                                                    1
                                   Central door lock,Driver-side airbag,Fog lights,Passenger-side airbag,Power steering,Tire pressure monitoring system                                                                                                                                                                                                                               1
                                   Fog lights                                                                                                                                                                                                                                                                                                                                         1
Name: safety&security, Length: 7179, dtype: int64

In [182]:
df[df["safety&security"].isnull()][["make", "model", "age", "body_type"]].value_counts()

make     model     age    body_type
Audi     A3        3.000  Sedans           48
Opel     Insignia  0.000  Sedans           43
         Corsa     1.000  Other            42
         Insignia  0.000  Station wagon    38
         Astra     1.000  Other            34
Audi     A1        0.000  Compact          33
Opel     Corsa     3.000  Sedans           32
         Astra     1.000  Compact          31
                   0.000  Compact          27
Renault  Espace    2.000  Van              27
Opel     Insignia  2.000  Other            26
                          Sedans           25
Renault  Clio      3.000  Sedans           25
Opel     Corsa     2.000  Compact          23
Renault  Clio      2.000  Sedans           22
                          Compact          21
Opel     Corsa     1.000  Compact          20
Audi     A1        2.000  Sedans           19
Renault  Espace    1.000  Van              18
Opel     Corsa     2.000  Other            17
                   3.000  Compact          16
Audi     A1        0.000  Sedans           15
Opel     Insignia  1.000  Station wagon    15
         Astra     2.000  Compact          15
Renault  Espace    3.000  Van              15
Audi     A3        2.000  Sedans           14
Renault  Clio      3.000  Compact          12
Opel     Insignia  2.000  Station wagon    12
                   3.000  Sedans           12
Audi     A3        3.000  Compact          12
Opel     Astra     0.000  Station wagon    11
                   2.000  Other            11
         Corsa     0.000  Compact          11
                          Other            10
         Astra     3.000  Station wagon     9
         Insignia  3.000  Station wagon     9
Renault  Espace    0.000  Van               9
Opel     Astra     1.000  Station wagon     9
Audi     A1        1.000  Sedans            8
         A3        1.000  Sedans            8
Opel     Insignia  1.000  Sedans            7
         Corsa     0.000  Sedans            7
Audi     A1        3.000  Sedans            7
                   1.000  Compact           7
Renault  Clio      3.000  Station wagon     6
Audi     A1        3.000  Compact           6
Opel     Insignia  0.000  Other             6
Audi     A3        2.000  Compact           6
Renault  Clio      0.000  Compact           6
Opel     Astra     3.000  Compact           6
Audi     A3        0.000  Sedans            6
Opel     Astra     0.000  Other             5
                   3.000  Other             5
         Corsa     1.000  Sedans            5
         Astra     3.000  Sedans            5
Renault  Clio      0.000  Other             4
Audi     A3        0.000  Compact           4
Opel     Astra     0.000  Sedans            4
         Insignia  0.000  Compact           4
                   1.000  Other             4
                   0.000  Off-Road          4
Audi     A1        2.000  Compact           4
Opel     Astra     2.000  Sedans            4
Audi     A3        1.000  Compact           3
Opel     Insignia  3.000  Other             3
Audi     A3        2.000  Station wagon     3
Renault  Clio      0.000  Sedans            3
                          Station wagon     3
                   1.000  Compact           3
                          Sedans            3
                          Station wagon     3
         Espace    3.000  Station wagon     3
         Clio      3.000  Transporter       2
         Espace    0.000  Compact           2
         Clio      2.000  Station wagon     2
Opel     Insignia  2.000  Compact           2
                   1.000  Compact           2
         Astra     1.000  Sedans            2
         Corsa     3.000  Other             2
         Astra     2.000  Station wagon     2
Renault  Clio      2.000  Other             1
         Espace    2.000  Station wagon     1
                   3.000  Transporter       1
                          Other             1
                          Compact           1
Audi     A3        3.000  Station wagon     1
Renault  Espace    2.000  Other             1
         Clio      2.000  Van               1
Audi     A3        3.000  Other             1
Opel     Corsa     2.000  Off-Road          1
Audi     A3        1.000  Station wagon     1
         A1        1.000  Station wagon     1
Opel     Corsa     2.000  Sedans            1
dtype: int64

In [183]:
df.groupby(["make", "model", "age", "body_type"])["safety&security"].fillna(method="pad").fillna(method="backfill").isnull().sum()

0

In [184]:
df["safety&security"] = df.groupby(["make", "model", "age", "body_type"])["safety&security"].fillna(method="pad").fillna(method="backfill")

In [185]:
df["safety&security"].isnull().sum()

0

## 25.gears

In [186]:
check_df("gears")

column name :  gears
--------------------------------
Per_of_Nulls   :  % 29.6
Num_of_Nulls   :  4712
6.000     5822
NaN       4712
5.000     3239
7.000     1908
8.000      224
9.000        6
1.000        2
3.000        2
4.000        2
2.000        1
50.000       1
Name: gears, dtype: int64
******************************

In [187]:
df.groupby(["make", "model", "body_type", "engine_displacement_cc"])["gears"].value_counts(dropna=False).head(100)

make  model  body_type      engine_displacement_cc  gears
Audi  A1     Compact        929.000                 NaN         5
                            995.000                 NaN         2
                            999.000                 NaN       282
                                                    5.000     183
                                                    7.000     130
                                                    6.000      75
                                                    8.000       1
                            1000.000                5.000       4
                                                    NaN         1
                                                    6.000       1
                                                    7.000       1
                            1395.000                NaN        68
                                                    7.000      26
                                                    6.000       4
                            1422.000                NaN        84
                                                    5.000      65
                                                    7.000      12
                            1498.000                7.000       9
                                                    NaN         5
                            1596.000                5.000       1
                            1598.000                5.000      26
                                                    NaN        23
                                                    7.000      18
                                                    6.000       2
                            1600.000                5.000       1
                            1798.000                7.000       2
                            1984.000                7.000       4
                                                    NaN         3
                                                    6.000       1
             Coupe          999.000                 5.000       1
                            1598.000                NaN         1
             Other          999.000                 NaN         5
                                                    7.000       3
                                                    5.000       2
                            1598.000                5.000       2
                                                    7.000       1
             Sedans         998.000                 5.000       2
                            999.000                 5.000     286
                                                    NaN       272
                                                    7.000     241
                                                    6.000      82
                                                    8.000       1
                            1000.000                NaN         5
                                                    5.000       1
                                                    7.000       1
                            1197.000                NaN         1
                            1395.000                NaN        39
                                                    7.000      33
                                                    6.000      14
                            1422.000                5.000     145
                                                    NaN        96
                                                    7.000      62
                                                    6.000       1
                            1498.000                NaN         1
                                                    7.000       1
                            1596.000                7.000       1
                            1598.000                7.000      98
                                                    5.000      89
                                                    NaN        45
                                                    6.000       1
                            1600.000                NaN         1
                            1798.000                7.000      10
                                                    NaN         4
                            1984.000                6.000       3
                                                    NaN         2
             Station wagon  999.000                 5.000       4
                                                    NaN         2
                                                    7.000       2
                            1395.000                NaN         3
                                                    6.000       1
                            1422.000                5.000       5
                                                    NaN         1
                                                    7.000       1
                            1598.000                NaN         1
                                                    5.000       1
             Van            1984.000                6.000       1
      A2     Off-Road       1598.000                NaN         1
      A3     Compact        999.000                 7.000       8
                                                    6.000       7
                                                    NaN         1
                            1197.000                NaN         1
                            1395.000                6.000      38
                                                    7.000       8
                                                    NaN         2
                            1400.000                6.000       1
                            1495.000                6.000       1
                                                    7.000       1
                            1498.000                6.000       1
                            1499.000                7.000       2
                            1598.000                7.000      47
                                                    6.000      38
                                                    NaN        13
                                                    5.000       1
                            1600.000                6.000       1
                            1968.000                6.000       5
                                                    7.000       3
                                                    NaN         2
                            2480.000                7.000       1
             Convertible    1395.000                7.000       1
                            1498.000                7.000       1
Name: gears, dtype: int64

In [188]:
df.gears.mode()

0   6.000
dtype: float64

In [189]:
df.gears = df.groupby(["make", "model", "body_type"])["gears"].fillna(method="ffill").fillna(method = "bfill")

In [190]:
df.gears.isnull().sum()

0

## 26.country_version

In [191]:
check_df("country_version")

column name :  country_version
--------------------------------
Per_of_Nulls   :  % 52.35
Num_of_Nulls   :  8333
NaN               8333
Germany           4502
Italy             1038
European Union     507
Netherlands        464
Spain              325
Belgium            314
Austria            208
Czech Republic      52
Poland              49
France              38
Denmark             33
Hungary             28
Japan                8
Slovakia             4
Croatia              4
Sweden               3
Romania              2
Bulgaria             2
Luxembourg           1
Switzerland          1
Slovenia             1
Egypt                1
Serbia               1
Name: country_version, dtype: int64
******************************

In [192]:
df.groupby(["make", "model", "body_type"])["country_version"].value_counts(dropna=False).head(100)

make  model  body_type      country_version
Audi  A1     Compact        Germany             448
                            NaN                 426
                            Netherlands          68
                            European Union       58
                            Denmark              15
                            Italy                 8
                            Austria               5
                            Belgium               5
                            France                2
                            Poland                2
                            Romania               1
                            Spain                 1
             Coupe          NaN                   2
             Other          NaN                   7
                            Italy                 5
                            Germany               1
             Sedans         NaN                 948
                            Germany             314
                            Italy               143
                            Spain                61
                            Belgium              43
                            Austria              14
                            European Union        9
                            France                3
                            Luxembourg            1
                            Slovakia              1
                            Switzerland           1
             Station wagon  NaN                  16
                            Germany               4
                            Spain                 1
             Van            NaN                   1
      A2     Off-Road       Germany               1
      A3     Compact        NaN                 131
                            Netherlands          33
                            Belgium              12
                            Germany               3
                            Austria               2
                            Italy                 1
             Convertible    NaN                   4
                            Italy                 2
                            Netherlands           2
             Coupe          NaN                   2
                            Belgium               1
                            Italy                 1
             Other          NaN                  14
                            Italy                 2
             Sedans         NaN                1624
                            Italy               334
                            Germany             306
                            European Union      173
                            Belgium              63
                            Spain                58
                            Poland               16
                            Austria              15
                            Czech Republic        6
                            France                3
                            Netherlands           3
                            Hungary               2
                            Slovenia              1
                            Sweden                1
             Station wagon  NaN                 105
                            Germany              70
                            European Union       46
                            Denmark              15
                            Italy                13
                            Czech Republic       12
                            Belgium              10
                            Hungary               4
                            France                3
                            Spain                 2
                            Austria               1
                            Sweden                1
Opel  Astra  Compact        NaN                 130
                            Netherlands          35
                            Germany              20
             Coupe          Germany               2
             Off-Road       NaN                   1
             Other          NaN                  58
                            Italy                 3
                            Germany               2
                            Poland                2
                            Austria               1
                            European Union        1
             Sedans         NaN                 511
                            Germany             384
                            Spain                41
                            Italy                26
                            Belgium              22
                            European Union       20
                            Czech Republic       17
                            Netherlands          12
                            Austria               7
                            Poland                6
                            Croatia               2
                            Hungary               2
                            Egypt                 1
                            France                1
                            Romania               1
             Station wagon  NaN                 597
                            Germany             432
Name: country_version, dtype: int64

In [193]:
df.country_version.fillna(value="Unknown").value_counts(dropna=False)

Unknown           8333
Germany           4502
Italy             1038
European Union     507
Netherlands        464
Spain              325
Belgium            314
Austria            208
Czech Republic      52
Poland              49
France              38
Denmark             33
Hungary             28
Japan                8
Slovakia             4
Croatia              4
Sweden               3
Romania              2
Bulgaria             2
Luxembourg           1
Switzerland          1
Slovenia             1
Egypt                1
Serbia               1
Name: country_version, dtype: int64

In [194]:
df.country_version = df.country_version.fillna(value="Unknown")

In [195]:
df.country_version.isnull().sum()

0

## 27.consumption_comb

In [196]:
check_df("consumption_comb")

column name :  consumption_comb
--------------------------------
Per_of_Nulls   :  % 23.81
Num_of_Nulls   :  3790
NaN       3790
5.400      769
3.900      733
5.100      654
4.400      623
5.600      618
4.700      602
3.800      585
4.800      546
4.500      523
5.200      454
4.200      435
4.600      426
4.900      393
5.500      380
5.300      379
5.900      369
3.700      369
5.700      342
4.100      342
4.300      307
3.300      298
3.500      285
6.200      216
3.600      193
6.300      181
6.100      175
5.800      164
6.600      148
6.800      136
3.400       94
6.400       75
7.400       66
6.500       43
6.700       43
7.100       38
6.900       27
3.200       25
8.300       19
7.600       14
3.100        7
7.800        6
7.200        6
8.600        4
1.600        3
8.700        3
7.900        3
7.300        2
8.100        2
7.500        1
9.100        1
1.200        1
13.800       1
Name: consumption_comb, dtype: int64
******************************

In [197]:
df.groupby(['make','model','cylinders','weight_kg', 'body_type'])['consumption_comb'].mean()

make     model   cylinders  weight_kg  body_type
Audi     A1      3.000      102.000    Compact       4.600
                            1010.000   Compact       4.200
                                       Coupe         4.200
                            1035.000   Compact       4.200
                                       Sedans        4.200
                                                      ...
Renault  Espace  4.000      2410.000   Transporter   6.200
                                       Van           6.200
                            2471.000   Van           4.700
                 8.000      1685.000   Van             NaN
                            1734.000   Other           NaN
Name: consumption_comb, Length: 997, dtype: float64

In [198]:
df[df.consumption_comb.isnull()][["consumption_city", "consumption_country"]].value_counts()

consumption_city  consumption_country
6.300             4.200                  210
4.500             3.700                  201
4.700             3.600                  118
7.800             4.900                  115
4.200             3.900                   69
4.600             3.600                   51
3.400             3.800                   37
6.500             4.100                   37
5.900             4.500                   35
4.400             3.700                   32
7.300             5.200                   29
4.200             3.800                   22
7.700             4.900                   21
6.300             4.300                   19
4.800             3.500                   19
4.600             5.700                   19
3.300             3.500                   19
3.500             3.800                   19
5.500             3.900                   18
5.800             4.500                   18
4.300             3.500                   17
4.500             3.500                   15
                  3.600                   14
7.500             5.200                   12
4.900             3.500                   12
6.200             4.300                   10
7.800             4.800                   10
4.300             3.900                    8
7.900             4.900                    8
6.400             4.200                    7
8.200             4.700                    7
7.700             5.100                    6
6.100             4.400                    6
                  4.300                    6
4.300             3.800                    5
8.200             4.800                    4
4.300             3.600                    4
7.600             5.100                    4
9.500             5.500                    3
4.500             3.400                    3
6.200             4.200                    2
4.400             3.600                    2
4.600             3.700                    2
7.200             4.700                    2
6.600             4.400                    2
6.700             4.200                    2
9.600             5.500                    2
7.400             5.100                    2
4.400             3.400                    1
3.800             4.400                    1
3.600             4.700                    1
7.300             4.500                    1
7.100             4.500                    1
6.800             4.500                    1
                  4.300                    1
6.600             4.200                    1
6.500             4.400                    1
                  4.200                    1
5.100             3.300                    1
6.400             4.300                    1
5.100             3.800                    1
5.200             3.900                    1
9.800             5.900                    1
dtype: int64

In [199]:
df.groupby(['make','model','cylinders','weight_kg', 'body_type'])['consumption_comb'].value_counts(dropna=False).head(60)

make  model  cylinders  weight_kg  body_type      consumption_comb
Audi  A1     3.000      102.000    Compact        4.600                1
                        1010.000   Compact        4.200                2
                                   Coupe          NaN                  1
                                                  4.200                1
                        1035.000   Compact        4.200                6
                                   Sedans         4.200                5
                        1040.000   Compact        4.200                1
                                                  4.400                1
                        1060.000   Sedans         4.200                2
                        1065.000   Compact        4.400               25
                                                  4.500                7
                                                  NaN                  3
                                                  4.600                1
                                   Sedans         4.400                1
                        1088.000   Sedans         4.200                1
                        1090.000   Compact        4.400                7
                                                  4.200                2
                                   Sedans         NaN                  2
                                                  4.400                2
                        1094.000   Sedans         4.200                1
                        1097.000   Sedans         4.200                4
                        1100.000   Compact        4.400                2
                        1105.000   Compact        3.700               10
                                                  3.400                2
                                   Sedans         4.300                1
                        1110.000   Compact        4.200               10
                                                  4.400                6
                                                  NaN                  5
                                   Sedans         4.200               35
                                                  4.400                4
                                                  5.100                3
                                                  4.300                2
                                                  3.900                1
                                                  4.600                1
                                                  4.800                1
                        1114.000   Sedans         4.300                1
                        1115.000   Sedans         5.100                1
                        1118.000   Sedans         5.100                2
                        1120.000   Sedans         3.400                4
                                                  3.600                1
                                                  3.700                1
                        1125.000   Sedans         4.200                1
                                   Station wagon  5.800                1
                        1130.000   Sedans         3.400                3
                                                  3.700                1
                        1133.000   Compact        4.600                3
                                   Sedans         4.800                4
                                                  NaN                  2
                        1134.000   Compact        4.200                6
                                   Sedans         4.200                1
                                                  4.300                1
                                                  4.400                1
                                                  4.600                1
                        1135.000   Compact        4.400               29
                                                  4.300               10
                                                  4.200                7
                                                  NaN                  4
                                                  4.500                1
                                                  5.100                1
                                   Sedans         4.200               59
Name: consumption_comb, dtype: int64

In [200]:
df.body_type.value_counts()

Sedans           7925
Station wagon    3563
Compact          3155
Van               809
Other             290
Transporter        88
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

In [201]:
df.columns

Index(['body_type', 'price_€', 'vat', 'km', 'hp_kW', 'type', 'previous_owners',
       'warranty', 'make', 'model', 'body_color', 'paint_type', 'upholstery',
       'nr_of_doors', 'nr_of_seats', 'gearing_type', 'engine_displacement_cc',
       'cylinders', 'weight_kg', 'drive_chain', 'fuel', 'co2e_g',
       'emission_class', 'comfort&convenience', 'entertainment&media',
       'extras', 'safety&security', 'gears', 'country_version',
       'consumption_comb', 'consumption_city', 'consumption_country', 'age'],
      dtype='object')

In [202]:
df.isnull().sum()

body_type                    0
price_€                      0
vat                          0
km                           0
hp_kW                        0
type                         0
previous_owners              0
warranty                     0
make                         0
model                        0
body_color                   0
paint_type                   0
upholstery                   0
nr_of_doors                  0
nr_of_seats                  0
gearing_type                 0
engine_displacement_cc       0
cylinders                    0
weight_kg                    0
drive_chain                  0
fuel                         0
co2e_g                       0
emission_class               0
comfort&convenience          0
entertainment&media          0
extras                       0
safety&security              0
gears                        0
country_version              0
consumption_comb          3790
consumption_city          4039
consumption_country       3365
age                          0
dtype: int64

In [203]:
df["consumption_city"].fillna((df["consumption_comb"] - df["consumption_country"]*0.62)/0.38).isnull().sum()

2942

In [204]:
df["consumption_city"] = df["consumption_city"].fillna(abs(df["consumption_comb"] - df["consumption_country"]*0.62)/0.38)

In [205]:
df["consumption_city"].isnull().sum()

2942

In [206]:
df["consumption_country"].fillna((df["consumption_comb"] - df["consumption_city"]*0.38)/0.62).isnull().sum()

2876

In [207]:
df["consumption_country"] = df["consumption_country"].fillna(abs((df["consumption_comb"] - df["consumption_city"]*0.38)/0.62))

In [208]:
df["consumption_country"].isnull().sum()

2876

In [209]:
df["consumption_comb"].fillna(abs(df["consumption_country"]*0.62 + df["consumption_city"]*0.38)).isnull().sum()

2490

In [210]:
df["consumption_comb"] = df["consumption_comb"].fillna(abs(df["consumption_country"]*0.62 + df["consumption_city"]*0.38))

In [211]:
df["consumption_comb"].isnull().sum()

2490

### consumption_city

In [212]:
df.consumption_city = df.groupby(["make", "model", "body_type" ,"weight_kg", "cylinders", "fuel"])["consumption_city"].fillna(method="ffill").fillna(method="bfill")

### consumption_country

In [213]:
df.consumption_country = df.groupby(["make", "model", "body_type" ,"weight_kg", "cylinders", "fuel"])["consumption_country"].fillna(method="ffill").fillna(method="bfill")

### consumption_comb

In [214]:
df["consumption_comb"] = df["consumption_comb"].fillna(abs(df["consumption_country"]*0.62 + df["consumption_city"]*0.38))

In [215]:
df.isnull().sum()

body_type                 0
price_€                   0
vat                       0
km                        0
hp_kW                     0
type                      0
previous_owners           0
warranty                  0
make                      0
model                     0
body_color                0
paint_type                0
upholstery                0
nr_of_doors               0
nr_of_seats               0
gearing_type              0
engine_displacement_cc    0
cylinders                 0
weight_kg                 0
drive_chain               0
fuel                      0
co2e_g                    0
emission_class            0
comfort&convenience       0
entertainment&media       0
extras                    0
safety&security           0
gears                     0
country_version           0
consumption_comb          0
consumption_city          0
consumption_country       0
age                       0
dtype: int64

In [216]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 33 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   body_type               15919 non-null  object
 1   price_€                 15919 non-null  float64
 2   vat                     15919 non-null  object
 3   km                      15919 non-null  float64
 4   hp_kW                   15919 non-null  float64
 5   type                    15919 non-null  object
 6   previous_owners         15919 non-null  float64
 7   warranty                15919 non-null  float64
 8   make                    15919 non-null  object
 9   model                   15919 non-null  object
 10  body_color              15919 non-null  object
 11  paint_type              15919 non-null  object
 12  upholstery              15919 non-null  object
 13  nr_of_doors             15919 non-null  float64
 14  nr_of_seats             15919 non-null  float64
 15  gearing_type            15919 non-null  object
 16  engine_displacement_cc  15919 non-null  float64
 17  cylinders               15919 non-null  float64
 18  weight_kg               15919 non-null  float64
 19  drive_chain             15919 non-null  object
 20  fuel                    15919 non-null  object
 21  co2e_g                  15919 non-null  float64
 22  emission_class          15919 non-null  object
 23  comfort&convenience     15919 non-null  object
 24  entertainment&media     15919 non-null  object
 25  extras                  15919 non-null  object
 26  safety&security         15919 non-null  object
 27  gears                   15919 non-null  float64
 28  country_version         15919 non-null  object
 29  consumption_comb        15919 non-null  float64
 30  consumption_city        15919 non-null  float64
 31  consumption_country     15919 non-null  float64
 32  age                     15919 non-null  float64
dtypes: float64(16), object(17)
memory usage: 4.0+ MB

In [217]:
df.columns

Index(['body_type', 'price_€', 'vat', 'km', 'hp_kW', 'type', 'previous_owners',
       'warranty', 'make', 'model', 'body_color', 'paint_type', 'upholstery',
       'nr_of_doors', 'nr_of_seats', 'gearing_type', 'engine_displacement_cc',
       'cylinders', 'weight_kg', 'drive_chain', 'fuel', 'co2e_g',
       'emission_class', 'comfort&convenience', 'entertainment&media',
       'extras', 'safety&security', 'gears', 'country_version',
       'consumption_comb', 'consumption_city', 'consumption_country', 'age'],
      dtype='object')

In [218]:
df.to_csv("auto_scout_filled.csv", index=False)